@import (reference) '../../../../views/less/custom.less';

.room-constructor-header {
    @import (multiple, reference) '../../../../views/less_include/form.less';

    input[type=radio] {
        &:extend(.room-constructor-header input[type=radio] all);
    }
    input[type='text'] {
        &:extend(.room-constructor-header input[type='text'] all);
    }

    & > .row {
        position: relative;

        & > [class^='col-'] {
            .paddingBig(1,0,1,0);
        }
    }

    h4 {
        .font-size-responsive-by-array(24 24 24 30 24);
    }
    h5 {
        color: @colorTextDark;
        .paddingSmall(1,0,1,0);
    }
    .no-padding-left {
        padding-left: 0;
    }
    .no-padding-right {
        padding-right: 0;
    }

    .info {
        .text {
            .font-size-responsive-by-array(16 16 16 20 16);
            .paddingMiddle(1,0,0,0);
        }
    }

    .rooms-list {
        .values {
            display: flex;
            flex-flow: row wrap;
            justify-content: left;
        }
    }
    .rooms-square {
        .values {
            width: auto;
            .varByArray(~"max-width", 128px 128px 128px ceil(128px*0.9) ceil(128px*0.75));
        }
    }
}
