@import (reference) '../../../../views/less/custom.less';
@import './roomConstructorHeader.less';

@innerPanelSz: @bigPadding, @bigPadding, @bigPadding, ceil(@bigPadding*0.75), ceil(@bigPadding*0.75);

.room-constructor-body {
    .room-block {
        @import '../../../../views/less_include/loader.less';
        .loader {
            .loader(60px, 60px);
        }

        .room-panels {
            position: absolute;
            z-index: 1;
            .paddingMiddle(1,0,0,0);
            .paddingByArray(0 0 @middlePadding-sm @middlePadding-xs, 0,0,0,1, 3);

            .compartments-panel {
                .compartments-item {
                    float: left;

                    .value {
                        @inputH:     40px 40px 40px 36px 32px;
                        .varByArray(~'min-width', @inputH);
                        .paddingSmall(1,0,1,0);
                        .paddingSmall(0,1,0,1, 1.5);
                        .font(@mainFont, bold);
                        border: 0px none;
                        background: transparent;
                        text-align: left;
                        margin-right: 2px;
                        background-color: @mainBg;
                        cursor: pointer;
                        display: inline-block;
                        user-select: none;

                        .fa {
                            .marginSmall(0,0,0,1);
                        }
                        &.active {
                            background: @yellow;
                        }
                    }
                    .dropdown-panel {
                        * {
                            user-select: none;
                        }
                        background-color: @mainBg;
                        margin-right: 2px;

                        .item {
                            .paddingSmall(1,1,1,1);
                            &:hover {
                                background-color: @yellow;
                            }
                        }
                    }
                }
            }

            .groups-panel {
                .groups-item {
                    border: 2px solid @yellow;
                    user-select: none;
                    
                    & > div {
                        @btnH:         40px 40px 40px 36px 32px;

                        .varByArray(~'height', @btnH);
                        .font-size-responsive-by-array(15 15 15 15 13, @btnH);
                        display: inline-block;
                        text-align: center;
                        vertical-align: middle;

                        &.square {
                            .varByArray(~'width', @btnH);
                        }
                    }
                    // //--------------------------------------------------
                    // // Button group
                    // //--------------------------------------------------
                    // .btn-group {
                    //     @btnGroupH:         40px 40px 40px 36px 32px;
                    //     @btnGroupLineH:     36px 36px 36px 32px 26px;
                    //     @btnGroupPadding:   18px 18px 18px 14px 10px;

                    //     .varByArray(~'height', @btnGroupH);
                    //     .varByArray(~'min-width', @btnGroupH);
                    //     .varByArray(~'padding-left', @btnGroupPadding);
                    //     .varByArray(~'padding-right', @btnGroupPadding);
                    //     background-color: @lightGrey;
                    //     margin: 0px;
                    //     text-align: center;

                    //     .paddingSmall(0,1,0,1);
                    // }

                    .item {

                    }
                }
            }
        }

        .room-image {
            position: relative;

            // &:not(.no-shadow) {
            //     .cont:after,
            //     .fix-img:after {
            //         content: '';
            //         display: block;
            //         width: 100%;
            //         height: 18px;
            //         background: url(../../img/rm_shadow.png) left top no-repeat;
            //         background-size: contain;
            //         -webkit-transform: translateZ(0);
            //     }
            // }
            
            // .cont {
            //     position: relative;
            // }

            // .fix-img {
            //     position: fixed;
            //     top: 0;
            //     //left: 0;
            //     z-index: 2;
            // }

            img {
                position: relative;
                width: 100%;
                //max-width: @siteW;
            }

            .main {
                position: relative;

                // Картинка шире сайта
                margin-left: -50px;
                margin-right: -50px;
                @media (max-width: @screen-md) {
                    margin-left: 0;
                    margin-right: 0;
                }

                img {
                    background-color: @darkGrey;
                }
            }
            // [id^='group_'] {
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            // }
        }
    }

    .room-content {
        width: 100%;
        //max-width: 749px;
        margin: 0 auto;
        min-height: 200px;
        position: relative;

        @media screen and (orientation: landscape) and (max-width: 600px) {     // фиксируем ширину для работы только на мобильных
            max-width: 350px;
        }
    }
}























.room-constructor-widget {
    .fa.fa-rub {
        font-size: 0.9em;
    }

    // Скрываем ошибки формы
    input.error {
        border-color: lighten(@red, 20%) !important;
        & + label.error {
            display: none !important;
        }
    }

    .paddingByArray(70px 70px 70px 53px 35px, 0, 0, 1, 0);


    .rooms-additional-service,
    .rooms-send-form,
    .result-panel .result-panel-inner,
    .fixed-panel .fixed-panel-inner,
    .float-panel .float-panel-inner {
        margin-left: auto;
        margin-right: auto;

        width: 100%;
    }
    .rooms-send-form {
        .paddingByArray(0 0 @bigPadding-sm @bigPadding-xs, 0, 1, 0 1);
    }

    .fixed-panel,
    .float-panel {
        z-index: 2;
        
        &.float {
            background-color: fade(@black, 90%);
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 100%;

            &.top {
                bottom: initial;
                top: 0;
            }
        }

        .fixed-panel-inner {
            .marginByArray(@innerPanelSz, 1,0,1,0);
            .paddingByArray(@innerPanelSz, 0,1,0,1);
        }
        .float-panel-inner {
            .marginByArray(@innerPanelSz, 0,0,1,0);
        }
    }

    .float-panel {
        display: none !important;
        &.float {
            display: initial !important;
        }
    }


    .float-panel,
    .result-panel {
        .result-panel-inner {
            .paddingMiddle(1,1,1,1);
        }

        .float-panel-inner .float-panel-info,
        .result-panel-inner {
            display: block;
            color: @darkGrey;
            @sz: extract(@mainFontSize, 1)-4, extract(@mainFontSize, 2)-4, extract(@mainFontSize, 3)-4, extract(@mainFontSize, 4), extract(@mainFontSize, 5);
            .font-size-responsive-by-array(@sz);
        }
        .float-panel-inner {
            text-align: center;

            .float-panel-cost {
                display: inline-block;
                .paddingBig(0,0,0,1);
                .paddingBig(0,1,0,0, 0.5);
                .marginByArray(@innerPanelSz, 1,0,0,0);
                vertical-align: middle;

                .panel-info,
                .panel-result {
                    color: @colorTextWhite;
                    // transform: translateY(50%);          // Только для одной строки
                }
                .panel-info {
                    .font(@mainFont, bold);
                    @sz: extract(@mainFontSize, 1), extract(@mainFontSize, 2), extract(@mainFontSize, 3), extract(@mainFontSize, 4)+4, extract(@mainFontSize, 5)+6;
                    .font-size-responsive-by-array(@sz);
                    white-space: nowrap;
                }
                .panel-result {
                    @sz: extract(@mainFontSize, 1)-4, extract(@mainFontSize, 2)-4, extract(@mainFontSize, 3)-4, extract(@mainFontSize, 4)+2, extract(@mainFontSize, 5)+2;
                    .font-size-responsive-by-array(@sz);
                    white-space: nowrap;
                }
            }

            .float-panel-submit {
                display: inline-block;
                .paddingBig(0,1,0,0);
                .paddingBig(0,0,0,1, 0.5);
                .marginByArray(@innerPanelSz, 1,0,0,0);
                vertical-align: middle;
            }
        }

        .result-panel-inner {
            border-top: 2px solid @colorSeparatorLine;
            border-bottom: 2px solid @colorSeparatorLine;
        }
    }

    .room-block {
        @import '../../../../views/less_include/form.less';

        // @import '../../../../views/less_include/loader.less';
        // .loader {
        //     .loader(60px, 60px);
        // }

        .not-calc-header {
            .marginBig(1,0,0,0, -1);
        }
        .room-section {
            .marginMiddle(1,0,0,0);

            &:before {
                @coeff: 0.75;

                content: '';
                display: block;
                width: ceil(22px * @coeff);
                height: ceil(32px * @coeff);
                margin: 0 auto;
                background: url(../../img/arrow_down.png) center center no-repeat;
                background-size: cover;
            }
        }

        .header {
            .font(RobotoSlab, regular);
            .paddingSmall(1,0,1,0);
            text-align: center;

            //&:before {
            //    content: counter(list) ". ";    // Выводим число
            //    counter-increment: list;        // Увеличиваем значение счетчика
            //}

            &:not(.big) {
                .font-size-responsive-ex(@h4-size);
            }
            &.big {
                .font-size-responsive-ex(@h2-size);
            }
        }

        .step-info {
            text-align: center;
            .paddingSmall(0,0,1,0);
            color: @colorTextDark;
        }

        .calc-header {
            .font(@mainFont, thin);
            .font-size-responsive-by-array(38 38 38 36 24);
            text-align: center;
            .paddingMiddle(1,0,0,0);
        }


        .rooms-list-cont {
            .paddingByArray(@innerIndents, 0,1,0,1);
            //.marginBig(1,0,0,0);

            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: flex-start;
            align-content: flex-start;

            .paddingSmall(0,0,1,0);

            .rooms-list {
                .paddingMiddle(1,1,1,1);
    
                .values {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                }
            }
            .rooms-square {
                .paddingMiddle(1,1,1,1);

                .values {
                    .varByArray(~"width", 158px 158px 158px ceil(158px*0.9) ceil(158px*0.75));
                }
            }
            .title {
                text-align: center;
                .paddingSmall(0,0,1,0);
            }
        }


        .rooms-additional-service {
            //.marginByArray(@innerIndents, 0,1,0,1);
            .paddingMiddle(1,0,0,0);
            .marginMiddle(1,0,0,0);

            background: @white;

            & > table {
                //width: 100%;
                .marginByArray(@innerIndents, 0,1,0,1);

                h4, h4 * {
                    display: inline;
                }

                tr td:nth-child(1) {
                }
                tr td:nth-last-child(1) {
                    white-space: nowrap;
                    .paddingBig(0,0,0,1);
                }
            }

            .subitems {
                .paddingBig(0,1,0,1, 3);
                .paddingBig(0,0,1,0);
                
                table {
                    width: 100%;

                    tr td {
                        border-bottom: @colorSeparatorLine 1px solid;
                        vertical-align: middle;
                        .paddingSmall(1,0,0,0);

                        // rewrite bootstrap
                        label {
                            margin-bottom: 0px;
                        }
    
                        &:nth-last-child(1) {
                            text-align: right;
                            white-space: nowrap;
                        }
                    }

                    tr:nth-last-child(1) td {
                        border-bottom: none;
                    }
                }
            }

            .btn-question {
                color: @colorText;      // For colored when disabled
                .border-radius(50%);
                background-color: @lightGrey;
                border: 0px;
                vertical-align: text-bottom;
                position: relative;

                .question {
                    position: absolute;
                    left: 0;
                    top: 0;
                    .font-size-em(14px);
                    display: block;
                }

                &, .question {
                    .varByArray(~"width", 20px 20px 20px 16px 12px);
                    .varByArray(~"height", 20px 20px 20px 16px 12px);
                    .varByArray(~"line-height", 20px 20px 20px 16px 12px);
                }

                &.select {
                    background-color: @yellow;
                }

                & + .popover {
                    background: @black;
                    .border-radius(0);
                    .paddingSmall(1,1,1,1);

                    &.bottom .arrow:after {
                        content: " ";
                        border-bottom-color: @black;
                    }
                    .popover-content {
                        color: @colorTextWhite;
                        @sz: extract(@mainFontSize, 1)-4, extract(@mainFontSize, 2)-4, extract(@mainFontSize, 3)-4, extract(@mainFontSize, 4), extract(@mainFontSize, 5);
                        .font-size-responsive-by-array(@sz);

                        a {
                            color: @yellow;
                        }
                    }
                }
            }

            .hint {
                .font-size-em(16px);
            }

            a.pdf {
                color: @colorLink;
                text-decoration: underline;
                display: inline-block;          // Чтобы иконка не переносилась отдельно от текста

                &:after {
                    @w: 20px;
                    @h: 20px;

                    content: '';
                    width: @w;
                    height: @h;
                    background: url(../../img/pdf.png) left top no-repeat;
                    background-size: cover;
                    display: inline-block;
                    vertical-align: middle;
                    .marginSmall(0,0,0,1);
                }
            }
        }

        .rooms-send-form {
            .info {
                font-size: 1.5em;
                line-height: initial;
            }
        }

        .result {
            margin: 0 auto;
            .marginBig(1,0,0,0);
            width: 100%;
            max-width: 540px;
        }
        table.result tr {
            &:not(:first-child) {
                border-top: 1px solid @colorSeparatorLine;

                & td {
                    .paddingSmall(1,0,0,0);
                }
            }
            & > td:nth-child(1) {
                .paddingByArray(@innerIndents, 0,0,0,1);
            }
            & > td:nth-last-child(1) {
                .paddingByArray(@innerIndents, 0,1,0,0);
                text-align: right;
            }
        }

        .rooms-send-form {
            label {
                display: block;
                margin: 0 auto;
                .paddingMiddle(0,0,1,0);
            }
            @media (max-width: @screen-xs) {
                input[type='submit'] {
                    width: 100%;
                }
            }
        }
    }

    .room-content {
        width: 100%;
        max-width: 749px;
        margin: 0 auto;
        min-height: 200px;
        position: relative;

        @media screen and (orientation: landscape) and (max-width: 600px) {     // фиксируем ширину для работы только на мобильных
            max-width: 350px;
        }
    }

    .politic {
        .font-size(11);
    }
}

@import '../../less/roomData.less';

.modal:not(.light) {
    text-align: center;

    &:not(.error) .modal-content {
        background-color: @yellow;
    }
    &.error .modal-content {
        background-color: @red;
    }
    .modal-content {
        .font-size-responsive-by-array(@h4-size);
        .font(@mainFont, bold);
        text-align: center;
        border: 0px none;
        .border-radius(0);
    }
}
.modal.light {
    text-align: center;

    .modal-content {
        .font-size-em(12px);
        text-align: left;
        border: 0px none;
        .border-radius(0);

        @import "../../../../views/less_include/text.less";
    }
}

@media screen and (min-width: 768px) { 
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


#render_picture {
    position: relative;

    .cont:after,
    .fix-img:after {
        content: '';
        display: block;
        width: 100%;
        height: 18px;
        background: url(../../img/rm_shadow.png) left top no-repeat;
        background-size: contain;
        -webkit-transform: translateZ(0);
    }

    .cont {
        position: relative;
    }

    .fix-img {
        position: fixed;
        top: 0;
        //left: 0;
        z-index: 2;
    }

    img {
        position: relative;
        width: 100%;
        max-width: @siteW;
    }

    .main {
        position: relative;
        img {
            background-color: @darkGrey;
        }
    }
    [id^='group_'] {
        position: absolute;
        left: 0;
        top: 0;
    }
}
