.enable_plugin_colorbox() when(@enable-plugin-colorbox = true) {


//colorbox plugin used in gallery page
#colorbox:focus , #colorbox:active {
 outline:none;
}
#cboxTopLeft, #cboxTopCenter, #cboxTopRight,
#cboxMiddleLeft, #cboxMiddleRight,
#cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight
{
  background:none !important;
  opacity:0;
}
#cboxContent {
  //border:12px solid #000;
  background-color:#FFF;
  //padding:7px;
}
#cboxOverlay {
  background:rgba(0,0,0,0.95);
  background:#000;
}
#cboxCurrent {
  left: 64px;
  margin-bottom:4px;
  font-size: @base-font-size + 1;
}
#cboxTitle {
  margin-bottom:4px;
  font-size: @base-font-size + 1;
  color:#777;
}


#cboxNext , #cboxPrevious {
 background:none;
 text-indent:0;
 width:26px; height:26px; line-height:22px;
 padding:0 4px;
 text-align:center;
 
 border:2px solid #999;
 border-radius:16px;
 
 color:#666;
 font-size: @base-font-size - 1;

 margin: 0px 10px 10px 10px;
}
#cboxNext:hover , #cboxPrevious:hover {
 color:#333;
 border-color:#666;
}

#cboxContent {
 overflow:visible;
}
#cboxContent, #cboxLoadedContent {
  padding: 0;
}

#cboxClose {
  background: none;
  text-indent: 0;
  width: 28px;
  height: 28px;
  padding:0;
  margin: 0px;
  text-align:center;
 
  color:#FFF;
  font-size: @font-size-colorbox-close;

  right: -26px;
    top: -7px;

  z-index: 2;   // Иначе кнопка уйдет под бордюр
}

#cboxLoadingOverlay {
  background:none !important;
}
#cboxLoadingGraphic {
  background:#FFF none !important;
  text-align:center;
  
  > .@{icon} {
   display: inline-block;
   background-color: #FFF;
   border-radius: 8px;

   width: 32px;
   height: 32px;
   
   position: relative;
   top: 48%;


   text-align: center;
   vertical-align: middle;

   //.animation(~"fa-spin 1.5s infinite linear");
   
   
   font-size: @font-size-colorbox-icon;
   color: #FE7E3E;
 }

}



#cboxPrevious, #cboxNext {
  @btnSize: 40px;

  width: @btnSize;
  height: @btnSize;
  line-height: 22px;
  top: 50%;
  margin-top: -@btnSize/2;
  border-radius: @btnSize/2;
  color: #666;
  border-color: #999;
  background-color: rgba(255,255,255,0.2);
  padding-bottom: 1px;

  &:hover , #cboxPrevious:hover {
    color: #777;
    border-color: #aaa;
    background-color: rgba(255,255,255,0.3);
  }
}
#cboxPrevious {
  left: 0;
}
#cboxNext {
  left: initial;
  right: 0;
}
#cboxCurrent {
  display: none !important;
}
#cboxTitle {
  padding: 10px;
  background: #fff;
  min-height: 30px;
  text-align: left;
  bottom: 0;
  font-size: 15px;
}

}
.enable_plugin_colorbox();