{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css', 'mainPage.css', 'modules.mainPage.css') }}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
    $(function() {
        var $getProjectBtn = $('.js-get-project');

        $getProjectBtn.click(function() {
            $(window).scrollTop($('.main-page #js-room-constructor').offset().top);
            return false;
        });

        // Вешаем обработчики на ссылки с #faq
        $(document).on('click', '[href$="#faq"]', function() {
            $('html, body').animate({
                scrollTop: $('a[name="faq"]').offset().top
            }, 500);
            return false;
        });

        $('.js-politic-link').click(function() {
            $('#js-modal-politic').modal('show');
            return false;
        });

        var vueApp = new Vue({
            el: '#js-modal-politic',
            data: {
                text: '',
            },
            mounted: function() {
                var self = this;
                $.ajax({
                    url: '{{ link({0:"/politic"}) }}',
                    method: 'GET',
                    success: function (data) {
                        self.text = data;
                    },
                    error: function (error) {
                        console.error(JSON.stringify(error));
                    }
                });
            }
        });
    });
    </script>
{% endblock %}

{% block content %}
{{ widget('ext.widgets.HeaderWidget') }}

<div class='main-page'>
    <div class='container-fluid'>

        <div class='row' id='js-room-constructor'>
            {{ widget('modules.remont.widgets.RoomConstructorWidget', {'version':2}) }}
            <div class='separator'></div>
        </div>

        <div class='row'>
            <a name='faq'></a>
            {{ widget('modules.faq.widgets.FaqWidget') }}
            <div class='separator'></div>
        </div>

        <div class='row'>
            {{ widget('modules.reviews.widgets.ReviewsWidget') }}
            <div class='separator'></div>
        </div>

        <div class='row'>
            {{ widget('modules.feedback.widgets.FeedbackWidget') }}
            <div class='separator'></div>
        </div>

        <div class='row'>
            <footer>
                <div class='footer'>
                    <div class='phone'>
                        {% set phone = App.localConfig.getParam('contact-info.phone', true) %}
                        {% set email = App.localConfig.getParam('contact-info.email') %}

                        {{ phone|raw }}, <a href='mailto:{{ email }}'>{{ email }}</a>
                    </div>
                    <div class='social-buttons'>
                        <a class='facebook' href='https://www.facebook.com/roomsme.ru/' target='_blank'></a>
                        <a class='instagram' href='https://www.instagram.com/roomsme/' target='_blank'></a>
                    </div>
                    <div class='copyright'>
                        {{ _t('app', 'Интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой (ст. 437 ГК РФ). Копирование материалов сайта запрещено.') }}
                        <br/>
                        <a href='#' class='js-politic-link'>{{ _t('app', 'Политика конфиденциальности') }}</a>
                    </div>
                </div>
            </footer>
        </div>

        <div class='render-picture' id='render-picture'></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade  light" id="js-modal-politic" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <span v-html="text"></span>
            </div>
        </div>
    </div>
</div>

{% endblock %}


