{% extends 'layouts/index.twig' %}

{% block content %}
    <div class='page-header'>
        <h1>Список {{ this.modelHumanTitle[2] }}</h1>
    </div>

    {% if canAdd %}
        {{ widget('ext.mAdmin.widgets.AdminButtonWidget', {
            'buttonType' : 'link',
            'type' : 'primary',
            'icon' : 'plus white',
            'label' : 'Добавить '~this.modelHumanTitle[0],
            'url' : ['add'],
        }) }}
    {% endif %}

    {% set menuTypes = static('Menu', 'getMenuTypes') %}
    {% for type,name in menuTypes %}
        <div class="space"></div>
        <h4>{{name}}</h4>
        {{ widget('ext.mAdmin.widgets.AdminNestableListsWidget', {
            'dataProvider': model.search(type),
            'activeField': 'active',
            'visibleField': 'visible',
            'orderNumField': 'orderNum',
            'canDeleteField': 'isNotFixed',
            'inPlaceEdit': {
                'addLink': 'addLink',
                'addTitle': 'Создать статью',
                'editLink': 'editLink',
                'editTitle': 'Редактировать статью',
            }
        }) }}
    {% endfor %}

{% endblock %}
