{{ import('css', 'feedback.css', 'modules.feedback.widgets.css') }}

{{ registerPackages('maskedinput') }}

<script type="text/javascript">
    var feedback = {
        $form: null,
        $resultBlock: null,

        init: function()
        {
            this.$form = $('.feedback-widget.{{_uniqId}} form');
            this.$resultBlock = this.$form.find('#js-result-block');
            this.hideResult();

            $(".feedback-widget.{{_uniqId}} [name*='[phone]']").mask("+7 (999) 999-9999");
        },

        hideResult: function()
        {
            this.$resultBlock.find('#js-result-text').text('');
            this.$resultBlock.find('#js-status-text').html('');
            this.$resultBlock.hide();
        },

        setResult: function(text)
        {
            this.$resultBlock.show();
            this.$resultBlock.find('#js-result-text').text(text);
        },

        setStatus: function(strArr)
        {
            this.$resultBlock.show();
            this.$resultBlock.find('#js-status-text').html(strArr.join('<br/>'));
        }
    };

    $(document).ready(function() {
        feedback.init();
    });
</script>

<div class='feedback-widget {{_uniqId}}'>
    <h1>{{ _t('app', 'Свяжитесь с нами')}}</h1>
    <p>{{ _t('app', 'Мы с удовольствием ответим на любой вопрос и открыты к пожеланиям') }}</p>
    <div class='space-big'></div>

    {% set form = this.beginWidget('CActiveForm', {
        'id':'FeedbackForm',
        'enableAjaxValidation': true,
        'clientOptions': {
            'validateOnSubmit': true,
            'validateOnChange': false,
            'errorCssClass': 'has-error',
        },
        'htmlOptions': {
            'class': 'form-horizontal',
            'role': 'form'
        }
    }) %}

       <div class='row'>
            <div class='col-xs-12  col-sm-4'>
                {{ form.label(model, 'text')|raw }}
            </div>
            <div class='col-xs-12  col-sm-8'>
                {{ form.textArea(model, 'text', {'class':'form-control'})|raw }}
                <div class='text-left'>{{ form.error(model, 'text')|raw }}</div>
            </div>
        </div>
        <div class='space-small'></div>
        <div class='row'>
            <div class='col-xs-12  col-sm-4'>
                {{ form.label(model, 'phone')|raw }}
            </div>
            <div class='col-xs-12  col-sm-8'>
                {{ form.textField(model, 'phone', {'class':'form-control'})|raw }}
                <div class='text-left'>{{ form.error(model, 'phone')|raw }}</div>
            </div>
        </div>
        <div class='space-small'></div>
        <div class='row  hide'>
            <div class='col-xs-12'>
                {{ form.label(model, 'section')|raw }}
                {{ form.dropDownList(model, 'section', sections)|raw }}
                {{ form.error(model, 'section')|raw }}
            </div>
        </div>
        <div class='space-small'></div>

{#
        {% if static('CCaptcha', 'checkRequirements') %}
        <div class='row'>
            <div class='col-xs-12'>
                {{ widget('CCaptcha', {
                    'captchaAction': '/site/captcha'
                }) }}
                <div class='space-small'></div>
                {{ form.textField(model, 'verifyCode', {'placeholder':model.getAttributeLabel('verifyCode'), 'class':'form-control'})|raw }}
                {{ form.error(model, 'verifyCode')|raw }}
            </div>
        </div>
        <div class='space-small'></div>
        {% endif %}
#}
        <div id='js-result-block'>
            <div class='space-12'></div>
            <div class='row'>
                <div class='col-xs-12  col-sm-4'>
                </div>
                <div class='col-xs-12  col-sm-8'>
                    <p class='bigger-120' id='js-result-text'>
                    </p>
                    <p id='js-status-text'>
                    </p>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-xs-12  col-sm-4'>
            </div>
            <div class='col-xs-12  col-sm-8  text-left'>

                {{ static('CHtml', 'ajaxSubmitButton', {
                    'label':_t('app', 'Отправить'),
                    'url':link({0:'/site/feedback'}),
                    'ajaxOptions': {
                        'beforeSend': 'js: function(jqXHR, settings) {
                            $("#FeedbackForm .errorMessage").hide();
                            $(".feedback-widget.'~_uniqId~' #js-submit-button").button("loading");
                        }',
                        'complete': 'js: function() {
                            // Send the event for Yandex Metrika
                            yaCounter44889733.reachGoal("FEEDBACK");
                            
                            $(".feedback-widget.'~_uniqId~' #js-submit-button").button("reset");
                        }',
                        'success': 'js: function(data) {
                            var response = jQuery.parseJSON(data);
                            feedback.hideResult();

                            if (response.success) {
                                $("#js-modal-window")
                                    .modal("show")
                                    .on("hidden.bs.modal", function (e) {
                                        document.location.reload();
                                    });
                            } else {
                                $.each(response.errors, function(key, value) {
                                    $("#"+key+"_em_").show();
                                    $("#"+key+"_em_").html(value[0]);
                                });
                            }
                        }',
                        'error': 'js: function(e) {
                            feedback.hideResult();
                            $(".feedback-widget.'~_uniqId~' #js-submit-button").button("reset");
                            //console.log("ERROR", e);

                            console.log($("#js-modal-error-window"));
                            $("#js-modal-error-window")
                                .modal("show")
                                .on("hidden.bs.modal", function (e) {
                                    document.location.reload();
                                });
                        }'
                    },
                    'htmlOptions': {
                        'id': 'js-submit-button',
                        'class': 'submit-btn',
                        'data-loading-text': _t('app', 'Отправка')
                    }
                })|raw }}

            </div>
        </div>
        <div class='space-small'></div>

        <div class='row'>
            <div class='col-xs-12  col-sm-4'>
            </div>
            <div class='col-xs-12  col-sm-8  text-left'>
                <div class='politic'>
                    {{ _t('app', 'Отправляя свои данные через эту форму, я соглашаюсь с') }} <a href='#' class='js-politic-link'>{{ _t('app', 'политикой обработки персональных данных') }}</a>
                </div>
            </div>
        </div>

    {{ void(this.endWidget()) }}
</div>
