@import (reference) '../../../../../../../protected/views/less/custom.less';

.faq-widget {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    .marginBig(0,0,1,0, 2);
    .paddingByArray(@innerIndents, 0,1,0,1);
    
    h1 {
        .marginBig(1,0,1,0);
        text-align: center;
    }

    .faq-item {
        .paddingMiddle(0,0,1,0);
    }
    .question {
        @plusWidth: 30px 30px 30px 27px 18px;

        .font(@mainFont, bold);
        a {
            display: flex;

            color: @colorText;
            &.collapsed {
                color: @colorTextDark;
                &:before {
                    content: '+';
                }
            }

            &:before {
                content: "\2013";           // en dash
                color: @colorText;
                .varByArray(~'min-width', @plusWidth);
                .varByArray(~'width', @plusWidth);
                .varByArray(~'height', @plusWidth);
                background-color: @yellow;
                display: inline-block;
                text-align: center;
                .font-size-responsive-ex(24 24 24 18 15);
                .marginSmall(0,1,0,0);

                position: relative;
                .varByArray(~'top', -4px -4px -4px -4px 0px);
            }

            & > * {
                display: inline;
            }
        }
    }
    .answer {
        @dashWidth: 24px 24px 24px 18px 15px;

        .marginSmall(1,0,0,0);    

        @c: 3;
        @arr: @middlePadding-lg*@c, @middlePadding-md*@c, @middlePadding-sm*@c, @middlePadding-xs*@c, 0;
        .marginByArray(@arr, 0,0,0,1);

        .paddingByArray(@dashWidth, 0,0,0,1);
        &:before {
            content: '\2013';       // en dash
            .varByArray(~'width', @dashWidth);
            display: inline-block;
            text-align: center;
            .marginByArray(@dashWidth, 0,0,0,1, -1);
            float: left;
        }
        &:after {
            content: '';
            .marginMiddle(0,0,1,0);
        }
    }
}