@import (reference) '../../../../views/less/custom.less';

.feedback-widget {
    input[type=text],
    input[type=text]:focus,
    textarea,
    textarea:focus {
        border: 0;
        margin: 0;
    }

    input[type=text] {
        width: 50%;
    }
    textarea {
        width: 100%;
        height: 80px;
    }

    .submit-btn {
    }

    .errorMessage {
    }
}