{{ import('css','contentblock.css','ext.widgets.css') }}

{% if showRaw %}
    {{ text|raw }}
{% else %}
    <div class='content-block-widget'>
        {% if showTitle and title %}
            <h2>{{ title|raw }}</h2>
        {% endif %}
        <div class='content-block-text'>{{ text|raw }}</div>
    </div>
{% endif %}