{{ import('css', 'galleryRemont.css', 'ext.widgets.css') }}
{{ import('js', 'hammer.js') }}

{{ registerPackages(['fotorama']) }}

<script type="text/javascript">
$(function() {
    var carousel_{{_uniqId}} =
    {
        $widget: $('.gallery-widget.{{_uniqId}}'),
        $imgCont: $('.gallery-widget.{{_uniqId}} #js-image-cont'),
        $arrowLeft: $('.gallery-widget.{{_uniqId}} #js-arrow-left'),
        $arrowRight: $('.gallery-widget.{{_uniqId}} #js-arrow-right'),
        $gallery: $('.gallery-widget.{{_uniqId}} .gallery'),
        index: 1,
        imgCount: 0,
        isScroll: false,
        mc: null,

        init: function(imgCount)
        {
            var self = this;

            self.imgCount = imgCount;

            $(window).resize(function() {
                var contW = self.$widget.innerWidth();
                self.$widget.find('.image img').width(contW);
            }).resize();

            self.initGallery();
            self.initArrows();
            self.initSlider();
            //self.initHammer();
        },

        initGallery: function()
        {
            var self = this;

            self.$widget.find('.gallery-image').click(function() {
                self.$gallery.removeClass('hide');
                self.$gallery.find('#js-gallery-modal-window').modal('show');
                return false;
            });
            self.$gallery.find('.overlay').click(function() {
                self.$gallery.addClass('hide');
            });
        },

        initSlider: function()
        {
            var self = this;

            window.setTimeout( function() {
                window.setInterval( function() {
                    self.$arrowRight.trigger('click');
                }, 4000);
            }, parseInt(Math.random()*2)*1000);
        },

        initHammer: function()
        {
            var self = this;

            if (self.imgCount > 1) {
                self.mc = new Hammer(self.$widget.find('#js-touch-img-cont').get(0));
                self.mc.get('swipe').set({
                    velocity: 0.01,
                    direction: Hammer.DIRECTION_HORIZONTAL
                });
                self.mc.on('swipeleft', function(ev) {
                    self.$arrowRight.trigger('click');
                }).on('swiperight', function(ev) {
                    self.$arrowLeft.trigger('click');
                });
            }
        },

        initArrows: function()
        {
            var self = this;
            
            self.$arrowLeft.click(function() {
                if (self.isScroll)
                    return false;
                self.isScroll = true;

                self.$imgCont.prepend(self.$imgCont.find('.image:last'));
                var pos = self.$imgCont.find('.image[data-index='+self.index+']').position().left;
                self.$imgCont.css({'left':-parseInt(pos)});

                self.index--;
                if (self.index < 1)
                    self.index = self.imgCount;

                self.$imgCont.animate(
                    {'left':0 }, 500, 'swing', function() {
                        self.isScroll = false;
                    }
                );
                return false;
            });

            self.$arrowRight.click(function() {
                if (self.isScroll)
                    return false;
                self.isScroll = true;

                self.index++;
                if (self.index > self.imgCount)
                    self.index = 1;

                var pos = self.$imgCont.find('.image[data-index='+self.index+']').position().left;
                self.$imgCont.animate(
                    {'left':-parseInt(pos) }, 500, 'swing', function() {
                        self.$imgCont.append(self.$imgCont.find('.image:first'));
                        self.$imgCont.css({'left':0});
                        self.isScroll = false;
                    }
                );
                return false;
            });
        }
    }
    carousel_{{_uniqId}}.init({{items|length}});
});
</script>

<div class='gallery-widget {{_uniqId}}'>
    <div class='images-cont' id='js-image-cont' style="width: {{ (items|length * constant('GalleryItem::IMAGE_W')/2) * 2}}px">    {# С запасом #}
    {% for idx,item in items %}
        {% set img = item.url %}
        <div class='image' data-index='{{loop.index}}'>
            <a href='{{img}}' title='{{ item.title }}' class='gallery-image'>
                <img src="{{img}}" style="width: {{ constant("GalleryItem::IMAGE_W")/2 }}px; position: relative;">
            </a>
        </div>
    {% endfor %}
    </div>
    <div class='clearfix'></div>
    <div class='touch-img-cont' id='js-touch-img-cont'></div>

    {% if items|length > 1 %}
        <div class='arrow left'>
            <a href='#' class='arrow-left icomoon-chevron-circle-left' id='js-arrow-left'></a>
        </div>
        <div class='arrow right'>
            <a href='#' class='arrow-right icomoon-chevron-circle-right' id='js-arrow-right'></a>
        </div>
    {% endif %}


    <div class='gallery  hide'>
            
            <!-- Modal -->
            <div class="modal fade" id="js-gallery-modal-window" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            
                            <div class="fotorama"
                                data-nav="thumbs"
                                _data-thumbwidth='120px'
                                _data-thumbheight='90px'>
                                {% for idx,item in items %}
                                    <img src='{{item.url}}'>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
