{{ import('css', 'gallery.css', 'ext.widgets.css') }}

<script type="text/javascript">
$(function() {
    var colorboxParams = {
        rel:            'colorbox',
        reposition:     true,
        scalePhotos:    true,
        scrolling:      false,
        previous:       '<i class="ace-icon fa fa-arrow-left"></i>',
        next:           '<i class="ace-icon fa fa-arrow-right"></i>',
        close:          '&times;',
        current:        '{current} из {total}',
        //width:          '100%',
        //height:         '100%',
        maxWidth:       '100%',
        maxHeight:      '100%',
        onComplete: function() {
            $.colorbox.resize();
        }
    } 
    $('.gallery-widget.{{_uniqId}} [data-rel="colorbox"]').colorbox(colorboxParams);
    $('#cboxLoadingGraphic').html('').append("<i class='ace-icon fa fa-spinner fa-spin'></i>");
});
</script>

<div class='gallery-widget {{_uniqId}}'>
    <ul class='ace-thumbnails clearfix'>
    {% for item in items %}
        {% set img = item.url %}
        <li>
            <a href='{{img}}' title='{{ item.title }}' data-rel='colorbox' class='gallery-image'  style='background-image: url({{img}})'></a>
        </li>
    {% endfor %}
    </ul>
</div>
