{{ import('css', 'language.css', 'ext.widgets.css') }}

<div class='language-widget'>

    <div class="btn-group">
        <span class="current  {{currentLang}}" data-toggle="dropdown">
            <span class='value'>{{ currentLang }}</span>
            <span class="caret"></span>
        </span>

        <div class="dropdown  dropdown-menu">
            {% for lang,url in languages %}
                <a href="{{url|raw}}" class='{{lang}}'><span>{{ lang }}</span></a>      {# span for hide current language #}
            {% endfor %}
        </div>
    </div>

</div>
