{{ import('css', 'leafletMap.css', 'ext.widgets.css') }}
{{ import('js', 'leafletMap.js', 'ext.widgets.js') }}

<script type="text/javascript">
    $(function() {
        var markers = [
        {% for m in markers %}
            {'lat':{{m.lat}}, 'lng':{{m.lng}}, 'title':'{{m.title|raw}}', 'link':'{{m.link}}', 'img':'{{m.img}}'}{% if not loop.last %},{% endif %}

        {% endfor %}
        ];

        var coords = [
        {% for c in line.coords %}
            [ {{c[0]}}, {{c[1]}} ]{% if not loop.last %},{% endif %}

        {% endfor %}
        ];        

        var leafletMap = new LeafletMap();
        leafletMap.init({
            containerSelector: '.leaflet-map-widget.{{_uniqId}}',
            mapUniqId: 'js-leaflet-map-{{_uniqId}}',
            modalId: 'js-leafler-modal',
            centerLat: {{centerLat}},
            centerLng: {{centerLng}},
            zoom: {{zoom}},
            markers: markers,
            line: {'coords':coords, 'title':'{{line.title}}', 'link':'{{line.link}}'},
            useCollapse: {{useCollapse ? 1 : 0}},
            useMarkerClusterGroup: {{useMarkerClusterGroup ? 1 : 0}},
            useSquareMarkers: {{useSquareMarkers ? 1 : 0}}
        });
    });
</script>

<div class="leaflet-map-widget {{_uniqId}}">
    {% set collapseClass = useCollapse ? 'leaflet_collapse' : '' %}
    <div class='map-container {{collapseClass}}' id='js-leaflet-map-{{_uniqId}}'></div>
    {% if useCollapse %}
        <div class='expand-btn' id='js-expand-btn'>{{ _t('app', 'Развернуть карту') }}</div>
        <div class='collapse-btn hide' id='js-collapse-btn'>{{ _t('app', 'Свернуть карту') }}</div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="js-leafler-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>
