{% extends 'extensions/widgets/views/menu.twig' %}

{% block menuContent %}
    {{ import('css', 'mainMenu.css', 'ext.widgets.css') }}
    {{ import('css', 'menu.css') }}

    <div class='main-menu-widget  hmenu'>
        {{ parent() }}
    </div>
{% endblock %}
