{% macro menuHover(sel, delay) %}
    {# Для всех dropdown элементов вешаем обработчик закрытия и открытия и удаляем сам класс, чтобы не конфликтовал со стилями #}
    $('{{sel}} li.hover')
        .hover(function() {
            $(this).find('.dropdown-menu').stop(true, true).show();
        }, function() {
            $(this).find('.dropdown-menu').stop(true, true).delay({{delay}}).fadeOut(0);
        })
        .removeClass('hover');
{% endmacro %}

{% macro drawMenu(items, class) %}
    <ul class="{{class|default('root')}}">
        {% for item in items %}
            {% set firstClass = loop.first ? 'first' : '' %}
            {% set selectClass = item.select ? 'active' : '' %}
            {% set disableClass = item.disabled ? 'disable' : '' %}
            {% set submenu = item.children|length > 0 ? 1 : 0 %}

            <li class='btn-group  {{firstClass}} {{ disableClass }} {% if submenu %}has-submenu  hover  dropdown{% endif %}'>
                <a class='{{ selectClass }}' href='{{ item.link }}'>
                    {{ item.name|raw }}
                    {% if submenu %}
                        <span class='caret'></span>
                    {% endif %}
                </a>

                {% if submenu %}
                    {{ _self.drawMenu(item.children, 'dropdown-menu  submenu') }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block menuContent %}
    {{ _self.drawMenu(items) }}
{% endblock %}
