{% macro drawMenu(items, class) %}
    <ul class="{{class|default('root')}}">
        {% for item in items %}
            {% set firstClass = loop.first ? 'first' : '' %}
            {% set selectClass = item.select ? 'active' : '' %}
            {% set disableClass = item.disabled ? 'disable' : '' %}
            {% set submenu = item.children|length > 0 ? 1 : 0 %}

            <li class='{{firstClass}} {{ disableClass }} {% if submenu %}has-submenu  hover{% endif %}'>
                <a class='{{ selectClass }}' href='{{ item.link }}'>
                    {{ item.name|raw }}
                    {% if submenu %}
                        <span class='caret'></span>
                    {% endif %}
                </a>

                {% if submenu %}
                    {{ _self.drawMenu(item.children, 'submenu') }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block menuContent %}
    {{ _self.drawMenu(items) }}
{% endblock %}
