.feedback-widget input[type=text],
.feedback-widget input[type=text]:focus,
.feedback-widget textarea,
.feedback-widget textarea:focus {
  border: 0;
  margin: 0;
}
.feedback-widget input[type=text] {
  width: 50%;
}
.feedback-widget textarea {
  width: 100%;
  height: 80px;
}
