@import (reference) '../../../../views/less/custom.less';

.article-widget {
    ul.submenu {
        display: inline-block;
        margin-top: 0px;
        margin-left: 12px;      // Подгоняем под лолотип

        & > li {
            .paddingSmall(0,0,1,0, 0.75);

            & > a {
                .font-size(16, inherit);
                color: @colorTextWhite;
                word-break: break-word;
                
                // Пунктирное подчеркивание
                text-decoration: none !important;
                border-bottom: 1px dashed;

                &.active {
                    @dashWidth: 1em 1em 1em 1em 1em;

                    border-bottom: 0px none;
                    padding-left: 0;    // for dash
                    .font(@mainFont, bold);

                    &:before {
                        content: "\2013";           // en dash
                        .varByArray(~'width', @dashWidth);
                        display: inline-block;
                        .marginByArray(@dashWidth, 0,0,0,1, -1);
                        float: left;
                    }
                }
            }

            // Выделяем при наведении, если выставлен класс .active
            &:hover {
                & > a:not(.active) {
                    color: darken(@colorTextWhite, 10%);
                }
                & > a.active {
                    pointer-events: none;
                }
            }


            &.disable {
                a {
                    color: @colorLinkDisable;
                    cursor: default;
                    pointer-events: none;
                    text-decoration: none !important;
                }
            }
        }
    }
}
