{% extends 'layouts/index.twig' %}

{% block js %}
<script type="text/javascript">
    $(document).on("adminSave", function(ev) {
        $('#adminSaveBtn').trigger('click');
    });
    $(document).on("adminSaveExit", function(ev) {
        $('#adminSaveExitBtn').trigger('click');
    });
</script>
{% endblock %}


{% block content %}
    <div class='page-header'>
        <h1>{% block contentTitle %}Редактирование {{ this.modelHumanTitle[1] }}{% endblock %}</h1>
    </div>
    <p class='text-warning'>Поля с символом <i class='fa fa-asterisk'></i> обязательны для заполнения.</p>

    {% set form = this.beginWidget('ext.mAdmin.widgets.AdminActiveFormWidget', {
        'type' : 'horizontal',
        'enableClientValidation': true,
        'clientOptions': {'validateOnSubmit': true},
        'htmlOptions' : {'enctype' : 'multipart/form-data'},
    }) %}
        {% import 'crud/form.twig' as formHelper %}

        <div class='hr hr-16'></div>
        <div class='text-warning'>
            {{ form.errorSummary(model, null, null, {'class':'errorMessage'})|raw }}
        </div>

        {{ formHelper.editForm(model, form, editFormElements) }}

        <div class="form-actions">
            {% if not model.isNewRecord %}
                {{ widget('ext.mAdmin.widgets.AdminButtonWidget', {
                    'type' : 'primary',
                    'buttonType' : 'submit',
                    'icon' : 'check',
                    'label' : 'Сохранить',
                    'htmlOptions': {
                        'name': 'save',
                        'id': 'adminSaveBtn'
                    }
                }) }}
            {% endif %}

            {{ widget('ext.mAdmin.widgets.AdminButtonWidget', {
                'type' : 'primary',
                'buttonType' : 'submit',
                'icon' : 'check',
                'label' : model.isNewRecord ? 'Создать '~this.modelHumanTitle[0] : 'Сохранить и выйти',
                'htmlOptions': {
                    'name': 'save_and_exit',
                    'id': 'adminSaveExitBtn'
                }
            }) }}

            {{ widget('ext.mAdmin.widgets.AdminButtonWidget', {
                'icon' : 'remove',
                'label' : model.isNewRecord ? 'Не создавать' : 'Отменить изменения',
                'url' : ['/'~this.uniqueId]
            }) }}
        </div>
    {{ void(this.endWidget()) }}

{% endblock %}