{% extends 'layouts/index.twig' %}

{% block js %}
<script type="text/javascript">
$(function() {
    // Перехватываем отправку основой формы и отправляем через скрытую
    $('form#js-main-form button[name="cancel"]').click(function(ev) {
        $('form#js-hidden-form button[name="cancel"]').trigger('click');
        return false;
    });
});
</script>
{% endblock %}

{% block body %}
    {% import 'crud/form.twig' as formHelper %}

    <div class='page-header'>
        <h1>{% block contentTitle %}Редактирование {{ this.modelHumanTitle[1] }}{% endblock %}</h1>
    </div>
    <p class='text-warning'>Поля с символом <i class='fa fa-asterisk'></i> обязательны для заполнения.</p>

    {% set form = this.beginWidget('ext.mAdmin.widgets.AdminActiveFormWidget', {
        'type' : 'horizontal',
        'enableClientValidation': true,
        'clientOptions': {'validateOnSubmit': true},
        'htmlOptions' : {
            'id': 'js-main-form',
            'enctype': 'multipart/form-data'
        },
    }) %}
        <div class='text-warning'>
            {{ form.errorSummary(model, null, null, {'class':'errorMessage'})|raw }}
        </div>

        {{ formHelper.editForm(model, form, editFormElements) }}

        <div class="form-actions">
            {{ widget('ext.mAdmin.widgets.AdminButtonWidget', {
                'type' : 'primary',
                'buttonType' : 'submit',
                'icon' : 'check',
                'label' : 'Сохранить',
                'htmlOptions': {
                    'name': 'save',
                }
            }) }}

            {{ widget('ext.mAdmin.widgets.AdminButtonWidget', {
                'buttonType': 'submit',
                'icon' : 'remove',
                'label' : 'Отменить изменения',
                'url' : [App.request.getUrl()],
                'htmlOptions': {
                    'name': 'cancel',
                }
            }) }}
        </div>
    {{ void(this.endWidget()) }}

    {# Hidden form for submit without validation #}
    {% set form2 = this.beginWidget('ext.mAdmin.widgets.AdminActiveFormWidget', {
        'type' : 'horizontal',
        'htmlOptions' : {
            'id': 'js-hidden-form',
            'class': 'hide',
            'enctype': 'multipart/form-data'
        },
    }) %}
        {{ widget('ext.mAdmin.widgets.AdminButtonWidget', {
            'buttonType': 'submit',
            'icon' : 'remove',
            'label' : 'Отменить изменения',
            'htmlOptions': {
                'name': 'cancel',
            }
        }) }}
    {{ void(this.endWidget()) }}

{% endblock %}