{% macro editForm(model, form, editFormElements) %}
    {% import 'crud/form.twig' as formHelper %}
    {% for attributeName, element in editFormElements %}
        {% if element['class'] %}

            {% set className = element['class'] %}
            {% set element = element|unset('class') %}
            {{ widget(className, element|default({})|merge({'model':model, 'attribute':attributeName, 'form':form}) ) }}

        {% elseif element['type'] %}

            {% set options = element['htmlOptions'] ? element['htmlOptions'] : [] %}
            {% set rowOptions = element['rowOptions'] ? element['rowOptions'] : [] %}

            {% if element['type'] == 'hidden' %}
                {{ attribute(form, element['type']~'Field', [ model, attributeName, options ])|raw }}
            {% else %}
                {# default options #}
                {% if element['type'] == 'ckEditor' %}
                   {% set options = options|merge({
                        'editorOptions': {
                            'customConfig' :                App.baseUrl~'/ckeditor/ckeditor_config.js',
                            'filebrowserImageBrowseUrl':    App.baseUrl~'/kcfinder/browse.php?type=images',
                            'filebrowserAudioBrowseUrl':    App.baseUrl~'/kcfinder/browse.php?type=audio',
                            'extraAllowedContent':          'audio source[*]',
                            'height':                       500,
                            'contentsCss':                  App.baseUrl~'/ckeditor/css/ckeditor.css'
                        }
                    }) %}
                {% endif %}

                {% if element['data'] is defined %}
                    {{ attribute(form, element['type']~'Row', [ model, attributeName, element['data'], options, rowOptions ])|raw }}
                {% else %}
                    {{ attribute(form, element['type']~'Row', [ model, attributeName, options, rowOptions ])|raw }}
                {% endif %}
            {% endif %}

        {% elseif element['rows'] %}

            {{ formHelper.editForm(attribute(model, attributeName), form, element['rows']) }}

        {% else %}
            {{ element|raw }}
        {% endif %}
    {% endfor %}
{% endmacro %}