@import (reference) '../../../../../../protected/views/less/custom.less';

.header-widget {
    @galleryContW: @siteW;

    .container,
    .container-fluid {
        padding: 0;
        & > .row {
            padding: 0 !important;
        }
    }
    .container {
        max-width: @siteW;
        .paddingByArray(@innerIndents, 0,1,0,1);
    }

    .logo-container {
        background: @white;
    }
    .logo-row {
        @h: 80px;

        .font-size-responsive-by-array(14 14 23 18 10, 1);

        a:hover {
            color: @colorLink;
            text-decoration: underline;
        }
        .city-col,
        .answ-col {
            line-height: @h;

            &-inside {
                line-height: normal;
                display: inline-block;
                vertical-align: middle;

                & > div {
                    display: inline-block;
                    white-space: nowrap;
                }
            }
        }
        .answ-col {
            white-space: nowrap;
        }


        @media (max-width: @screen-sm-max) {
            [class^='col-'] {
                text-align: center !important;
            }
        }
        @media (max-width: @screen-xs-max) {
            [class^='col-'] {
                line-height: initial !important;
                .paddingBig(0,0,1,0);
            }
        }
        @media (max-width: @screen-xs-min) {
            .city-col {
                .paddingSmall(0,1,0,0);
            }
            .answ-col {
                .paddingSmall(0,0,0,1);
            }
        }


        .logo {
            height: @h;
            width: 100%;
            background: url(../../img/logo_d.png) center center no-repeat;

            @media (max-width: @screen-xs-min) {
                @coeff: 0.65;
                height: ceil(@h * @coeff);
                background-image: url(../../img/logo.png);
                background-size: auto unit(@coeff * 100, %);
            }
        }
    }

    .wide-image {
        position: relative;
        background: url(../../img/img5.jpg) center 100% no-repeat;
        background-size: contain;
        background-position-y: top;
        background-attachment: fixed;

    }

    .slogan-container {
        background: @white;
    }

    .slogan-inner-container {
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: @galleryContW;
        .paddingMiddle(1,1,0,1);

        .slogan-info-block {
            display: inline-block;
            float: left;
            position: relative;
            z-index: 2;

            @media (max-width: @screen-xs-max) {
                width: 100%;
                z-index: initial;
            }

            .slogan-block,
            .info-block {
                .paddingBig(0,1,0,0, 2);
            }
            .slogan-block {
                text-align: center;
                @media (min-width: @screen-sm-min) {
                    text-align: left;
                    max-width: 400px;
                }

                .title {
                    .font-size-responsive-by-array(30 30 30 38 30, 1.1);
                    .font(@mainFont, bold);
                }
                .text {
                    .paddingMiddle(1,1,1,1);
                }
            }

            .info-block {
                .marginMiddle(0,0,1,0);

                background-color: @yellow;
                .paddingMiddle(1,0,0,1);
                .paddingByArray(@middlePadding-lg @middlePadding-md @middlePadding-sm (@middlePadding-xs * 5), 0,0,1,0);

                h3 {
                    .font(@mainFont, light);
                    .font-size-responsive-by-array(30 30 30 38 28);
                    .paddingSmall(0,0,1,0);
                }

                .info,
                a.pdf {
                    .font-size-responsive-by-array(16 16 16 20 16, 1.5);
                }


                .info {
                    @dashWidth: 24px 24px 24px 24px 24px;       // fix this

                    margin-left: 1.5em;
                    //.marginBig(0,0,0,1);                
                    //.paddingByArray(@dashWidth, 0,0,0,1);

                    display: list-item;

                    // &:before {
                    //     content: '\25CF';       // middle dot
                    //     .varByArray(~'width', @dashWidth);      // fix this
                    //     display: inline-block;
                    //     text-align: center;
                    //     .marginByArray(@dashWidth, 0,0,0,1, -1);
                    //     float: left;
                    // }
                }

                a.pdf {
                    color: @colorLink;
                    text-decoration: underline;
                    display: inline-block;          // Чтобы иконка не переносилась отдельно от текста

                    &:before {
                        @w: 18px;
                        @h: 18px;

                        content: '';
                        width: @w;
                        height: @h;
                        background: url(../../img/pdf.png) left top no-repeat;
                        background-size: cover;
                        display: inline-block;
                        vertical-align: middle;
                        .marginSmall(0,1,0,0, 0.25);
                    }
                }
            }
        }

        .gallery-block {
            @padding: 50px;
            position: relative;
            left: -@padding;
            margin-right: -@padding;

            @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                position: absolute;
                right: @middlePadding-sm;       // См. slogan-inner-container paddings
                top: @middlePadding-sm;
                left: initial;
                margin-right: initial;
                width: 430px;
            }

            @media (max-width: @screen-xs-max) {
                left: initial;
                margin-right: initial;
                clear: both;
                top: -@middlePadding-xs * 4;
                margin-bottom: -@middlePadding-xs * 4;
                .paddingBig(0,1,0,1, 1.5);
            }
        }
    }

    .step-info-container {
        @squareSize:        40px;
        @squareH:           @squareSize @squareSize @squareSize ceil(@squareSize*1.5) ceil(@squareSize*1.5);
        @squarePadding:     15px 15px 15px 22px 22px;
        @squareFontSize:    17 17 17 25 25;
        @infoFontSize:      17 17 17 25 17;
        @squareSeparator:   ceil(unit(extract(@squareFontSize,1)*1.1 + extract(@squareH,1), px))  ceil(unit(extract(@squareFontSize,2)*1.1 + extract(@squareH,2), px))  ceil(unit(extract(@squareFontSize,3)*1.1 + extract(@squareH,3), px))  ceil(unit(extract(@squareFontSize,4)*1.1 + extract(@squareH,4), px))  ceil(unit(extract(@squareFontSize,5)*1.1 + extract(@squareH,5), px));

        @paddingBottom:     ceil(@squareSize*0.75)  ceil(@squareSize*0.75)  ceil(@squareSize*0.75)  ceil(@squareSize*1) ceil(@squareSize*0.75);

        background: @white;
        position: relative;

        .no-padding {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .step-info-container-inner {
            position: relative;
            .varByArray(~'padding-bottom', @paddingBottom);

            & > .row {
                position: relative;
                margin: 0 auto;
                width: 100%;
                max-width: @galleryContW;

                & > [class^='col-'] {
                    .varByArray(~'padding-top', @squareH);
                }
            }

            &:before,
            & > .row > [class^='col-']:before {
                @padding: floor((@grid-gutter-width / 2));
                content: '';
                background: @colorSeparatorLine;
                min-height: 1px;
                width: 100%;
                position: absolute;
                display: block;
                margin-left: -@padding;
                left: @padding;
                .varByArray(~'top', @squareSeparator);
            }

            .step {
                position: relative;

                .square {
                    border: 0px none;
                    .varByArray(~'height', @squareH);
                    .varByArray(~'width', @squareH);
                    .varByArray(~'padding-left', @squarePadding);
                    .varByArray(~'padding-right', @squarePadding);
                    .font-size-responsive-by-array(@squareFontSize, @squareH);
                    .font(@mainFont, bold);
                    cursor: pointer;
                    background-color: @yellow;
                    text-align: center;
                    margin: 0 auto;
                }

                .info {
                    .paddingSmall(1,0,0,0);
                    .font-size-responsive-by-array(@infoFontSize);
                    text-align: center;
                }
            }
        }

        .info-block {
            & > .row {
                position: relative;
                margin: 0 auto;
                width: 100%;
                max-width: @galleryContW;
            }

            & > .row > [class^='col-'] {
                border-top: 1px solid @colorSeparatorLine;
            }

            .info {
                .font-size-responsive-by-array(20 20 20 30 20);
                .font(@mainFont, bold);
                text-align: center;
                .varByArray(~'margin-top', @paddingBottom);
                .varByArray(~'margin-bottom', @paddingBottom);
                .paddingBig(0,1,0,1);
            }
        }
    }

    .yellow {
        background-color: @yellow;
    }
}