{% extends 'layouts/index.twig' %}

{% block js %}
<script type="text/javascript">
$(function() {
    var UploadFile = function()
    {
        var $form = $('#fileForm');
        var $fileInput = $form.find('input[type=file]');        //you can have multiple files, or a file input with "multiple" attribute
        var uploadInProgress = false;

        this.init = function()
        {
            if (location.protocol == 'file:')
                showError("For uploading to server, you should access this page using 'http' protocal, i.e. via a webserver.");

            $('.js-file-upload-remove').click(function() {
                var filename = $(this).data('filename');
                bootbox.confirm({'message': "{{ _t('admin', 'Удалить файл?') }}", 'callback': function(result) {
                    if (result) {
                        $.ajax({
                            url: "{{ link({0:'/admin/'~routePath~'/fileRemove'}) }}",
                            type: 'POST',
                            dataType: 'json',
                            data: {filename: filename},
                            success: function(result, status, xhr) {
                                showError("{{ _t('admin', 'Файл успешно удален') }}");
                            },
                            error: function(xhr, status) {
                                showError("{{ _t('admin', 'При удалении файла произошла ошибка') }}");
                            }
                        })
                    }
                } });
            });

            $fileInput.ace_file_input({
                style:          'well',
                btn_choose :    "{{ _t('admin', 'Выберите или перетащите PDF файл') }}",
                btn_change:     null,
                droppable:      true,
                
                maxSize:        10*1024*1024, // bytes
                allowExt:       ["pdf"],
                allowMime:      ["application/pdf"],

                before_remove: function() {
                    return (uploadInProgress) ? false : true;
                },

                preview_error: function(filename , code) {
                    //code = 1 means file load error
                    //code = 2 image load error (possibly file is not an image)
                    //code = 3 preview failed
                }
            });

            $fileInput.on('file.error.ace', function(ev, info) {
                if (info.error_count['ext'] || info.error_count['mime'])
                    showError("{{ _t('admin', 'Не верный формат файла') }}");
                if (info.error_count['size'])
                    showError("{{ _t('admin', 'Файл не должен превышать 10Мб') }}");
                
                // you can reset previous selection on error
                ev.preventDefault();
                $fileInput.ace_file_input('reset_input');
            });

            $form.on('submit', onSubmit);
            $form.on('reset', onReset);
        }
        
        
        var onSubmit = function(e)
        {
            e.preventDefault();
        
            var files = $fileInput.data('ace_input_files');
            if (!files || files.length == 0)
                return false;
                                
            formDataObject = new FormData();
            
            // serialize our form (which excludes file inputs)
            $.each($form.serializeArray(), function(i, item) {
                formDataObject.append(item.name, item.value);                          
            });
            // and then add files
            $form.find('input[type=file]').each(function(){
                var fieldName = $(this).attr('name');
                // for fields with "multiple" file support, field name should be something like `myfile[]`

                var files = $(this).data('ace_input_files');
                if(files && files.length > 0) {
                    for(var f = 0; f < files.length; f++) {
                        formDataObject.append(fieldName, files[f]);
                    }
                }
            });


            uploadInProgress = true;
            $fileInput.ace_file_input('loading', true);
            
             var deferred = $.ajax({
                url:            "{{ link({0:'/admin/'~routePath~'/fileUpload'}) }}",
                type:           'POST',
                processData:    false, //important
                contentType:    false, //important
                dataType:       'json',
                data:           formDataObject,

                xhr: function() {
                    var req = $.ajaxSettings.xhr();
                    if (req && req.upload) {
                        req.upload.addEventListener('progress', function(e) {
                            if(e.lengthComputable) {    
                                var done = e.loaded || e.position, total = e.total || e.totalSize;
                                var percent = parseInt((done/total)*100) + '%';
                                //percentage of uploaded file

                                // TODO: progress
                            }
                        }, false);
                    }
                    return req;
                },
                beforeSend : function() {
                },
                success : function() {
                }
            });

            deferred
                .done(function(result) {
                    var msg = '';
                    var errMsg = '';
                    for (var i = 0; i < result.length; i++) {
                        if (result[i].success != undefined) {
                            msg += result[i].success + ": " + result[i].filename + "<br/>";
                        } else
                        if (result[i].error != undefined) {
                            errMsg += result[i].error + "<br/>";
                        }
                    }
                    showError(errMsg, msg);
                })
                .fail(function(result) {
                    showError("{{ _t('admin', 'При загрузке файла произошла ошибка') }}");
                })
                .always(function() {
                    uploadInProgress = false;
                    $fileInput.ace_file_input('loading', false);
                });
            deferred.promise();
        }

        var onReset = function()
        {
            $(this).find('input[type=file]').ace_file_input('reset_input_ui');
        }

        var showError = function(errMsg, msg)
        {
            msg = typeof msg !== 'undefined' ? msg : '';

            var html = '';
            if (msg != '') {
                html += '<div class="text-success">' + msg + '</div>';
                if (errMsg != '')
                    html += '<br/><br/>';
            }
            if (errMsg != '') {
                html += '<div class="text-danger">' + errMsg + '</div>';
            }

            bootbox.dialog({'message': html, 'onEscape': function() {
                document.location.reload();
            }});
        }
    }

    new UploadFile().init();
});
</script>
{% endblock %}

{% block content %}
    <div class='page-header'>
        <h1>{% block contentTitle %}{{ _t('admin', 'Загрузка PDF на сервер') }}{% endblock %}</h1>
    </div>

    {% for file in files %}
    <div style='font-size: 1.2em;'>
        <i class='ace-icon  fa  fa-file-pdf-o'></i>&nbsp;&nbsp;&nbsp;{{file}}&nbsp;
        <a href="#" class="js-file-upload-remove  text-danger"  data-filename="{{file}}">
            <i class="fa fa-times"></i>
        </a>
    </div>
    {% endfor %}

    <div class="row">
        <div class="center" style="width:400px; margin:12px;">
            <form id="fileForm">
                <input  type="file" name="file[]"/>
        
                <div class="hr hr-12 dotted"></div>
        
                <button type="submit" class="btn btn-sm btn-primary">{{ _t('admin', 'Отправить') }}</button>
                <button type="reset" class="btn btn-sm">{{ _t('admin', 'Сбросить') }}</button>
            </form>
        </div>
    </div>
{% endblock %}