.review-widget {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media (min-width: 480px) {
  .review-widget {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .review-widget {
    margin-bottom: 44px;
  }
}
@media (min-width: 992px) {
  .review-widget {
    margin-bottom: 66px;
  }
}
@media (min-width: 1200px) {
  .review-widget {
    margin-bottom: 66px;
  }
}
.review-widget h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
@media (min-width: 480px) {
  .review-widget h1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .review-widget h1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}
@media (min-width: 992px) {
  .review-widget h1 {
    margin-top: 33px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1200px) {
  .review-widget h1 {
    margin-top: 33px;
    margin-bottom: 33px;
  }
}
.review-widget table {
  margin: 5px;
}
.review-widget table td {
  padding: 15px ;
}
@media (min-width: 480px) {
  .review-widget table td {
    padding: 30px ;
  }
}
@media (min-width: 768px) {
  .review-widget table td {
    padding: 30px ;
  }
}
@media (min-width: 992px) {
  .review-widget table td {
    padding: 30px ;
  }
}
@media (min-width: 1200px) {
  .review-widget table td {
    padding: 30px ;
  }
}
.review-widget table td:not(:first-child) {
  padding-left: 0px;
}
.review-widget table tr.review-item:not(:first-child) td {
  border-top: 2px solid #e3e3e3;
}
.review-widget table tr.review-item .text {
  padding-bottom: 5px;
}
@media (min-width: 480px) {
  .review-widget table tr.review-item .text {
    padding-bottom: 5px;
  }
}
@media (min-width: 768px) {
  .review-widget table tr.review-item .text {
    padding-bottom: 8px;
  }
}
@media (min-width: 992px) {
  .review-widget table tr.review-item .text {
    padding-bottom: 11px;
  }
}
@media (min-width: 1200px) {
  .review-widget table tr.review-item .text {
    padding-bottom: 11px;
  }
}
.review-widget table tr.review-item .overflow-block {
  overflow: hidden;
}
