.main-page {
  min-height: 1px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  max-width: 950px;
  padding-right: 7.5px;
  padding-left: 7.5px;
}
.main-page:before,
.main-page:after {
  display: table;
  content: "";
  line-height: 0;
}
.main-page:after {
  clear: both;
}
@media (min-width: 480px) {
  .main-page {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .main-page {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .main-page {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .main-page {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.main-page .yellow-blank {
  display: inline-block;
  background-color: #f8ce00;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  white-space: nowrap;
}
@media (min-width: 480px) {
  .main-page .yellow-blank {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 768px) {
  .main-page .yellow-blank {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 992px) {
  .main-page .yellow-blank {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 1200px) {
  .main-page .yellow-blank {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 480px) {
  .main-page .yellow-blank {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .main-page .yellow-blank {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .main-page .yellow-blank {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .main-page .yellow-blank {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.main-page .yellow-blank h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.main-page .yellow-blank > *:after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 13px;
  margin-left: 18px;
  background-image: url(../../img/arrow.png);
  background-position: right center;
  background-repeat: no-repeat;
}
@media (min-width: 480px) {
  .main-page .yellow-blank > *:after {
    margin-left: 24px;
  }
}
@media (min-width: 768px) {
  .main-page .yellow-blank > *:after {
    margin-left: 24px;
  }
}
@media (min-width: 992px) {
  .main-page .yellow-blank > *:after {
    margin-left: 24px;
  }
}
@media (min-width: 1200px) {
  .main-page .yellow-blank > *:after {
    margin-left: 24px;
  }
}
.main-page td.yellow-square {
  width: 6.31578947%;
}
.main-page div.yellow-square {
  width: 100%;
  background-color: #f8ce00;
  overflow: hidden;
  /* clearfix */
}
.main-page div.yellow-square:before {
  content: "";
  padding-top: 100%;
  float: left;
}
.main-page section {
  min-height: 1px;
  padding-bottom: 35px ;
}
@media (min-width: 480px) {
  .main-page section {
    padding-bottom: 35px ;
  }
}
@media (min-width: 768px) {
  .main-page section {
    padding-bottom: 70px ;
  }
}
@media (min-width: 992px) {
  .main-page section {
    padding-bottom: 70px ;
  }
}
@media (min-width: 1200px) {
  .main-page section {
    padding-bottom: 70px ;
  }
}
.main-page .info-table .col2 {
  padding-left: 3.06122449%;
  padding-top: 1%;
}
.main-page .info-table .col2 img {
  width: 100%;
  max-width: 435px;
  margin-top: -40px;
  z-index: -1;
  position: relative;
}
@media (max-width: 991px) {
  .main-page .info-table .col2 img {
    margin-top: 0;
  }
}
.main-page .info-table .text {
  padding-bottom: 10px;
}
@media (min-width: 480px) {
  .main-page .info-table .text {
    padding-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .main-page .info-table .text {
    padding-bottom: 14px;
  }
}
@media (min-width: 992px) {
  .main-page .info-table .text {
    padding-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .main-page .info-table .text {
    padding-bottom: 22px;
  }
}
.main-page .info-table .text ul {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 480px) {
  .main-page .info-table .text ul {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .main-page .info-table .text ul {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
@media (min-width: 992px) {
  .main-page .info-table .text ul {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .main-page .info-table .text ul {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
.main-page .info-table .text ul li {
  list-style-position: inside;
}
.main-page .info-table .text ul li:before {
  content: '– ';
}
.main-page .footer {
  border-top: 1px solid #e3e3e3;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 480px) {
  .main-page .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .main-page .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .main-page .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .main-page .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 480px) {
  .main-page .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 768px) {
  .main-page .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  .main-page .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 1200px) {
  .main-page .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.main-page .footer > div {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.main-page .footer .phone {
  font-size: 16px ;
  line-height: 1 ;
  line-height: 22px ;
  text-align: center;
}
@media (min-width: 480px) and (max-width: 767px) {
  .main-page .footer .phone {
    font-size: 23px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-page .footer .phone {
    font-size: 30px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-page .footer .phone {
    font-size: 30px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .main-page .footer .phone {
    font-size: 30px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .main-page .footer .phone {
    line-height: 30px ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-page .footer .phone {
    line-height: 40px ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-page .footer .phone {
    line-height: 40px ;
  }
}
@media (min-width: 1200px) {
  .main-page .footer .phone {
    line-height: 40px ;
  }
}
.main-page .footer .social-buttons {
  padding-bottom: 15px;
  text-align: center;
}
@media (min-width: 480px) {
  .main-page .footer .social-buttons {
    padding-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .main-page .footer .social-buttons {
    padding-bottom: 60px;
  }
}
@media (min-width: 992px) {
  .main-page .footer .social-buttons {
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .main-page .footer .social-buttons {
    padding-bottom: 60px;
  }
}
.main-page .footer .social-buttons .facebook,
.main-page .footer .social-buttons .instagram {
  width: 48px;
  height: 48px;
  display: inline-block;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
}
.main-page .footer .social-buttons .facebook {
  background-image: url(../../img/facebook.png);
}
.main-page .footer .social-buttons .instagram {
  background-image: url(../../img/instagram.png);
}
.main-page .footer .copyright {
  font-size: 11px;
  line-height: 1;
  line-height: 15px;
  text-align: center;
}
