.content-block-widget .content-block-text {
  /**
 * Назначаем отступы в абзацах в зависимости от родительского класса
 * Класс родительского контейнера:
 *  [no class] - small margin
 *  .text-small-margin - small margin
 *  .text-middle-margin - middle margin
 *  .text-big-margin - big margin
 */
}
.content-block-widget .content-block-text.active {
  display: block;
}
.content-block-widget .content-block-text p,
.text-small-margin .content-block-widget .content-block-text p {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
@media (min-width: 480px) {
  .content-block-widget .content-block-text p,
  .text-small-margin .content-block-widget .content-block-text p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media (min-width: 768px) {
  .content-block-widget .content-block-text p,
  .text-small-margin .content-block-widget .content-block-text p {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
@media (min-width: 992px) {
  .content-block-widget .content-block-text p,
  .text-small-margin .content-block-widget .content-block-text p {
    margin-top: 11px;
    margin-bottom: 11px;
  }
}
@media (min-width: 1200px) {
  .content-block-widget .content-block-text p,
  .text-small-margin .content-block-widget .content-block-text p {
    margin-top: 11px;
    margin-bottom: 11px;
  }
}
.text-middle-margin .content-block-widget .content-block-text p {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
@media (min-width: 480px) {
  .text-middle-margin .content-block-widget .content-block-text p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .text-middle-margin .content-block-widget .content-block-text p {
    margin-top: 14px;
    margin-bottom: 14px;
  }
}
@media (min-width: 992px) {
  .text-middle-margin .content-block-widget .content-block-text p {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .text-middle-margin .content-block-widget .content-block-text p {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}
.text-big-margin .content-block-widget .content-block-text p {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
@media (min-width: 480px) {
  .text-big-margin .content-block-widget .content-block-text p {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .text-big-margin .content-block-widget .content-block-text p {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}
@media (min-width: 992px) {
  .text-big-margin .content-block-widget .content-block-text p {
    margin-top: 33px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1200px) {
  .text-big-margin .content-block-widget .content-block-text p {
    margin-top: 33px;
    margin-bottom: 33px;
  }
}
.content-block-widget .content-block-text p {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding: 0;
}
.content-block-widget .content-block-text p:nth-child(1) {
  margin-top: 0 !important;
}
.content-block-widget .content-block-text p:nth-last-child(1) {
  margin-bottom: 0 !important;
}
.content-block-widget .content-block-text td {
  padding: 3px 6px;
}
.content-block-widget .content-block-text img {
  max-width: 100%;
  height: auto !important;
  display: block;
}
.content-block-widget .content-block-text img[style*='float:left'],
.content-block-widget .content-block-text img[style*='float: left'] {
  margin-right: 5px;
}
.content-block-widget .content-block-text img[style*='float:right'],
.content-block-widget .content-block-text img[style*='float: right'] {
  margin-left: 5px;
}
@media (min-width: 480px) {
  .content-block-widget .content-block-text img[style*='float:right'],
  .content-block-widget .content-block-text img[style*='float: right'] {
    margin-left: 5px;
  }
}
@media (min-width: 768px) {
  .content-block-widget .content-block-text img[style*='float:right'],
  .content-block-widget .content-block-text img[style*='float: right'] {
    margin-left: 8px;
  }
}
@media (min-width: 992px) {
  .content-block-widget .content-block-text img[style*='float:right'],
  .content-block-widget .content-block-text img[style*='float: right'] {
    margin-left: 11px;
  }
}
@media (min-width: 1200px) {
  .content-block-widget .content-block-text img[style*='float:right'],
  .content-block-widget .content-block-text img[style*='float: right'] {
    margin-left: 11px;
  }
}
.content-block-widget .content-block-text iframe {
  margin-bottom: 60px;
}
.content-block-widget .content-block-text ul li {
  padding-left: 1em;
}
@media (min-width: 480px) {
  .content-block-widget .content-block-text ul li {
    padding-left: 1em;
  }
}
@media (min-width: 768px) {
  .content-block-widget .content-block-text ul li {
    padding-left: 1em;
  }
}
@media (min-width: 992px) {
  .content-block-widget .content-block-text ul li {
    padding-left: 1em;
  }
}
@media (min-width: 1200px) {
  .content-block-widget .content-block-text ul li {
    padding-left: 1em;
  }
}
.content-block-widget .content-block-text ul li:before {
  content: "\2013";
  width: 1em ;
  display: inline-block;
  margin-left: -1em;
  float: left;
}
@media (min-width: 480px) {
  .content-block-widget .content-block-text ul li:before {
    width: 1em ;
  }
}
@media (min-width: 768px) {
  .content-block-widget .content-block-text ul li:before {
    width: 1em ;
  }
}
@media (min-width: 992px) {
  .content-block-widget .content-block-text ul li:before {
    width: 1em ;
  }
}
@media (min-width: 1200px) {
  .content-block-widget .content-block-text ul li:before {
    width: 1em ;
  }
}
@media (min-width: 480px) {
  .content-block-widget .content-block-text ul li:before {
    margin-left: -1em;
  }
}
@media (min-width: 768px) {
  .content-block-widget .content-block-text ul li:before {
    margin-left: -1em;
  }
}
@media (min-width: 992px) {
  .content-block-widget .content-block-text ul li:before {
    margin-left: -1em;
  }
}
@media (min-width: 1200px) {
  .content-block-widget .content-block-text ul li:before {
    margin-left: -1em;
  }
}
.content-block-widget .content-block-text ol li {
  margin-left: 1.5em;
}
.content-block-widget .content-block-text li {
  margin-bottom: 0.5em;
}
