.gallery-widget ul.ace-thumbnails {
  width: 100%;
}
.gallery-widget ul.ace-thumbnails > li {
  border: none;
  margin-bottom: 6px;
  margin-right: 6px;
}
.gallery-widget ul.ace-thumbnails > li:hover {
  outline: 2px solid #e3e3e3;
}
.gallery-widget ul.ace-thumbnails > li .gallery-image {
  height: 120px;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  width: 205px;
}
@media (min-width: 992px) {
  .gallery-widget ul.ace-thumbnails > li .gallery-image {
    width: 196px;
  }
}
@media (min-width: 1200px) {
  .gallery-widget ul.ace-thumbnails > li .gallery-image {
    width: 196px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .gallery-widget ul.ace-thumbnails > li {
    width: 31%;
    overflow: hidden;
  }
  .gallery-widget ul.ace-thumbnails > li .gallery-image {
    left: 50%;
    width: 220px;
    margin-left: -110px;
  }
}
