.gallery-widget {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.gallery-widget .images-cont {
  position: relative;
  z-index: 1;
}
.gallery-widget .images-cont .image {
  float: left;
}
.gallery-widget .touch-img-cont {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.gallery-widget .arrow {
  height: 100%;
  width: 50px;
  position: absolute;
  top: 0;
  z-index: 3;
  font-size: 40px;
}
.gallery-widget .arrow.left {
  left: 0;
}
.gallery-widget .arrow.right {
  right: 0;
}
.gallery-widget .arrow .arrow-left,
.gallery-widget .arrow .arrow-right {
  position: absolute;
  top: 50%;
  color: #fff;
  margin-top: -20px;
  opacity: 0.5;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.05s ease-in 0s;
  transition: all 0.05s ease-in 0s;
}
.gallery-widget .arrow .arrow-left:hover,
.gallery-widget .arrow .arrow-right:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.05s ease-in 0s;
  transition: all 0.05s ease-in 0s;
}
.gallery-widget .arrow .arrow-left {
  left: 10px ;
}
@media (min-width: 480px) {
  .gallery-widget .arrow .arrow-left {
    left: 10px ;
  }
}
@media (min-width: 768px) {
  .gallery-widget .arrow .arrow-left {
    left: 14px ;
  }
}
@media (min-width: 992px) {
  .gallery-widget .arrow .arrow-left {
    left: 22px ;
  }
}
@media (min-width: 1200px) {
  .gallery-widget .arrow .arrow-left {
    left: 22px ;
  }
}
.gallery-widget .arrow .arrow-right {
  right: 10px ;
}
@media (min-width: 480px) {
  .gallery-widget .arrow .arrow-right {
    right: 10px ;
  }
}
@media (min-width: 768px) {
  .gallery-widget .arrow .arrow-right {
    right: 14px ;
  }
}
@media (min-width: 992px) {
  .gallery-widget .arrow .arrow-right {
    right: 22px ;
  }
}
@media (min-width: 1200px) {
  .gallery-widget .arrow .arrow-right {
    right: 22px ;
  }
}
@media (max-width: 767px) {
  .gallery-widget .arrow {
    font-size: 34px;
  }
  .gallery-widget .arrow-left {
    margin-top: -17px;
    left: 5px;
  }
  .gallery-widget .arrow-right {
    margin-top: -17px;
    right: 5px;
  }
}
.gallery-widget .gallery .modal:not(.error) .modal-content {
  background-color: #000;
  color: #fff;
}
.gallery-widget .gallery .modal .modal-dialog {
  width: 100%;
  max-width: 950px;
}
