.language-widget {
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
}
@media (max-width: 767px) {
  .language-widget {
    margin-top: 5px;
  }
}
.language-widget a {
  text-transform: uppercase;
}
.language-widget .current {
  border-left: 1px solid #b8b8b8;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  white-space: nowrap;
  color: #b02500;
}
.language-widget .current:hover {
  color: #b8b8b8;
}
.language-widget .current .value {
  text-transform: uppercase;
}
.language-widget .current .value:after {
  content: ' ';
}
.language-widget .current .caret {
  margin-top: -4px;
}
.language-widget .dropdown {
  border: 1px solid #b8b8b8;
  text-align: center;
  margin: 0 5px;
  background: #f2f2f2;
  -webkit-border-radius: 0;
  border-radius: 0;
  min-width: 0px;
  padding: 0 5px;
  font-size: inherit;
}
.language-widget .dropdown a {
  text-transform: uppercase;
  display: block;
}
