.leaflet-map-widget .map-container {
  width: 100%;
  height: 300px;
  -webkit-transition: .2s height linear;
  transition: .2s height linear;
}
@media (min-width: 768px) {
  .leaflet-map-widget .map-container {
    height: 400px;
  }
}
.leaflet-map-widget .map-container.leaflet_collapse {
  height: 250px;
}
.leaflet-map-widget .map-container.leaflet_collapse.opened {
  height: 400px;
}
@media (min-width: 768px) {
  .leaflet-map-widget .map-container.leaflet_collapse {
    height: 169px;
  }
  .leaflet-map-widget .map-container.leaflet_collapse.opened {
    height: 500px;
  }
}
.leaflet-map-widget .map-container .marker-cluster-small,
.leaflet-map-widget .map-container .marker-cluster-medium,
.leaflet-map-widget .map-container .marker-cluster-large {
  background: url('/leaflet-1.0.0-rc.1/images/marker-icon.png') center top no-repeat;
}
.leaflet-map-widget .map-container .marker-cluster {
  height: 40px !important;
  margin-top: -40px !important;
}
.leaflet-map-widget .map-container .marker-cluster div {
  position: relative;
  margin-left: 5px;
  margin-top: -1px;
}
.leaflet-map-widget .map-container .marker-cluster div span {
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #ff7a00;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  color: #fff;
  top: -2px;
  left: -3px;
  font-size: 10px;
}
.leaflet-map-widget .expand-btn,
.leaflet-map-widget .collapse-btn {
  font-size: 16px;
  line-height: 60px;
  height: 60px;
  color: #fff;
  background: #e3e3e3;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
