ul.linkPager {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
ul.linkPager li {
  display: inline;
}
ul.linkPager li > a,
ul.linkPager li > span {
  display: inline-block;
}
ul.linkPager .next,
ul.linkPager .previous,
ul.linkPager .page {
  float: left;
}
ul.linkPager .selected > a,
ul.linkPager .selected a.btn-white,
ul.linkPager .selected > span {
  background-color: #e3e3e3 !important;
}
ul.linkPager .disabled > a,
ul.linkPager .disabled a.btn-white,
ul.linkPager .disabled > a:hover,
ul.linkPager .disabled a.btn-white:hover,
ul.linkPager .disabled > a:focus,
ul.linkPager .disabled a.btn-white:focus,
ul.linkPager .disabled > span {
  color: #b8b8b8 !important;
  background-color: transparent !important;
  pointer-events: none;
  opacity: 0.65;
}
