{{ import('css', 'feedback.css', 'modules.feedback.widgets.css') }}

<script type="text/javascript">
    var feedback = {
        $form: null,
        $resultBlock: null,

        init: function()
        {
            this.$form = $('.feedback-widget.{{_uniqId}} form');
            this.$resultBlock = this.$form.find('#js-result-block');
            this.hideResult();
        },

        hideResult: function()
        {
            this.$resultBlock.find('#js-result-text').text('');
            this.$resultBlock.find('#js-status-text').html('');
            this.$resultBlock.hide();
        },

        setResult: function(text)
        {
            this.$resultBlock.show();
            this.$resultBlock.find('#js-result-text').text(text);
        },

        setStatus: function(strArr)
        {
            this.$resultBlock.show();
            this.$resultBlock.find('#js-status-text').html(strArr.join('<br/>'));
        }
    };

    $(document).ready(function() {
        feedback.init();
    });
</script>

<div class='feedback-widget {{_uniqId}}'>
    {% set form = this.beginWidget('CActiveForm', {
        'id':'FeedbackForm',
        'enableAjaxValidation': true,
        'clientOptions': {
            'validateOnSubmit': true,
            'validateOnChange': false,
            'errorCssClass': 'has-error',
        },
        'htmlOptions': {
            'class': 'form-horizontal',
            'role': 'form'
        }
    }) %}

        <div class='row'>
            <div class='col-xs-12'>
                {{ form.textField(model, 'name', {'placeholder':model.getAttributeLabel('name'), 'class':'form-control'})|raw }}
                {{ form.error(model, 'name')|raw }}
            </div>
        </div>
        <div class='space-small'></div>
        <div class='row'>
            <div class='col-xs-12'>
                {{ form.textArea(model, 'text', {'placeholder':model.getAttributeLabel('text')})|raw }}
                {{ form.error(model, 'text')|raw }}
            </div>
        </div>
        <div class='space-small'></div>
        <div class='row'>
            <div class='col-xs-12'>
                {{ form.label(model, 'section')|raw }}
                {{ form.dropDownList(model, 'section', sections)|raw }}
                {{ form.error(model, 'section')|raw }}
            </div>
        </div>
        <div class='space-small'></div>

        {% if static('CCaptcha', 'checkRequirements') %}
        <div class='row'>
            <div class='col-xs-12'>
                {{ widget('CCaptcha', {
                    'captchaAction': '/feedback/feedback/captcha'
                }) }}
                <div class='space-small'></div>
                {{ form.textField(model, 'verifyCode', {'placeholder':model.getAttributeLabel('verifyCode'), 'class':'form-control'})|raw }}
                {{ form.error(model, 'verifyCode')|raw }}
            </div>
        </div>
        <div class='space-small'></div>
        {% endif %}

        <div id='js-result-block'>
            <div class='space-12'></div>
            <div class='row'>
                <div class='col-sm-12'>
                    <p class='bigger-120' id='js-result-text'>
                    </p>
                </div>
                <div class='col-sm-12'>
                    <p id='js-status-text'>
                    </p>
                </div>
            </div>
        </div>

        {{ static('CHtml', 'ajaxSubmitButton', {
            'label':_t('app', 'Отправить'),
            'url':link({0:'/feedback/feedback/feedback'}),
            'ajaxOptions': {
                'beforeSend': 'js: function(jqXHR, settings) {
                    $("#FeedbackForm .errorMessage").hide();
                    $(".feedback-widget.'~_uniqId~' #js-submit-button").button("loading");
                }',
                'complete': 'js: function() {
                    $(".feedback-widget.'~_uniqId~' #js-submit-button").button("reset");
                }',
                'success': 'js: function(data) {
                    var response = jQuery.parseJSON(data);
                    feedback.hideResult();

                    if (response.success) {
                        window.location.reload();
                    } else {
                        $.each(response.errors, function(key, value) {
                            $("#"+key+"_em_").show();
                            $("#"+key+"_em_").html(value[0]);
                        });
                    }
                }',
                'error': 'js: function(e) {
                    feedback.hideResult();
                    $(".feedback-widget.'~_uniqId~' #js-submit-button").button("reset");
                    console.log("ERROR", e);
                }'
            },
            'htmlOptions': {
                'id': 'js-submit-button',
                'class': 'submit-btn',
                'data-loading-text': _t('app', 'Отправка')
            }
        })|raw }}

    {{ void(this.endWidget()) }}
</div>
