.faq-widget {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 480px) {
  .faq-widget {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .faq-widget {
    margin-bottom: 44px;
  }
}
@media (min-width: 992px) {
  .faq-widget {
    margin-bottom: 66px;
  }
}
@media (min-width: 1200px) {
  .faq-widget {
    margin-bottom: 66px;
  }
}
@media (min-width: 480px) {
  .faq-widget {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 768px) {
  .faq-widget {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  .faq-widget {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 1200px) {
  .faq-widget {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.faq-widget h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
@media (min-width: 480px) {
  .faq-widget h1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .faq-widget h1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}
@media (min-width: 992px) {
  .faq-widget h1 {
    margin-top: 33px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1200px) {
  .faq-widget h1 {
    margin-top: 33px;
    margin-bottom: 33px;
  }
}
.faq-widget .faq-item {
  padding-bottom: 10px;
}
@media (min-width: 480px) {
  .faq-widget .faq-item {
    padding-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .faq-widget .faq-item {
    padding-bottom: 14px;
  }
}
@media (min-width: 992px) {
  .faq-widget .faq-item {
    padding-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .faq-widget .faq-item {
    padding-bottom: 22px;
  }
}
.faq-widget .question {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.faq-widget .question a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}
.faq-widget .question a.collapsed {
  color: #606060;
}
.faq-widget .question a.collapsed:before {
  content: '+';
}
.faq-widget .question a:before {
  content: "\2013";
  color: #000;
  min-width: 18px ;
  width: 18px ;
  height: 18px ;
  background-color: #f8ce00;
  display: inline-block;
  text-align: center;
  font-size: 15px ;
  line-height: 1 ;
  line-height: 21px ;
  margin-right: 5px;
  position: relative;
  top: 0px ;
}
@media (min-width: 480px) {
  .faq-widget .question a:before {
    min-width: 27px ;
  }
}
@media (min-width: 768px) {
  .faq-widget .question a:before {
    min-width: 30px ;
  }
}
@media (min-width: 992px) {
  .faq-widget .question a:before {
    min-width: 30px ;
  }
}
@media (min-width: 1200px) {
  .faq-widget .question a:before {
    min-width: 30px ;
  }
}
@media (min-width: 480px) {
  .faq-widget .question a:before {
    width: 27px ;
  }
}
@media (min-width: 768px) {
  .faq-widget .question a:before {
    width: 30px ;
  }
}
@media (min-width: 992px) {
  .faq-widget .question a:before {
    width: 30px ;
  }
}
@media (min-width: 1200px) {
  .faq-widget .question a:before {
    width: 30px ;
  }
}
@media (min-width: 480px) {
  .faq-widget .question a:before {
    height: 27px ;
  }
}
@media (min-width: 768px) {
  .faq-widget .question a:before {
    height: 30px ;
  }
}
@media (min-width: 992px) {
  .faq-widget .question a:before {
    height: 30px ;
  }
}
@media (min-width: 1200px) {
  .faq-widget .question a:before {
    height: 30px ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .faq-widget .question a:before {
    font-size: 18px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .faq-widget .question a:before {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .faq-widget .question a:before {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .faq-widget .question a:before {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .faq-widget .question a:before {
    line-height: 24px ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .faq-widget .question a:before {
    line-height: 32px ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .faq-widget .question a:before {
    line-height: 32px ;
  }
}
@media (min-width: 1200px) {
  .faq-widget .question a:before {
    line-height: 32px ;
  }
}
@media (min-width: 480px) {
  .faq-widget .question a:before {
    margin-right: 5px;
  }
}
@media (min-width: 768px) {
  .faq-widget .question a:before {
    margin-right: 8px;
  }
}
@media (min-width: 992px) {
  .faq-widget .question a:before {
    margin-right: 11px;
  }
}
@media (min-width: 1200px) {
  .faq-widget .question a:before {
    margin-right: 11px;
  }
}
@media (min-width: 480px) {
  .faq-widget .question a:before {
    top: -4px ;
  }
}
@media (min-width: 768px) {
  .faq-widget .question a:before {
    top: -4px ;
  }
}
@media (min-width: 992px) {
  .faq-widget .question a:before {
    top: -4px ;
  }
}
@media (min-width: 1200px) {
  .faq-widget .question a:before {
    top: -4px ;
  }
}
.faq-widget .question a > * {
  display: inline;
}
.faq-widget .answer {
  margin-top: 5px;
  margin-left: 0;
  padding-left: 15px;
}
@media (min-width: 480px) {
  .faq-widget .answer {
    margin-top: 5px;
  }
}
@media (min-width: 768px) {
  .faq-widget .answer {
    margin-top: 8px;
  }
}
@media (min-width: 992px) {
  .faq-widget .answer {
    margin-top: 11px;
  }
}
@media (min-width: 1200px) {
  .faq-widget .answer {
    margin-top: 11px;
  }
}
@media (min-width: 480px) {
  .faq-widget .answer {
    margin-left: 30px;
  }
}
@media (min-width: 768px) {
  .faq-widget .answer {
    margin-left: 42px;
  }
}
@media (min-width: 992px) {
  .faq-widget .answer {
    margin-left: 66px;
  }
}
@media (min-width: 1200px) {
  .faq-widget .answer {
    margin-left: 66px;
  }
}
@media (min-width: 480px) {
  .faq-widget .answer {
    padding-left: 18px;
  }
}
@media (min-width: 768px) {
  .faq-widget .answer {
    padding-left: 24px;
  }
}
@media (min-width: 992px) {
  .faq-widget .answer {
    padding-left: 24px;
  }
}
@media (min-width: 1200px) {
  .faq-widget .answer {
    padding-left: 24px;
  }
}
.faq-widget .answer:before {
  content: '\2013';
  width: 15px ;
  display: inline-block;
  text-align: center;
  margin-left: -15px;
  float: left;
}
@media (min-width: 480px) {
  .faq-widget .answer:before {
    width: 18px ;
  }
}
@media (min-width: 768px) {
  .faq-widget .answer:before {
    width: 24px ;
  }
}
@media (min-width: 992px) {
  .faq-widget .answer:before {
    width: 24px ;
  }
}
@media (min-width: 1200px) {
  .faq-widget .answer:before {
    width: 24px ;
  }
}
@media (min-width: 480px) {
  .faq-widget .answer:before {
    margin-left: -18px;
  }
}
@media (min-width: 768px) {
  .faq-widget .answer:before {
    margin-left: -24px;
  }
}
@media (min-width: 992px) {
  .faq-widget .answer:before {
    margin-left: -24px;
  }
}
@media (min-width: 1200px) {
  .faq-widget .answer:before {
    margin-left: -24px;
  }
}
.faq-widget .answer:after {
  content: '';
  margin-bottom: 10px;
}
@media (min-width: 480px) {
  .faq-widget .answer:after {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .faq-widget .answer:after {
    margin-bottom: 14px;
  }
}
@media (min-width: 992px) {
  .faq-widget .answer:after {
    margin-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .faq-widget .answer:after {
    margin-bottom: 22px;
  }
}
