<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ App.baseUrl }}/favicon.ico">
    <link rel="icon" type="image/png" href="{{ App.baseUrl }}/favicon.png">
{#    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ App.baseUrl }}/img/icons/icon152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ App.baseUrl }}/img/icons/icon144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ App.baseUrl }}/img/icons/icon120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ App.baseUrl }}/img/icons/icon114.png">   {# Иконка для iPhone #}
{#    <link rel="apple-touch-icon-precomposed" sizes="72x72"   href="{{ App.baseUrl }}/img/icons/icon72.png">    {# Иконка для iPad #}
{#    <link rel="apple-touch-icon-precomposed" href="{{ App.baseUrl }}/img/icons/icon57.png">                    {# Обычная иконка 57x57 #}

    <meta http-equiv="cleartype" content="on">                  {# Принудительное сглаживание шрифтов для Mobile IE #}
    <meta name="format-detection" content="telephone=no">       {# Отключаем распознавание телефона #}
    <meta name="format-detection" content="address=no">         {# Отключаем распознавание адреса #}

    {% block meta %}
    {% endblock %}
    
    <link rel="canonical" href="{{ this.canonicalUrl }}">

    {% block beforeJs %}
    {% endblock %}

    <title>{% block title %}{{ this.pageTitle }}{% endblock %}</title>

    {{ import('js', 'bootstrap.js') }}
    {{ import('js', 'ace.js', 'ext.mAdmin.assets.js') }}
    <script src="https://unpkg.com/vue"></script>

    {% block js %}
    {% endblock %}

    {{ import('css', 'bootstrap.css') }}
    {#{ import('css', 'ace.css') }#}
    {{ import('css', 'custom.css') }}
    {{ import('css', 'fonts_roboto.css') }}
    {{ import('css', 'fonts_robotslab.css') }}
    {{ import('css', 'fonts_awesome.css') }}
    {% block css %}
    {% endblock %}

    {{ widget('ext.widgets.JsonLdWidget') }}
    {{ widget('ext.widgets.FacebookPixelWidget') }}
</head>
<body class='{% block bodyClass %}{% endblock %}'>
    {{ widget('ext.widgets.YandexMetrikaWidget') }}
    {{ widget('ext.widgets.GoogleAnalytisWidget') }}

    {% block bodyStart %}
    {% endblock %}

    <div class='hidden-print'>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>


    <div class='visible-print'>
        {% block print %}
        {% endblock %}
    </div>

    {% block bodyEnd %}
    {% endblock %}

    {{ widget('ext.widgets.CallBackHunterWidget') }}
    {{ static('GlobalFormData', 'createForm')|raw }}
</body>
</html>
