{% extends 'extensions/widgets/views/menu.twig' %}
{% import 'extensions/widgets/views/menu.twig' as menuMacros %}

{% block menuContent %}
    {{ import('css', 'articleMenu.css', 'modules.articles.widgets.css') }}
    {{ import('css', 'menu.css') }}

    <div class='article-widget  vmenu'>
        {{ menuMacros.drawMenu(menu.children, 'submenu') }}
    </div>
{% endblock %}
