{{ import('css', 'header.css', 'ext.widgets.css') }}

{% spaceless %}
<div class='header-widget'>
    <div class='container-fluid logo-container'>
        <div class='container'>
            <div class='row  logo-row'>

                <div class='col-xs-12  visible-sm  visible-xs'>
                    <div class='logo'></div>
                </div>
                <div class='col-md-4  col-sm-6  col-xs-6  text-left  city-col'>
                    <div class='city-col-inside'>
                        <div>{% if cityName and cityName != _t('app', 'Москва') %}{{ cityName }},&nbsp;{% endif %}{{ _t('app', 'Москва') }},&nbsp;</div>
                        <div>
                            <a href='tel:{{ call('str_replace', [' ', '', App.localConfig.getParam('contact-info.phone')]) }}' >{{ App.localConfig.getParam('contact-info.phone', true)|raw }}</a>
                        </div>
                    </div>
                </div>
                <div class='col-md-4  hidden-sm  hidden-xs'>
                    <div class='logo'></div>
                </div>
                <div class='col-md-4  col-sm-6  col-xs-6  text-right  answ-col'>
                    <div class='answ-col-inside'>
                        <a href='#faq'>{{ _t('app', 'Ответы на все вопросы') }} &darr;</a>
                    </div>
                </div>
        
            </div>
        </div>
    </div>

    <div class='container-fluid slogan-container'>
        <div class='slogan-inner-container'>

            <div class='slogan-info-block'>
                <div class='slogan-block'>
                    <div class='title'>
                        {{ widget('ext.widgets.ContentBlocksWidget', {
                            'position': const('ContentBlocks', 'POS_HEADER_SLOGAN'),
                            'raw': true
                        }) }}
                    </div>
                    <div class='text'>
                        {{ widget('ext.widgets.ContentBlocksWidget', {
                            'position': const('ContentBlocks', 'POS_HEADER_TEXT_1'),
                            'raw': true
                        }) }}
                    </div>
                </div>

                <div class='info-block'>
                    <h5>&nbsp;{{ _t('app', 'Мы можем сделать для вас:') }}</h5>

                    <div class='info'>{{ _t('app', 'Недорогой проект') }}
                        <a class='pdf' target='_blank' href='{{ link({0:"/mainPage/mainPage/getFile", 'filename': projectFilePdf, 'path':'project'}) }}' onclick="yaCounter44889733.reachGoal('GETFILE'); return true;">{{ _t('app', 'Пример проекта') }}
                        </a>
                    </div>
                    <div class='info'>{{ _t('app', 'Подбор материалов') }}      {# Готовую смету ремонта #}
                        <a class='pdf' target='_blank' href='{{ link({0:"/mainPage/mainPage/getFile", 'filename': smetaFilePdf, 'path':'smeta'}) }}' onclick="yaCounter44889733.reachGoal('GETFILE'); return true;">{{ _t('app', 'Пример сметы') }}
                        </a>
                    </div>
                    <div class='info'>{{ _t('app', 'Контроль качества работ') }}</div>
                    <div class='info'>{{ _t('app', 'Ремонт "под ключ"') }}</div>
                </div>
            </div>

            <div class='gallery-block'>
                {{ widget('ext.widgets.GalleryRemontWidget') }}
            </div>

        </div>
    </div>

    <div class='container-fluid step-info-container'>
        <div class='step-info-container-inner'>
            <div class='row'>
                <div class='col-sm-6'>

                    <div class='row'>
                        <div class='col-xxs-6'>
                            <div class='step'>
                                <div class='square'>1</div>
                                <div class='info'>
                                    {{ _t('app', 'Вы выбираете цвета и материалы в конструкторе, заказываете проект') }}
                                </div>
                            </div>
                        </div>
                        <div class='col-xxs-6'>
                            <div class='step'>
                                <div class='square'>2</div>
                                <div class='info'>
                                    {{ _t('app', 'Связываемся, согласуем планировки') }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class='col-sm-6'>

                    <div class='row'>
                        <div class='col-xxs-6'>
                            <div class='step'>
                                <div class='square'>3</div>
                                <div class='info'>
                                    {{ _t('app', 'Мы готовим и передаём чертежи и расчёты') }}
                                </div>
                            </div>
                        </div>
                        <div class='col-xxs-6'>
                            <div class='step'>
                                <div class='square'>4</div>
                                <div class='info'>
                                    {{ _t('app', 'Вы приступаете к ремонту или заказываете его у нас') }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class='info-block  hide'>
            <div class='row'>
                <div class='col-sm-6'>
                    <div class='info'>
                        {{ _t('app', 'В&nbsp;5&nbsp;раз быстрее, в&nbsp;5&nbsp;раз дешевле других проектов')|raw }}
                    </div>
                </div>
                <div class='col-sm-6'>
                    <div class='info'>
                        {{ _t('app', 'Более&nbsp;100 реализованных проектов в&nbsp;13&nbsp;городах России')|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}
