{% extends 'views/layouts/main.twig' %}

{% block content %}
<div class='container'>
    <div class='row'>

        <div class='space-middle'></div>
        <h2>Войти</h2>
        <div class='space-middle'></div>

        <div class="form">
            {% set form = this.beginWidget('CActiveForm', {
                'enableClientValidation': true,
                'clientOptions': {'validateOnSubmit': true},
            }) %}
                <p class="note">Поля с символом <span class="required">*</span> обязательны для заполнения.</p>
                
                <div class='row'>
                    <div class='col-sm-2 col-md-2 col-lg-2'>
                        {{form.labelEx(model,'email')|raw}}
                    </div>
                    <div class='col-sm-10 col-md-10 col-lg-10'>
                        {{form.textField(model,'email')|raw}}
                        {{form.error(model,'email')|raw}}
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-2 col-md-2 col-lg-2'>
                        {{form.labelEx(model,'password')|raw}}
                    </div>
                    <div class='col-sm-10 col-md-10 col-lg-10'>
                        {{form.passwordField(model,'password')|raw}}
                        {{form.error(model,'password')|raw}}
                    </div>
                </div>

                <div class='row'>
                    <div class='col-xs-12'>
                        {{form.checkBox(model,'rememberMe')|raw}}
                        {{form.label(model,'rememberMe')|raw}}
                        {{form.error(model,'rememberMe')|raw}}
                    </div>
                </div>

                {{ static('CHtml', 'submitButton', [_t('app', 'Войти'), {'class':'btn btn-primary no-border'} ])|raw }}

                <div class='space-big'></div>
            {{ void(this.endWidget()) }}
        </div>

    </div>
</div>
{% endblock %}
