<h3>Политика конфиденциальности</h3>

<p>Настоящая Политика Конфиденциальности действует в отношении информации, которую вы, как пользователи, предоставляете во время использования сайта сервиса «Roomsme.ru», расположенному на доменном имени <a href='roomsme.ru' target='_blank'>roomsme.ru</a>.</p>

<h4>1. Какую информацию мы собираем</h4>

<p>Оставляя заявку на сайте сервиса «Roomsme.ru», вы, в зависимости от цели обращения (получение бесплатной консультации, обратный звонок, сообщение в форме обратной связи, получение конфигураций интерьера), предоставляете нам следующие персональные данные:</p>

<ul>
    <li>Имя.</li>
    <li>E-mail.</li>
    <li>Телефон.</li>
</ul>

<p>Также мы получаем данные о вашем IP-адресе, типе браузера, времени нахождения на сайте и другие сведения, предоставляемые сервисом статистики Яндекс.Метрика.</p>

<p>Предоставляя контактную информацию, убедитесь в её правильности и корректности. Если вы оставляете чужие персональные данные, то сперва получите разрешение от соответствующих лиц.</p>

<h4>2. Как мы используем информацию</h4>

<p>Все полученные данные мы используем исключительно для связи с вами и решения ваших вопросов.</p>

<ul>
    <li>Имя — используется для обращения к вам.</li>
    <li>E-mail — используется для ответа по электронной почте.</li>
    <li>Телефон — используется для звонка или отправки личного сообщения.</li>
</ul>

<h4>3. Как мы защищаем персональную информацию</h4>

<p>Мы обязуемся не разглашать персональные сведения, полученные от вас. Вся информация хранится в базе данных на сервере и нашем локальном компьютере. Доступы к серверу и компьютеру надёжно защищены паролями.</p>

<h4>4. Предоставление информации третьим лицам</h4>

<p>Мы гарантируем, что полученная от вас информация не будет передаваться третьим лицам, за исключением следующих случаев:</p>

<ul>
    <li>В соответствии с обоснованными требованиями законодательства.</li>
    <li>Для исполнения всех обязательств перед вами — но только с вашего разрешения.</li>
</ul>

<h4>5. Как с нами связаться</h4>

<p>Если у вас возникнут какие-то вопросы, связанные с сохранностью ваших персональных данных или связанные с работой сайта, обращайтесь к нам:</p>

<ul>
    <li>Телефон: +7 (922) 153-26-26</li>
    <li>E-mail: roomsme.ru@gmail.com</li>
</ul>

<p>С уважением,<br/>
Администратор сайта roomsme.ru Антон Сомов</p>

<p><i>Настоящая редакция политики конфиденциальности опубликована 1 июля 2017 года.</i></p>
