/**
 * Здесь настройки сайта, которые накладываются поверх bootstrap и ace
 */

// http://www.color-blindness.com/color-name-hue/

@black:         #000;
@brown:         #623b2a;
@cream:         #ded6d2;
@darkGrey:      #606060;
@grey:          #b8b8b8;
@lightGrey:     #e3e3e3;
@biege:         #c39367;
@red:           #e04e39;
@rusty:         #b02500;
@yellow:        #f8ce00;
@silver:        #efefef;
@white:         #fff;

@mainFont:              Roboto;
@mainFontVariant:       regular;
@mainFontSize:          18, 18, 18, 14, 10;         // См. @base-font-size

//---------- Headers -------------
@headerFont:            Roboto;
@headerFontVariant:     bold;
@h1-size:               40, 40, 40, 31, 22;
@h2-size:               36, 36, 36, 27, 18;
@h3-size:               30, 30, 30, 23, 16;
@h4-size:               24, 24, 24, 16, 12;
@h5-size:               18, 18, 18, 23, 18;
@h6-size:               15, 15, 15, 12, 10;

// [lg, md, sm, xs, xxs] or ''
@h1-line-height:        1, 1, 1, 1, 1;
@h2-line-height:        1, 1, 1, 1, 1;
@h3-line-height:        '';
@h4-line-height:        '';
@h5-line-height:        2, 2, 2, 1.3, 1.3;
@h6-line-height:        1, 1, 1, 1, 1;


// Основные отступы
@smallPadding-xs:       5px;
@middlePadding-xs:      10px;
@bigPadding-xs:         15px;

@smallPadding-sm:       8px;
@middlePadding-sm:      14px;
@bigPadding-sm:         22px;

@smallPadding-md:       11px;
@middlePadding-md:      22px;
@bigPadding-md:         33px;

@smallPadding-lg:       11px;
@middlePadding-lg:      22px;
@bigPadding-lg:         33px;

@smallPadding:          @smallPadding-xs;
@middlePadding:         @middlePadding-xs;
@bigPadding:            @bigPadding-xs;



// Цвета
@devRedBg:              rgba(255,0,0,0.2);
@devGreenBg:            rgba(0,255,0,0.2);
@devBlueBg:             rgba(0,0,255,0.2);
@devMagentaBg:          rgba(255,0,255,0.2);
@devGreyBg:             rgba(0,0,0,0.05);

// Основные цвета
@mainBg:                #f2f2f2;
@colorText:             @black;
@colorTextWhite:        @white;
@colorTextGrey:         @grey;
@colorTextDark:         @darkGrey;
@colorTextLight:        @lightGrey;
@colorSeparatorLine:    @lightGrey;
@colorAlert:            @grey;

// Цвета ссылок
@colorLink:             @rusty;
@colorLinkHover:        @grey;
@colorLinkActive:       @grey;
@colorLinkDisable:      @lightGrey;


@siteW: 950px;
@innerIndents: 30px 30px 30px 30px 15px;       // Отступы от границ сайта внутри некоторых блоков