/*
 http://www.fontsquirrel.com/tools/webfont-generator

 Character type: lowercase, uppercase, numbers, punctuation, currency, math symbols;
 Language: Cyrillic, English;
 Unicode Tables: Basic latin, Currency symbols, punctuation;
*/

@import (reference) '../less_include/custom_variables.less';

@fonts: 10 14px,    11 15px,    12 16px,    13 17px,    14 19px,
        15 21px,    16 22px,    17 23px,    18 24px,    19 25px,
        20 26px,                22 29px,    23 30px,    24 32px,
        25 33px,    26 35px,    27 36px,    28 37px,    29 38px,
        30 40px,    31 41px,    32 42px,    33 43px,    34 44px,
        35 45px,    36 47px,    37 48px,    38 50px,
        40 52px,    41 54px,    42 56px;

// Sizes
.font-size(@s) {
    @size: ceil(@s);
    font-size: ~"@{size}px";
    line-height: 1;

    .iter(length(@fonts));
    .iter(@i) when (@i > 0) {
        .iter(@i - 1);
        @pair:  extract(@fonts, @i); 
        @key:   extract(@pair, 1);
        @value: extract(@pair, 2); 

        & when (@key = @size) {
            line-height: @value;
        };
    }
}
.font-size(@size, @lh) {
    font-size: ~"@{size}px";
    line-height: @lh;
}

.font-size-em(@s) {
    @baseFontSize: extract(@mainFontSize, 1);

    @baseSize: ceil(@s);
    @size: unit(@s / @baseFontSize, em);
    font-size: @size;
    line-height: 1;

    .iter(length(@fonts));
    .iter(@i) when (@i > 0) {
        .iter(@i - 1);
        @pair:  extract(@fonts, @i); 
        @key:   extract(@pair, 1);
        @value: extract(@pair, 2); 

        & when (@key = @baseSize) {
            line-height: unit(@value / @s, ~'');
        };
    }
}
.font-size-em(@s, @lh) {
    @baseFontSize: extract(@mainFontSize, 1);
    @size: unit(@s / @baseFontSize, em);

    font-size: @size;
    .lineHeight(@lh) when (default()) {
        line-height: @lh;
    };
    .lineHeight(@lh) when (get-unit(@lh) = ~'px') {
        line-height: unit(@lh / @s, ~'');
    };
    .lineHeight(@lh);
}

// Responsive sizes
.font-size-responsive-by-array(@sizeArr, @lineHeight:'', @important:'') {
    .font-size-responsive-ex(@sizeArr, 0, 1, @lineHeight, @important);
}

.font-size-responsive-ex(@sizeArr, @add:0, @coeff:1, @lineHeight:'', @important:'') {
    & when (length(@sizeArr) = 4) {
        @lgSize: extract(@sizeArr, 1) * @coeff + @add;
        @mdSize: extract(@sizeArr, 2) * @coeff + @add;
        @smSize: extract(@sizeArr, 3) * @coeff + @add;
        @xsSize: extract(@sizeArr, 4) * @coeff + @add;
        .font-size-responsive(@lgSize, @mdSize, @smSize, @xsSize, @xsSize, @lineHeight, @important);
    }
    & when (length(@sizeArr) = 5) {
        @lgSize: extract(@sizeArr, 1) * @coeff + @add;
        @mdSize: extract(@sizeArr, 2) * @coeff + @add;
        @smSize: extract(@sizeArr, 3) * @coeff + @add;
        @xsSize: extract(@sizeArr, 4) * @coeff + @add;
        @xxsSize: extract(@sizeArr, 5) * @coeff + @add;
        .font-size-responsive(@lgSize, @mdSize, @smSize, @xsSize, @xxsSize, @lineHeight, @important);
    }
}

.font-size-responsive(@lgSz, @mdSz, @smSz, @xsSz, @xxsSz, @lineHeight:'', @important:'') {
    @lgSize: ceil(@lgSz);
    @mdSize: ceil(@mdSz);
    @smSize: ceil(@smSz);
    @xsSize: ceil(@xsSz);
    @xxsSize: ceil(@xxsSz);

    font-size: ~"@{xxsSize}px" ~"@{important}";
    line-height: 1 ~"@{important}";
    @media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
        font-size: ~"@{xsSize}px" ~"@{important}";
        line-height: 1 ~"@{important}";
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        font-size: ~"@{smSize}px" ~"@{important}";
        line-height: 1 ~"@{important}";
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        font-size: ~"@{mdSize}px" ~"@{important}";
        line-height: 1 ~"@{important}";
    }
    @media (min-width: @screen-lg-min) {
        font-size: ~"@{lgSize}px" ~"@{important}";
        line-height: 1 ~"@{important}";
    }

    // Устанавливаем стандартные значения из таблицы
    .lineHeight(@lineHeight) when (@lineHeight = '') {
        .iter(length(@fonts));
        .iter(@i) when (@i > 0) {
            .iter(@i - 1);
            @pair:  extract(@fonts, @i); 
            @key:   extract(@pair, 1);
            @value: extract(@pair, 2); 

            & when (@key = @xxsSize) {
                line-height: @value ~"@{important}";
            }
            & when (@key = @xsSize) {
                @media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
                    line-height: @value ~"@{important}";
                }
            };
            & when (@key = @smSize) {
                @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                    line-height: @value ~"@{important}";
                }
            };
            & when (@key = @mdSize) {
                @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                    line-height: @value ~"@{important}";
                }
            };
            & when (@key = @lgSize) {
                @media (min-width: @screen-lg-min) {
                    line-height: @value ~"@{important}";
                }
            };
        }
    }
    .lineHeight(@lineHeight) when (default()) {
        .varByArray(~'line-height', @lineHeight, @important);
    }
    .lineHeight(@lineHeight);
}

// Deprecated
.font-size-responsive(@mainSize, @smallSize, @important:'') {
    @arr: @mainSize @mainSize @mainSize @mainSize @smallSize;
    .font-size-responsive-by-array(@arr, '', @important);
}



// FiraSans
.font(FiraSans) {
    .font(FiraSans, regular);
}
.font(FiraSans, regular) {
    font-family: 'Fira Sans', sans-serif;
    font-weight: normal;
}
.font(FiraSans, bold) {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}
.font(FiraSans, light) {
    font-family: 'fira_sans_lightregular', sans-serif;
    font-weight: normal;
}



// OpenSans
.font(OpenSans) {
    .font(OpenSans, regular);
}
.font(OpenSans, regular) {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.font(OpenSans, light) {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.font(OpenSans, semibold) {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.font(OpenSans, bold) {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}





// FTY Varoge
.font(FTY_Varoge) {
    font-family: 'FTYVarogeSaroNoestNCV', Helvetica, Arial, sans-serif;
    font-weight: normal;
}


// Helvetica
.font(Helvetica) {
    font-family: 'helveticaneuecyrroman', Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.font(Helvetica, italic) {
    font-family: 'helveticaneuecyritalic', Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.font(Helvetica, medium) {
    font-family: 'helveticaneuecyrmedium', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

// GothamPro
.font(GothamPro, medium) {
    font-family: 'gotham_pro_narrowmedium', Helvetica, Arial, sans-serif;
    font-weight: normal;
}


// PtSans
.font(PtSans) {
    .font(PtSans, regular);
}
.font(PtSans, regular) {
    font-family: 'PTSansRegular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
}
.font(PtSans, italic) {
    font-family: 'PTSansItalic', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
}
.font(PtSans, bold) {
    font-family: 'PTSansBold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
}

// Pt Sans Caption
.font(PtSansCaption) {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: normal;
}

// Pt Sans Narrow
.font(PtSansNarrow) {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;
}

// Pf Din Text COMP Pro
.font(PfDinTextCompPro, medium) {
    font-family: 'pf_din_text_comp_promedium';
    font-weight: normal;
}

// Roboto
.font(Roboto) {
    .font(Roboto, regular);
}
.font(Roboto, thin) {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.font(Roboto, light) {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.font(Roboto, regular) {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.font(Roboto, bold) {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

// Roboto Slab
.font(RobotoSlab) {
    .font(RobotoSlab, regular);
}
.font(RobotoSlab, regular) {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}
