@import (reference) '../less_include/custom_variables.less';

//--------------------------------------------------
// Checkbox
//--------------------------------------------------
@checkboxSize: 29px;
@checkH: @checkboxSize, @checkboxSize, @checkboxSize, ceil(@checkboxSize*0.70), ceil(@checkboxSize*0.55);
@checkHNeg: -@checkboxSize, -@checkboxSize, -@checkboxSize, ceil(-@checkboxSize*0.70), ceil(-@checkboxSize*0.55);

/* Base for label styling */
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
    position: relative;
    .varByArray(~"margin-left", @checkH);
    height: auto;
    .paddingSmall(0,0,1,0);
    .paddingMiddle(0,0,0,1);
    cursor: pointer;
    vertical-align: middle;
    .varByArray(~"line-height", @checkH); 
}

/* checkbox aspect */
input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    .varByArray(~"margin-left", @checkHNeg);
    .varByArray(~"width", @checkH);
    .varByArray(~"height", @checkH);
    border: 1px solid @grey;
    background: @mainBg;
    .shadow-inner(0px, 1px, 3px);
}
/* checked mark aspect */
input[type="checkbox"]:not(:checked) + label:after,
input[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 0px;
    .varByArray(~"left", 5px 5px 5px 4px 2px);
    .varByArray(~"margin-left", @checkHNeg);
    .varByArray(~"font-size", 24px 24px 24px ceil(24px*0.70) ceil(24px*0.55));
    color: @yellow;
    transition: all .2s;
}
/* checked mark aspect changes */
input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
input[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */
input[type="checkbox"]:disabled:not(:checked) + label:before,
input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: @grey;
  background-color: @lightGrey;
}
input[type="checkbox"]:disabled:checked + label:after {
    color: @darkGrey;
}
input[type="checkbox"]:disabled + label {
    //color: @grey;
}

label {
    font-weight: normal;
}


//--------------------------------------------------
// Radio
//--------------------------------------------------
@radioSize: 50px;

input[type=radio] {
    display: none;
}
input[type=radio] + label {
    @radioH:        @radioSize @radioSize @radioSize ceil(@radioSize*0.9) ceil(@radioSize*0.75);
    @radioPadding:  18px 18px 18px 14px 10px;

    border: 0px none;
    .varByArray(~'height', @radioH);
    .varByArray(~'min-width', @radioH);
    .varByArray(~'padding-left', @radioPadding);
    .varByArray(~'padding-right', @radioPadding);
    .font(@mainFont, bold);
    .font-size-responsive-by-array(@h4-size, @radioH);
    cursor: pointer;
    background-color: @lightGrey;
    margin-bottom: 0px;
    text-align: center;
    margin-right: 2px;

    &:not(.light) {
        .shadow-inner(0px, 0px, 20px, -5px);
    }

    &.light {
        @radioH:     40px 40px 40px 36px 32px;
        @radioLineH: 36px 36px 36px 32px 26px;
    
        .varByArray(~'height', @radioH);
        .paddingSmall(0,1,0,1);
        .font(@mainFont, regular);
        .font-size-responsive-by-array(15 15 15 15 13, @radioLineH);
        border: 3px solid @lightGrey;
        background: transparent;
        margin-bottom: 5px;
        background-color: @white;

        &:after {
            content: ' ';
            display: inline-block;
            .marginSmall(0,0,0,1);
            font-size: 1.2em;
            line-height: 1;
            min-width: 1em;
        }
    }
}

input[type=radio]:checked + label {
    background: @yellow;

    &.light {
        border-color: @yellow;
        background: @white;

        &:after {
            content: '✔';
            color: @yellow;
        }
    }
}


//--------------------------------------------------
// Text
//--------------------------------------------------
@textBoxH: 50px;

input[type='text'],
textarea {
    width: 100%;
    .shadow-inner(0px, 0px, 20px, -7px);
    border: 2px solid @grey;
    &:focus {
        border-color: @yellow;
    }
}

input[type='text'] {
    .varByArray(~"height", @textBoxH @textBoxH @textBoxH ceil(@textBoxH*1.2) ceil(@textBoxH));
    .font-size-responsive-ex(@h4-size);
    .paddingMiddle(0,1,0,1);

    text-align: left;
    &.small {
        text-align: center;
        .varByArray(~"height", @textBoxH @textBoxH @textBoxH ceil(@textBoxH*0.85) ceil(@textBoxH*0.65));
        .font-size-responsive-by-array(@h4-size);
    } 
}

textarea {
    .paddingMiddle(0,1,0,1);
    //.paddingSmall(1,0,1,0, 0.75);
    .font-size-responsive-ex(@h4-size);
    height: 5em;
}

//--------------------------------------------------
// Button
//--------------------------------------------------
button.submit,
input[type='submit'] {
    background-color: @yellow;
    .font(@mainFont, bold);
    text-align: center;
    border: 0px none;
    
    &:not(.small):not(.send-order) {
        @buttonH: 60px;
        .varByArray(~"height", @buttonH @buttonH @buttonH ceil(@buttonH*0.85) ceil(@buttonH*0.65));
        .paddingByArray(@buttonH @buttonH @buttonH ceil(@buttonH*0.85) ceil(@buttonH*0.65), 0, 1, 0, 1);
        .font-size-responsive-by-array(@h4-size);
    }
    &.small {
        @buttonH: 45px;
        @buttonPadding: 25px;
        .varByArray(~"height", @buttonH @buttonH @buttonH ceil(@buttonH*0.85) ceil(@buttonH*0.65));
        .paddingByArray(@buttonPadding @buttonPadding @buttonPadding ceil(@buttonPadding*0.85) ceil(@buttonPadding*0.65), 0, 1, 0, 1);
        .font-size-responsive-by-array(@h4-size);
    }
    &.send-order {
        @buttonH: 30px;
        @buttonPadding: 15px;
        .varByArray(~"height", @buttonH @buttonH @buttonH ceil(@buttonH*1.3) ceil(@buttonH*1.3));
        .paddingByArray(@buttonPadding @buttonPadding @buttonPadding ceil(@buttonPadding*1.2) ceil(@buttonPadding*1.2), 0, 1, 0, 1);
        .font-size-responsive-by-array(18 18 18 16 16, 1);
    }
}

//--------------------------------------------------
// Select
//--------------------------------------------------
select {
    background: transparent;
    width: 100%;
    .varByArray(~"height", @textBoxH @textBoxH @textBoxH @textBoxH @textBoxH*0.75);
    .paddingSmall(0,1,0,1);
}