h1, h2, h3, h4, h5, h6 {
    .font(@headerFont, @headerFontVariant);
    padding: 0px;
    margin: 0px;
}
h1 { .font-size-responsive-by-array(@h1-size, @h1-line-height); }
h2 { .font-size-responsive-by-array(@h2-size, @h2-line-height); }
h3 { .font-size-responsive-by-array(@h3-size, @h3-line-height); }
h4 { .font-size-responsive-by-array(@h4-size, @h4-line-height); }
h5 { .font-size-responsive-by-array(@h5-size, @h5-line-height); }
h6 { .font-size-responsive-by-array(@h6-size, @h6-line-height); }
