.loader(@w, @h) {
    visibility: hidden;

    &.is-active {
        visibility: visible;

        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 100000;
    
        color: #fff;
        background-color: fade(@mainBg, 85%);
        width: 100%;
        height: 100%;

        .transition(background-color, 0.05s);
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    &:after {
        @border: 8px;

        content: '';
        border: @border solid #ccc; /* Light grey */
        border-top: @border solid #3498db; /* Blue */
        border-radius: 50%;
        animation: spin 2s linear infinite;
        width: @w;
        height: @h;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -@w/2;
        margin-top: -@h/2;
    }

    &.top:after {
        top: @h;
        margin-top: 0;
    }
}
