@import "../../extensions/mAdmin/assets/css/less/bootstrap/mixins/vendor-prefixes.less";

// Колонка
.col() {
    width: auto;
    min-width: 0;
    float: left;
    height: inherit;
    min-height: 1px;
}
.col(@w) {
    width: @w;
    min-width: @w;
    float: left;
    height: inherit;
    min-height: 1px;
}

.outline() {
    outline: 1px dotted #808080;
}
.outline(red) {
    outline: 1px dotted rgba(255,0,0,0.8);
}
.bg(red) {
    background-color: @devRedBg !important;
}
.bg(blue) {
    background-color: @devBlueBg !important;
}
.bg(green) {
    background-color: @devGreenBg !important;
}
.bg(grey) {
    background-color: @devGreyBg !important;
}
.bg(magenta) {
    background-color: @devMagentaBg !important;
}

.background-size(@percent) {
    -webkit-background-size: @percent;
    -moz-background-size: @percent;
    -o-background-size: @percent;
    background-size: @percent;
}

// Градиенты
.gradient(vertical, @colorUp, @colorDown) {
    background: -webkit-linear-gradient(@colorUp, @colorDown);  /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@colorUp, @colorDown);       /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@colorUp, @colorDown);     /* For Firefox 3.6 to 15 */
    background: linear-gradient(@colorUp, @colorDown);          /* Standard syntax */
}

// Бордюры
.border-radius(@r) {
    -moz-border-radius:     @r;
    -webkit-border-radius:  @r;
    border-radius:          @r;
}
.border-radius(@topleft, @topright, @bottomright, @bottomleft) {
    -moz-border-radius-topleft:         @topleft;
    -moz-border-radius-topright:        @topright;
    -moz-border-radius-bottomright:     @bottomright;
    -moz-border-radius-bottomleft:      @bottomleft;

    -webkit-border-top-left-radius:     @topleft;
    -webkit-border-top-right-radius:    @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius:  @bottomleft;

    border-top-left-radius:             @topleft;
    border-top-right-radius:            @topright;
    border-bottom-right-radius:         @bottomright;
    border-bottom-left-radius:          @bottomleft;
}

// Тень
.shadow(@offsX, @offsY, @blur, @alpha:0.3) {
    box-shadow:         @offsX @offsY @blur rgba(0,0,0,@alpha);
   -moz-box-shadow:     @offsX @offsY @blur rgba(0,0,0,@alpha);
   -webkit-box-shadow:  @offsX @offsY @blur rgba(0,0,0,@alpha);
}
.shadow-inner(@offsX, @offsY, @blur, @alpha:0.3) {
    box-shadow:         inset @offsX @offsY @blur rgba(0,0,0,@alpha);
   -moz-box-shadow:     inset @offsX @offsY @blur rgba(0,0,0,@alpha);
   -webkit-box-shadow:  inset @offsX @offsY @blur rgba(0,0,0,@alpha);
}

// v.2
.shadow(@offsX, @offsY, @blur, @strength, @color:rgba(0,0,0,0.3)) {
    box-shadow:         @offsX @offsY @blur @strength @color;
   -moz-box-shadow:     @offsX @offsY @blur @strength @color;
   -webkit-box-shadow:  @offsX @offsY @blur @strength @color;
}
.shadow-inner(@offsX, @offsY, @blur, @strength, @color:rgba(0,0,0,0.3)) {
    box-shadow:         inset @offsX @offsY @blur @strength @color;
   -moz-box-shadow:     inset @offsX @offsY @blur @strength @color;
   -webkit-box-shadow:  inset @offsX @offsY @blur @strength @color;
}

.vertical-align(@position: relative) {
    position: @position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

// Залипающий подвал
.stickyFooter(@footerH, @wrapClassName:~'page-wrap', @footerClassName:~'footer' ) {
    .@{wrapClassName} {
        min-height: 100%;
        margin-bottom: -@footerH; 
        
        &:after {
            content: "";
            display: block;
        }
        & + .@{footerClassName},
        &:after {
            height: @footerH;
        }
    }
}

