// @sizeArr: [lg, md, sm, xs, xxs]
.varByArray(@var, @sizeArr:0, @important:'') {
    & when (length(@sizeArr) = 1) {
        @value: extract(@sizeArr, 1);
        @{var}: @value ~"@{important}";
        @media (min-width: @screen-xs-min) { @{var}: @value ~"@{important}"; }
        @media (min-width: @screen-sm-min) { @{var}: @value ~"@{important}"; }
        @media (min-width: @screen-md-min) { @{var}: @value ~"@{important}"; }
        @media (min-width: @screen-lg-min) { @{var}: @value ~"@{important}"; }
    }
    & when (length(@sizeArr) = 4) {
        @{var}: extract(@sizeArr, 4) ~"@{important}";
        @media (min-width: @screen-xs-min) { @{var}: extract(@sizeArr, 4) ~"@{important}"; }
        @media (min-width: @screen-sm-min) { @{var}: extract(@sizeArr, 3) ~"@{important}"; }
        @media (min-width: @screen-md-min) { @{var}: extract(@sizeArr, 2) ~"@{important}"; }
        @media (min-width: @screen-lg-min) { @{var}: extract(@sizeArr, 1) ~"@{important}"; }
    }
    & when (length(@sizeArr) = 5) {
        @{var}: extract(@sizeArr, 5) ~"@{important}";
        @media (min-width: @screen-xs-min) { @{var}: extract(@sizeArr, 4) ~"@{important}"; }
        @media (min-width: @screen-sm-min) { @{var}: extract(@sizeArr, 3) ~"@{important}"; }
        @media (min-width: @screen-md-min) { @{var}: extract(@sizeArr, 2) ~"@{important}"; }
        @media (min-width: @screen-lg-min) { @{var}: extract(@sizeArr, 1) ~"@{important}"; }
    }
}

// Отступы
.padding(@v:0, @t:1, @r:1, @b:1, @l:1) {
    & when (@t=1) { padding-top:    @v; }
    & when (@r=1) { padding-right:  @v; }
    & when (@b=1) { padding-bottom: @v; }
    & when (@l=1) { padding-left:   @v; }
}
.paddingByArray(@sizeArr:0, @t:1, @r:1, @b:1, @l:1, @c:1) {
    & when (length(@sizeArr) = 4) {
        .padding(extract(@sizeArr, 4)*@c, @t, @r, @b, @l);
        @media (min-width: @screen-xs-min) { .padding(extract(@sizeArr, 4)*@c, @t, @r, @b, @l); }
        @media (min-width: @screen-sm-min) { .padding(extract(@sizeArr, 3)*@c, @t, @r, @b, @l); }
        @media (min-width: @screen-md-min) { .padding(extract(@sizeArr, 2)*@c, @t, @r, @b, @l); }   
        @media (min-width: @screen-lg-min) { .padding(extract(@sizeArr, 1)*@c, @t, @r, @b, @l); }
    }
    & when (length(@sizeArr) = 5) {
        .padding(extract(@sizeArr, 5)*@c, @t, @r, @b, @l);
        @media (min-width: @screen-xs-min) { .padding(extract(@sizeArr, 4)*@c, @t, @r, @b, @l); }
        @media (min-width: @screen-sm-min) { .padding(extract(@sizeArr, 3)*@c, @t, @r, @b, @l); }
        @media (min-width: @screen-md-min) { .padding(extract(@sizeArr, 2)*@c, @t, @r, @b, @l); }   
        @media (min-width: @screen-lg-min) { .padding(extract(@sizeArr, 1)*@c, @t, @r, @b, @l); }
    }
}

.paddingSmall(@t:1, @r:1, @b:1, @l:1, @c:1) {
    @arr: @smallPadding-lg*@c, @smallPadding-md*@c, @smallPadding-sm*@c, @smallPadding-xs*@c;
    .paddingByArray(@arr, @t, @r, @b, @l);
}
.paddingMiddle(@t:1, @r:1, @b:1, @l:1, @c:1) {
    @arr: @middlePadding-lg*@c, @middlePadding-md*@c, @middlePadding-sm*@c, @middlePadding-xs*@c;
    .paddingByArray(@arr, @t, @r, @b, @l);
}
.paddingBig(@t:1, @r:1, @b:1, @l:1, @c:1) {
    @arr: @bigPadding-lg*@c, @bigPadding-md*@c, @bigPadding-sm*@c, @bigPadding-xs*@c;
    .paddingByArray(@arr, @t, @r, @b, @l);
}



.margin(@v:0, @t:1, @r:1, @b:1, @l:1) {
    & when (@t=1) { margin-top:    @v; }
    & when (@r=1) { margin-right:  @v; }
    & when (@b=1) { margin-bottom: @v; }
    & when (@l=1) { margin-left:   @v; }
}
.marginByArray(@sizeArr:0, @t:1, @r:1, @b:1, @l:1, @c:1) {
    & when (length(@sizeArr) = 4) {
        .margin(extract(@sizeArr, 4)*@c, @t, @r, @b, @l);
        @media (min-width: @screen-xs-min) { .margin(extract(@sizeArr, 4)*@c, @t, @r, @b, @l); }
        @media (min-width: @screen-sm-min) { .margin(extract(@sizeArr, 3)*@c, @t, @r, @b, @l); }
        @media (min-width: @screen-md-min) { .margin(extract(@sizeArr, 2)*@c, @t, @r, @b, @l); }   
        @media (min-width: @screen-lg-min) { .margin(extract(@sizeArr, 1)*@c, @t, @r, @b, @l); }
    }
    & when (length(@sizeArr) = 5) {
        .margin(extract(@sizeArr, 5)*@c, @t, @r, @b, @l);
        @media (min-width: @screen-xs-min) { .margin(extract(@sizeArr, 4)*@c, @t, @r, @b, @l); }
        @media (min-width: @screen-sm-min) { .margin(extract(@sizeArr, 3)*@c, @t, @r, @b, @l); }
        @media (min-width: @screen-md-min) { .margin(extract(@sizeArr, 2)*@c, @t, @r, @b, @l); }   
        @media (min-width: @screen-lg-min) { .margin(extract(@sizeArr, 1)*@c, @t, @r, @b, @l); }
    }
}
.marginSmall(@t:1, @r:1, @b:1, @l:1, @c:1) {
    @arr: @smallPadding-lg, @smallPadding-md, @smallPadding-sm, @smallPadding-xs;
    .marginByArray(@arr, @t, @r, @b, @l, @c);
}
.marginMiddle(@t:1, @r:1, @b:1, @l:1, @c:1) {
    @arr: @middlePadding-lg, @middlePadding-md, @middlePadding-sm, @middlePadding-xs;
    .marginByArray(@arr, @t, @r, @b, @l, @c);
}
.marginBig(@t:1, @r:1, @b:1, @l:1, @c:1) {
    @arr: @bigPadding-lg, @bigPadding-md, @bigPadding-sm, @bigPadding-xs;
    .marginByArray(@arr, @t, @r, @b, @l, @c);
}



// Вертикальные отступы
.space-small {
    min-height: 1px;
    max-height: 1px;
    overflow: hidden;
    margin: 0;

    .margin(@smallPadding-xs - 1, 1, 0, 0, 0);
    @media (min-width: @screen-sm-min) {
        .margin(@smallPadding-sm - 1, 1, 0, 0, 0);
    }
    @media (min-width: @screen-md-min) {
        .margin(@smallPadding-md - 1, 1, 0, 0, 0);
    }
    @media (min-width: @screen-lg-min) {
        .margin(@smallPadding-lg - 1, 1, 0, 0, 0);
    }
}
.space-middle {
    min-height: 1px;
    max-height: 1px;
    overflow: hidden;
    margin: 0;

    .margin(@middlePadding-xs - 1, 1, 0, 0, 0);
    @media (min-width: @screen-sm-min) {
        .margin(@middlePadding-sm - 1, 1, 0, 0, 0);
    }
    @media (min-width: @screen-md-min) {
        .margin(@middlePadding-md - 1, 1, 0, 0, 0);
    }
    @media (min-width: @screen-lg-min) {
        .margin(@middlePadding-lg - 1, 1, 0, 0, 0);
    }
}
.space-big {
    min-height: 1px;
    max-height: 1px;
    overflow: hidden;
    margin: 0;

    .margin(@bigPadding-xs - 1, 1, 0, 0, 0);
    @media (min-width: @screen-sm-min) {
        .margin(@bigPadding-sm - 1, 1, 0, 0, 0);
    }
    @media (min-width: @screen-md-min) {
        .margin(@bigPadding-md - 1, 1, 0, 0, 0);
    }
    @media (min-width: @screen-lg-min) {
        .margin(@bigPadding-lg - 1, 1, 0, 0, 0);
    }
}

// Горизонтальные отступы
.hspace-small {
    min-height: 1px;
    min-width: @smallPadding-xs;
    max-width: @smallPadding-xs;
    width: @smallPadding-xs;
    display: inline-block;          // Чтобы можно было использовать как пробелы в строке

    @media (min-width: @screen-sm-min) {
        min-width: @smallPadding-sm;
        max-width: @smallPadding-sm;
        width: @smallPadding-sm;
    }
    @media (min-width: @screen-md-min) {
        min-width: @smallPadding-md;
        max-width: @smallPadding-md;
        width: @smallPadding-md;
    }
    @media (min-width: @screen-lg-min) {
        min-width: @smallPadding-lg;
        max-width: @smallPadding-lg;
        width: @smallPadding-lg;
    }
}
.hspace-middle {
    min-height: 1px;
    min-width: @middlePadding-xs;
    max-width: @middlePadding-xs;
    width: @middlePadding-xs;
    display: inline-block;          // Чтобы можно было использовать как пробелы в строке

    @media (min-width: @screen-sm-min) {
        min-width: @middlePadding-sm;
        max-width: @middlePadding-sm;
        width: @middlePadding-sm;
    }
    @media (min-width: @screen-md-min) {
        min-width: @middlePadding-md;
        max-width: @middlePadding-md;
        width: @middlePadding-md;
    }
    @media (min-width: @screen-lg-min) {
        min-width: @middlePadding-lg;
        max-width: @middlePadding-lg;
        width: @middlePadding-lg;
    }
}
.hspace-big {
    min-height: 1px;
    min-width: @bigPadding-xs;
    max-width: @bigPadding-xs;
    width: @bigPadding-xs;
    display: inline-block;          // Чтобы можно было использовать как пробелы в строке

    @media (min-width: @screen-sm-min) {
        min-width: @bigPadding-sm;
        max-width: @bigPadding-sm;
        width: @bigPadding-sm;
    }
    @media (min-width: @screen-md-min) {
        min-width: @bigPadding-md;
        max-width: @bigPadding-md;
        width: @bigPadding-md;
    }
    @media (min-width: @screen-lg-min) {
        min-width: @bigPadding-lg;
        max-width: @bigPadding-lg;
        width: @bigPadding-lg;
    }
}
