@import (reference) '../less_include/custom_variables.less';
@import (reference) '../less_include/fonts.less';

/* Главная разметка */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    .font(@mainFont, @mainFontVariant);
}

// Шрифт и цвет сайта
// NOTE: Здесь нельзя переопределять table, иначе потом будет невозможно изменить стили таблицы
body {
    .font-size-responsive-by-array(@mainFontSize);
    color: @colorText;
    background-color: @mainBg;

    overflow-x: hidden;       // Отключаем скроллер, чтобы большие изображения не создавали его
}

// Настройка ссылок
.navbar-default  .navbar-nav > li > a,
a {
    &, &:visited, &:link, a:focus {
        text-decoration: none;
        color: @colorLink;
    }
    &:hover {
        text-decoration: none;
        color: @colorLinkHover;
    }
    &.active, &:active {
        text-decoration: none;
        color: @colorLinkActive;
    }

    &.disable {
        &, &:visited, &:link, a:focus, a:hover, a:active {
            color: @colorLinkDisable;
            cursor: default;
        }
    }
}

// Абзац
p {
    margin: 0px !important;
    padding: 0px;
    padding-bottom: @smallPadding;
    line-height: 1.5em;
}
p:nth-last-child(1) {
    padding-bottom: 0;
}

// Таблица
table {
    background-color: transparent;
    border: none;
    td {
        vertical-align: top;
        //text-align: left;   Не должно портиться выравнивание
    }
}

// Списки
ul, ol {
    padding: 0;
    margin: 0;
    display: inline-block;
}
ul li {
    list-style-type: none;
    &:nth-child(1) {
        padding-top: 0px;
    }
    &:nth-last-child(1) {
        padding-bottom: 0px;
    }
    &.disable {
        color: @colorLinkDisable;
    }
}
ol li {
    margin-left: 1em;
}

// Сбрасываем бордюр для всех элементов в фокусе
*:focus {
    outline: none;
}


// Настраиваем hidden и visible блоки печати
.hidden-print,
.visible-print {
    height: inherit;        // Чтобы эти блоки не влияли на отображение
}

// Сетка
@import (once) "../../extensions/mAdmin/assets/css/less/bootstrap/mixins.less";
@import (once) 'ace/bootstrap/grid.less';
@import (once) 'ace/bootstrap/responsive-utilities.less';

.modal-header {
    border-bottom: none;
}
