&.active {
    display: block;
}

/**
 * Назначаем отступы в абзацах в зависимости от родительского класса
 * Класс родительского контейнера:
 *  [no class] - small margin
 *  .text-small-margin - small margin
 *  .text-middle-margin - middle margin
 *  .text-big-margin - big margin
 */
p,
.text-small-margin & p {
    .marginSmall(1,0,1,0) !important;
}
.text-middle-margin & p {
    .marginMiddle(1,0,1,0) !important;
}
.text-big-margin & p {
    .marginBig(1,0,1,0) !important;
}


p {
    margin-top: @smallPadding !important;
    margin-bottom: @smallPadding !important;
    padding: 0;
}
p:nth-child(1) {
    margin-top: 0 !important;
}
p:nth-last-child(1) {
    margin-bottom: 0 !important;
}


td {
    padding: 3px 6px;
}
.text-center {
}
img {
    //width: 100%;                      // Убираем, иначе все картинки меньше, чем ширина контента, станут по ширине
    max-width: 100%;                    // Фиксируем размер картинки по размеру контейнера
    height: auto !important;
    display: block;
    //margin: 0 auto;                     // Центрируем картинку
}
// Отступ для обтекания картинки справа
img[style*='float:left'],
img[style*='float: left'] {
    margin-right: @smallPadding;
}
// Отступ для обтекания картинки слева
img[style*='float:right'],
img[style*='float: right'] {
    .marginSmall(0,0,0,1);
}
iframe {
    margin-bottom: 60px;
}
ul li {
    @dashWidth: 1em 1em 1em 1em 1em;

    .paddingByArray(@dashWidth, 0,0,0,1);
    &:before {
        content: "\2013";           // en dash
        .varByArray(~'width', @dashWidth);
        display: inline-block;
        .marginByArray(@dashWidth, 0,0,0,1, -1);
        float: left;
    }
}
ol li {
    margin-left: 1.5em;
}
li {
    margin-bottom: 0.5em; 
}
