<template>
    <div class='room-constructor-header'>
        <div class='row'>
            <div class='col-xs-12  col-sm-5'>
                <div class='info'>
                    <h4>Конструктор квартиры</h4>
                    <div class='text'>Выбирайте стиль и мебель, редактируйте смету и отправляйте заказ</div>
                </div>
            </div>
            <!-- Количество комнат и площадь -->
            <div class='col-xs-7  col-sm-5  no-padding-right'>
                <div class='rooms-list'  ref='roomList'>
                    <h5>Количество комнат</h5>
                    <div class='values'>
                        <template v-for="(roomData, roomId, index) in roomsInfo">
                            <template v-for="(square, roomNumber) in roomData">

                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="roomType"
                                    :id="'roomType' + index"
                                    :data-square="square['square']"
                                    :data-square-min="square['squareMin']"
                                    @change="$emit('onChange', roomId)"
                                >
                                <label class="form-check-inline" :for="'roomType' + index" v-html='roomNumber'></label>

                            </template>
                        </template>
                    </div>
                </div>
            </div>
            <div class='col-xs-5  col-sm-2  no-padding-left'>
                <div class='rooms-square'  ref='roomSquare'>
                    <h5>Площадь,&nbsp;м<sup>2</sup></h5>
                    <div class='values'>
                        <input class='small' type='text' value='' name='square'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    components: {
    },
    computed: {
    },
    props: ['roomsInfo'],
    data () {
        return {
        };
    },
    watch: { 
        roomsInfo (newVal, oldVal) {
            // Call on the next tick for the first initialization to work
            this.$nextTick(() => {
                $(this.$refs.roomList).find('[type=radio][name="roomType"]:first').trigger('click');
            });
        }
    },
    mounted () {
    },
    methods: {
    }
}
</script>
