<template>
    <div class='room-constructor-body'>
        <div class='room-block  room-content'>
            <div class='loader top' :class='{"is-active": isLoading}'></div>

            <div class='room-panels'>
                <div class='compartments-panel' ref='compartmentsPanel'>
                    <div class='compartments-item' v-for='(compartment, compartmentIdx) in roomsData'>

                        <div class='value'
                            @click='onCompartmentsClick'
                            :data-idx='compartmentIdx'
                            :data-val='Object.keys(compartment.blocks)[0]'
                        >
                            <span class='text'>{{ compartment.blocks[ Object.keys(compartment.blocks)[0] ].title }}</span>
                            <i v-if='compartment.blocks.length > 1' class='fa fa-caret-down'></i>
                        </div>
                        <div class='dropdown-panel  hide'>
                            <div class='item' v-for='(block, blockIdx) in compartment.blocks'
                                :data-idx='compartmentIdx'
                                :data-val='blockIdx'
                                @click='onBlockClick'
                            >
                                {{ block.title }}
                            </div>
                        </div>

<!--                         <select
                            class='yellow'
                            @click='onCompartmentsClick'
                            :data-idx='compartmentIdx'
                            :data-selected='compartmentIdx === 0 ? 1 : ""'
                        >
                            <option v-for='(block, blockIdx) in compartment.blocks' :value='blockIdx'>{{ block.title }}</option>
                        </select> -->
                    </div>
                </div>

                <div class='clearfix'></div>

                <div class='groups-panel' ref='groupsPanel'>
                    <template v-if='currentBlock != null'>
                        <div class='groups-item  js-group-item' v-for='(group, groupIdx) in currentBlock.groups' :data-idx='groupIdx'>
                            <div class='fa fa-caret-left  square' @click='onGroupLeft'></div>
                            <div class='item  js-item' :data-idx='0'>{{group.params[0].title}}</div>
                            <div class='fa fa-caret-right  square' @click='onGroupRight'></div>
    <!--                         <select
                                :data-idx='groupIdx'
                            >
                                <option v-for='(param, paramIdx) in group.params' :value='paramIdx'>{{ param.title }}</option>
                            </select> -->
                        </div>
                    </template>
                </div>
            </div>

            <div class='room-image'>
                <div class='cont'>
                    <div class='main' v-if='currentBlock != null'>
                        <img :src='currentBlock.imageUrl'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    components: {
    },
    computed: {
    },
    data () {
        return {
            roomsData: '',
            currentBlock: null,
            currentParam: null,
            isLoading: false,
        };
    },
    props: ['roomId'],
    watch: { 
        roomId (newVal, oldVal) {
            if (newVal !== oldVal) {
                this.changeRoom(newVal);
            }
        }
    },
    mounted () {
    },
    methods: {
        changeRoom (roomId) {
            this.isLoading = true;
            this.$http.post('/api/roomsData', {'roomId':roomId}, {emulateJSON:true}).then(function (response) {
                this.roomsData = response.data;
                this.isLoading = false;
                //this.preloadImages();
                this.$nextTick(() => {
                    // Select first option
                    let $firstEl = $(this.$refs.compartmentsPanel).find('.compartments-item:first-child');
                    let $value = $firstEl.find('.value');
                    let $list = $firstEl.find('.dropdown-panel');
                    let $firstItem = $list.find('.item:first-child');
                    const compartmentIdx = $firstItem.data('idx');
                    const blockIdx = $firstItem.data('val');
                    this.changeBlock($value, compartmentIdx, blockIdx);
                });
            });
        },
        changeBlock ($value, compartmentIdx, blockIdx) {
            this.currentBlock = this.roomsData[compartmentIdx].blocks[blockIdx];
            $value.find('.text').text(this.currentBlock.title);
            $value.data('val', blockIdx);
            $value.addClass('active');
        },
        preloadImages () {
            console.log('preloadImages');
        },
        onCompartmentsClick (ev) {
            let $prevValue = $(this.$refs.compartmentsPanel).find('.value.active');
            const prevBlock = $prevValue.data('val');
            const prevCompartment = $prevValue.data('idx');

            let $value = $(ev.currentTarget);
            const currBlock = $value.data('val');
            const currCompartment = $value.data('idx');

            $(this.$refs.compartmentsPanel).find('.value').removeClass('active');
            $value.addClass('active');

            // Нажали на другом элементе?
            if (currCompartment != prevCompartment) {
                $prevValue.siblings('.dropdown-panel').addClass('hide');
            }
            if (this.roomsData[currCompartment].blocks.length > 1) {
                $value.siblings('.dropdown-panel').toggleClass('hide');
            }
            if (currBlock != prevBlock || currCompartment != prevCompartment) {
                this.changeBlock($value, currCompartment, currBlock);
            }
        },
        onBlockClick (ev) {
            const $el = $(ev.target);
            const blockIdx = $el.data('val');
            const compartmentIdx = $el.data('idx');
            this.currentBlock = this.roomsData[compartmentIdx].blocks[blockIdx];
            $el.parent('.dropdown-panel').addClass('hide');
        },
        onGroupLeft (ev) {
            let $item = $(ev.target).siblings('.js-item').eq(0);
            let $group = $item.parent('.js-group-item');
            let paramIdx = $item.data('idx');
            let groupIdx = $group.data('idx');

            if (paramIdx > 0) {
                paramIdx--;
                $item.html(this.currentBlock.groups[groupIdx].params[paramIdx].title);
                $item.data('idx', paramIdx);
            }
        },
        onGroupRight (ev) {
            let $item = $(ev.target).siblings('.js-item').eq(0);
            let $group = $item.parent('.js-group-item');
            let paramIdx = $item.data('idx');
            let groupIdx = $group.data('idx');

            if (paramIdx < this.currentBlock.groups[groupIdx].params.length-1) {
                paramIdx++;
                $item.html(this.currentBlock.groups[groupIdx].params[paramIdx].title);
                $item.data('idx', paramIdx);
            }
        }
    }
}
/**
                $('.room-data .room-groups .params-list input[type=radio]').change( function(ev) {
                    var imgSrc = $(this).data('image');
                    var groupId = 'group_' + $(this).data('group');

                    var $cont = $(this).closest('.room-groups').prev('.room-image').find('.cont');

                    var $groupDiv = $cont.find('#'+groupId);
                    if (!$groupDiv.length) {
                        $groupDiv = $('<div id="' + groupId + '"></div>');
                        $cont.append($groupDiv);
                    }

                    $groupDiv.html('');
                    if (imgSrc) {
                        $groupDiv.html('<img src="'+imgSrc+'">');
                    }

                    self.changeStickingImage();
                });
*/
</script>
