<template>
    <div class='room-block'>
        <div class='row'>
            <div class='col-xs-12  calc-header'>
                Конструктор квартиры
            </div>
        </div>

        <!-- Количество комнат и площадь -->
        <div class='rooms-list-cont' id='js-rooms-list'>
            <div class='rooms-list'>
                <div class='title'>
                    Количество комнат
                </div>
                <div class='values'>
                    <template v-for="(roomData, roomId, index) in rooms">
                        <template v-for="(square, roomNumber) in roomData">

                            <input
                                class="form-check-input"
                                type="radio"
                                name="roomType"
                                :id="'roomType' + index"
                                :value="roomId"
                                :data-square="square['square']"
                                :data-square-min="square['squareMin']"
                            >
                            <label class="form-check-inline" :for="'roomType' + index" v-html='roomNumber'></label>

                        </template>
                    </template>
                </div>
            </div>
            <div class='rooms-square' id='js-rooms-square'>
                <div class='title'>
                    Площадь, м<sup>2</sup>
                </div>
                <div class='values'>
                    <input class='small' type='text' value='' name='square'>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    components: {
    },
    computed: {
    },
    props: ['rooms'],
    data () {
        return {
        };
    },
    mounted () {
    },
    methods: {
    }
}
</script>
