<template>
    <div>
        <!-- v-show чтобы работал watch(roomsInfo) -->
        <room-constructor-header
            v-show='roomsInfo != null'
            :roomsInfo='roomsInfo'
            @onChange='onChange'
        ></room-constructor-header>

        <room-constructor-body
            :roomId='roomId'
        ></room-constructor-body>

        <room-constructor-footer
        ></room-constructor-footer>
    </div>
</template>

<script>
import RoomConstructorHeader from './roomConstructorHeader.vue';
import RoomConstructorBody from './roomConstructorBody.vue';
import RoomConstructorFooter from './roomConstructorFooter.vue';

export default {
    components: {
        RoomConstructorHeader,
        RoomConstructorBody,
        RoomConstructorFooter
    },
    computed: {
    },
    data () {
        return {
            roomId: 0,
            roomsInfo: null,
        };
    },
    mounted () {
        this.$http.get('/api/roomsInfo').then(function (response) {
            this.roomsInfo = response.data;
        });
    },
    methods: {
        onChange (roomId) {
            this.roomId = roomId;
        }
    }
}
</script>
