@import '../../extensions/mAdmin/assets/css/less/bootstrap/variables.less';     // Переменные бутстрапа
@import '../less_include/custom_variables.less';                                // Переменные сайта
@import '../less_include/fonts.less';                                           // Шрифты
@import '../less_include/animation.less';                                       // Макросы для анимации
@import '../less_include/mixin.less';                                           // Всякие дополнительные макросы
@import '../less_include/paddings.less';                                        // Отступы
@import '../less_include/headers.less';                                         // Заголовки
@import '../less_include/reset.less';                                           // Сброс стилей бутстрапа до приемлемого состояния

h1 {
    .font(RobotoSlab, regular);
    .paddingMiddle(1,0,1,0);
}
h2 {
    .font(RobotoSlab, regular);
}

.separator {
    width: 100%;
    height: 2px;
    background: @yellow;
}