@import (reference) '../less_include/custom_variables.less';
@import (reference) '../less_include/mixin.less';

.hmenu {
    display: inline-block;

    ul > li.hover:hover > .submenu {
        display: block;
    }

    ul.root {
        padding: 0;
        margin: 0;
        display: inline-block;

        // Убираем лишний перенос после последнего <li> из-за float:left
        &:after {
            content: '';
            float: none;
            display: inline-block;
        }        

        & > li {
            float: left;
            list-style-type: none;

            &:nth-child(1) {
                padding-left: 0px;
            }
            &:nth-last-child(1) {
                padding-right: 0px;
            }

            & > a {
            }

            &.disable {
                a {
                    color: @colorLinkDisable;
                    cursor: default;
                    pointer-events: none;
                    text-decoration: none !important;
                }
            }

            .caret {
                display: none;
            }
        }
    }

    ul.submenu {
        display: none;
    }
}



.vmenu {
    display: inline-block;

    ul.root {
        padding: 0;
        margin: 0;
        display: inline-block;

        & > li {
            list-style-type: none;
        
            &:nth-child(1) {
                padding-top: 0px;
            }
            &:nth-last-child(1) {
                padding-bottom: 0px;
            }

            & > a {
            }

            &.disable {
                a {
                    color: @colorLinkDisable;
                    cursor: default;
                    pointer-events: none;
                    text-decoration: none !important;
                }
            }

            .caret {
                display: none;
            }
        }
    }

    ul.submenu {
        display: none;
    }
}

.menu-bootstrap.hmenu {
    ul.root {
        & > li {
            & > a {
                .caret {
                    display: inline-block;
                    color: @colorText;
                }
            }
        }
    }
    ul.submenu {
        &.dropdown-menu {
            .border-radius(0);
            & > li {
                & > a {
                    color: @colorLink;
                }
                &.disable {
                    a {
                        color: @colorLinkDisable;
                        cursor: default;
                        pointer-events: none;
                        text-decoration: none !important;
                    }
                }
            }
        }
        .btn-group {
            margin-left: 0;
            display: block;
        }
    }
}
