<script type="text/javascript">
$(function() {
    (function() {
        var roomData = {
            inherits: {},
            callForSimilar: false,

            init: function()
            {
                var self = this;
                self.initCompartments();

                $('.room-data .room-groups .params-list input[type=radio]').change( function(ev) {
                    var imgSrc = $(this).data('image');
                    var groupId = 'group_' + $(this).data('group');

                    var $cont = $(this).closest('.room-groups').prev('.room-image').find('.cont');

                    var $groupDiv = $cont.find('#'+groupId);
                    if (!$groupDiv.length) {
                        $groupDiv = $('<div id="' + groupId + '"></div>');
                        $cont.append($groupDiv);
                    }

                    $groupDiv.html('');
                    if (imgSrc) {
                        $groupDiv.html('<img src="'+imgSrc+'">');
                    }

                    self.changeStickingImage();
                });

                // Select first param at every param group, that use "find"
                $('.room-data .room-groups .params-list').find('input[type=radio]:first').trigger('click');

                self.initStickingImage();
                self.initInherits();

                // After all set new change worker
                $('.room-data .room-groups .params-list input[type=radio]').change( function(ev) {
                    // Dont send signal if checked similar options
                    if (self.callForSimilar) {
                        self.callForSimilar = false;
                        return;
                    }
                    // Send the signal about change some options to parent
                    self.sendResultInfo();
                });
                self.sendResultInfo();
            },

            initCompartments: function () {
                var self = this;
                var $compartments = $('.room-data .js-roomcompartment-section');

                $compartments.each(function() {
                    var $compartment = $(this);
                    var $list = $compartment.find('select.js-compartments-list');
                    $list.change(function() {
                        var roomId = $(this).val();
                        self.selectRoomBlock($compartment, roomId);
                    });
                    // Select first option
                    $list.val($list.find('option:first').val()).change();
                });
            },

            // Sticking image
            initStickingImage: function() {
                var self = this;

                var func = function(ev) {
                    var wndHeight   = $(window).height();
                    var wndTop      = $(window).scrollTop();
                    var wndBottom   = wndTop + wndHeight;

                    var useFix = true;
                    var $img = $('.room-data .room-image:first');
                    var imgHeight = $img.height();
                    if (imgHeight > wndHeight*3/4) {
                        useFix = false;
                    }
                    // Если первая картинка ниже верха, опускаем панель
                    if ($img.find('.cont').offset().top > wndTop) {
                        $('.room-constructor-widget .float-panel.float').removeClass('top');
                    }

                    $('.room-data .room-image').each( function() {
                        var $cont = $(this).find('.cont');
                        var $groupCont = $(this).next('.room-groups');

                        var blockTop    = $cont.offset().top;
                        var blockBottom = $groupCont.offset().top + $groupCont.height();
                        var blockHeight = $(this).height() + $groupCont.height();

                        if (blockHeight > wndHeight) {
                            if (blockTop >= wndTop || blockBottom < wndTop || !useFix) {
                                // Возвращаем картинку на место
                                $cont.css({'visibility':'visible'});
                                var $fixImg = $(this).find('.fix-img');
                                if ($fixImg.length) {
                                    $fixImg.remove();
                                }
                            } else if (blockTop < wndTop && useFix) {
                                if (imgHeight > wndHeight*2/3) {
                                    $('.room-constructor-widget .float-panel.float').addClass('top');
                                } else {
                                    $('.room-constructor-widget .float-panel.float').removeClass('top');
                                }

                                $cont.css({'visibility':'hidden'});
                                var $fixImg = $(this).find('.fix-img');
                                if (!$fixImg.length) {
                                    // Create new
                                    var html = $cont.html();
                                    var $fixImg = $('<div class="fix-img"></div>').append(html);
                                    $(this).prepend($fixImg);
                                    $fixImg.width($cont.width());
                                    $fixImg.height($cont.height());
                                }
                                // Reposition
                                var currH = blockBottom - wndTop;
                                if (currH < wndHeight) {
                                    var delta = currH - wndHeight;
                                    $fixImg.css({'top': Math.ceil(delta)});
                                    $('.room-constructor-widget .float-panel.float').removeClass('top');
                                }
                            }
                        }
                    });
                    self.changeStickingImage();
                };

                $(window)
                    .scroll(func)
                    .resize(func)
                    .resize();
            },

            // Инициализация зависимости нижних блоков от верхних
            // При включении одной опции, во всех нижних блоках будет включена такая же опция
            initInherits: function() {
                var self = this;
                self.inherits = {};
                $('.room-data .js-roomcompartment-section').each(function(compartmentIdx) {
                    var compartmentEl = $(this);
                    var compartmentTitle = $.trim( compartmentEl.find('.js-roomcompartment-title').text() );
                    var roomArr = {};
                    compartmentEl.find('.js-roomblock-section').each(function(blockIdx) {
                        var blockEl = $(this);
                        var blockTitle = $.trim( blockEl.find('.js-roomblock-title').text() );
                        var blockArr = {};
                        blockEl.find('.js-roomgroup-section').each(function(groupIdx) {
                            var groupEl = $(this);
                            var groupTitle = $.trim( groupEl.find('.js-roomgroup-title').text() );
                            var groupArr = {};
                            groupEl.find('.js-param-title').each(function(paramIdx) {
                                var paramEl = $(this);
                                var paramTitle = $.trim( paramEl.text() );
                                groupArr[paramTitle] = paramEl;
                            });
                            blockArr[groupTitle] = groupArr;
                        });
                        roomArr[blockTitle] = blockArr;
                    });
                    self.inherits[compartmentTitle] = roomArr;
                });
                //console.log(self.inherits);

                $('.room-data .room-groups .params-list input[type=radio]').change( function(ev) {
                    var roomCompartmentTitle = $.trim( $(this).closest('.js-roomcompartment-section').find('.js-roomcompartment-title').text() );
                    var roomBlockTitle = $.trim( $(this).closest('.js-roomblock-section').find('.js-roomblock-title').text() );
                    var roomGroupTitle = $.trim( $(this).closest('.js-roomgroup-section').find('.js-roomgroup-title').text() );
                    var roomParamTitle = $.trim( $(this).next('.js-param-title').text() );

                    //console.log(`${roomBlockTitle} -> ${roomGroupTitle} -> ${roomParamTitle}`);
                    
                    var groupFound = false;
                    $.each(self.inherits, function(roomCompartmentIdx, roomBlocksArr) {
                        // Searching only after current block
                        if (groupFound == false) {
                            if (roomCompartmentIdx == roomCompartmentTitle)
                                groupFound = true;
                            return;
                        }

                        $.each(roomBlocksArr, function(roomBlockIdx, roomGroupsArr) {                        
                            // Looking for similar group
                            var minDist = 10000;
                            var foundRoomParamArr = false;
                            $.each(roomGroupsArr, function(roomGroupIdx, roomParamArr) {
                                var roomGroupsDist = self.levenshtein(roomGroupIdx, roomGroupTitle);
                                if (roomGroupsDist < minDist) {
                                    minDist = roomGroupsDist;
                                    foundRoomParamArr = roomParamArr;
                                }
                                //console.log(`  Dist 1 of ("${roomGroupIdx}" - "${roomGroupTitle}") = ${roomGroupsDist}`);
                            });

                            // Similar group was found
                            if (minDist <= 2) {
                                // Looking for similar group
                                var minDist = 10000;
                                var foundRoomParam = false;
                                $.each(foundRoomParamArr, function(roomParamIdx, roomParam) {
                                    var roomParamDist = self.levenshtein(roomParamIdx, roomParamTitle);
                                    //console.log(`${roomParamIdx} : ${roomParamTitle} = ${roomParamDist}`);
                                    if (roomParamDist < minDist) {
                                        minDist = roomParamDist;
                                        foundRoomParam = roomParam;
                                    }
                                });
                            
                                // Similar param was found
                                if (minDist <= 2) {
                                    //console.log(`-----------------------`);
                                    //console.log(`${roomBlockTitle} => ${roomBlockIdx}`);
                                    //console.log(`  ${roomGroupTitle} = ${minDist}`);
                                    //console.log(foundRoomParam);
                                    self.callForSimilar = true;
                                    foundRoomParam.trigger('click');
                                }
                            }
                        });
                    });
                });
            },

            selectRoomBlock: function ($compartment, roomId) {
                $compartment.find('.js-roomblock-section').addClass('hide');
                $compartment.find('.js-roomblock-section[data-block-id='+roomId+']').removeClass('hide');
            },

            // Send the signal about change some options to parent
            sendResultInfo: function() {
                var self = this;

                var msg = '';
                var data = {};
                var projectCost = 0;
                var nadzorCost = 0;
                $('.room-data .js-roomcompartment-section').each(function(compartmentIdx) {
                    var compartmentEl = $(this);
                    var compartmentTitle = $.trim( compartmentEl.find('.js-roomcompartment-title').text() );

                    var blocksArr = [];
                    var blocksArrData = {};
                    compartmentEl.find('.js-roomblock-section:visible').each(function(blockIdx) {
                        var blockEl = $(this);
                        var blockTitle = $.trim( blockEl.find('.js-roomblock-title').text() );

                        projectCost += blockEl.data('project-cost');
                        nadzorCost += blockEl.data('nadzor-cost');

                        var groupArr = [];
                        var groupArrData = {};
                        blockEl.find('.js-roomgroup-section:visible').each(function(groupIdx) {
                            var groupEl = $(this);
                            var groupTitle = $.trim( groupEl.find('.js-roomgroup-title').text() );

                            var paramArr = [];
                            var paramArrData = [];
                            groupEl.find('input[type=radio]:checked').each(function() {
                                var paramEl = groupEl.find('label[for="'+$(this).attr('id')+'"]');
                                var paramTitle = $.trim(paramEl.text());
                                paramArr.push(paramTitle);
                                paramArrData.push(paramTitle.split(' ').join('_'));
                            });

                            groupArr.push(groupTitle+' ('+paramArr.join(', ')+')');
                            groupArrData[groupTitle.split(' ').join('_')] = paramArrData.join(',');
                        });

                        blocksArr.push('<b>'+blockTitle+'</b>: '+groupArr.join(', ')+'');
                        blocksArrData[blockTitle.split(' ').join('_')] = groupArrData;
                    });
                    msg += '<div class="room-result"><h2>'+compartmentTitle + '</h2><hr/>' + blocksArr.join(', ') + '</div>';
                    data[compartmentTitle.split(' ').join('_')] = blocksArrData;
                });
                console.log('projectCost='+projectCost, 'nadzorCost='+nadzorCost);
                $('body').trigger("roomConstructorResultInfo", [msg, data, projectCost, nadzorCost, {{roomType.complectationCost}}, {{roomType.fullremontCost}}]);
            },

            changeStickingImage: function() {
                var self = this;

                $('.room-data .room-image').each( function() {
                    var $cont = $(this).find('.cont');
                    var $fixImg = $(this).find('.fix-img');
                    if ($fixImg.length) {
                        var html = $cont.html();
                        $fixImg.html(html);
                        $fixImg.width($cont.width());
                        $fixImg.height($cont.height());
                    }
                });
            },

            levenshtein: function(a, b) {
                var tmp;
                if (a.length === 0)
                    return b.length;
                if (b.length === 0)
                    return a.length;
                if (a.length > b.length) {
                    tmp = a; a = b; b = tmp;
                }

                var i, j, res, alen = a.length, blen = b.length, row = Array(alen);
                for (i = 0; i <= alen; i++)
                    row[i] = i;

                for (i = 1; i <= blen; i++) {
                    res = i;
                    for (j = 1; j <= alen; j++) {
                        tmp = row[j - 1];
                        row[j - 1] = res;
                        res = b[i - 1] === a[j - 1]
                            ? tmp
                            : Math.min(tmp + 1, Math.min(res + 1, row[j] + 1));
                    }
                }
                return res;
            }
        };

        $(function() {
            roomData.init();
        });
    })();
});
</script>

<div class='room-data'>

{% for roomCompartment in roomType.roomCompartmentsList if roomCompartment.visible %}
    {% set roomCompartmentIdx = loop.index %}

    <div class='room-section  js-roomcompartment-section'>
        <div class='header  js-roomcompartment-title'>
            {{ roomCompartment.title }}
        </div>

        <div class='step-info'>
            {{ _t('app', 'Шаг {n} из {total}. Выберите цвета и материалы', {'{n}':loop.index, '{total}':roomType.roomCompartmentsList|length}) }}
        </div>

        <select class='compartments-list  js-compartments-list'>
            {% for roomBlock in roomCompartment.roomBlocksList if roomBlock.visible %}
                <option value='{{ roomBlock.id }}'>{{ roomBlock.title }}</option>
            {% endfor %}
        </select>

        {% for roomBlock in roomCompartment.roomBlocksList if roomBlock.visible %}
            {% set roomBlockIdx = loop.index %}

            <div class='hide  js-roomblock-section'
                data-block-id='{{roomBlock.id}}'
                data-project-cost='{{roomBlock.projectCost}}'
                data-nadzor-cost='{{roomBlock.nadzorCost}}'
            >

                <div class='header  js-roomblock-title'>
                    {{ roomBlock.title }}
                </div>

                <div class='room-image'>
                    <div class='cont'>
                        <div class='main'>
                            <img src='{{ roomBlock.getImageUrl() }}'>
                        </div>
                    </div>
                </div>

                <div class='room-groups'>
                    {% for roomGroup in roomBlock.roomGroupsList %}
                        {% set roomGroupIdx = loop.index %}
                        
                        <div class='row  js-roomgroup-section  {% if not roomGroup.visible %}hide{% endif %}'>
                            <div class='col-xs-12  col-sm-4'>
                                <h4 class='js-roomgroup-title'>
                                    {{ roomGroup.title }}
                                </h4>
                                <div class='desc'>
                                    {{ roomGroup.desc|raw }}
                                </div>
                            </div>

                            <div class='col-xs-12  space-small  visible-xs'></div>

                            <div class='col-xs-12  col-sm-8'>
                                <div class='params-list'>
                                    {% for param in roomGroup.roomParamsList if param.visible %}

                                        {% set radioName = 'roomParam['~roomCompartmentIdx~'_'~roomBlockIdx~'_'~roomBlock.id~']['~roomGroupIdx~'_'~roomGroup.id~']' %}
                                        {% set radioId = 'roomParam_'~roomCompartmentIdx~'_'~roomBlockIdx~'_'~roomGroupIdx~'_'~loop.index %}
                                        
                                        <input type="radio" name="{{ radioName }}" id="{{ radioId }}" value="{{ param.id }}"
                                            data-image="{{ param.getImageUrl() }}"
                                            data-group='{{ roomGroupIdx }}'
                                        >
                                        <label class='light  js-param-title' for='{{radioId}}'>{{ param.title }}</label>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        {% endfor %}
    </div>

{% endfor %}
</div>