@import (reference) '../../../../../../protected/views/less/custom.less';

.main-page {
    min-height: 1px;

    margin-right: auto;
    margin-left: auto;
    *zoom: 1;

    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
    max-width: @siteW;
    .paddingByArray(@innerIndents, 0,1,0,1, 0.5);
    // Отключаем, чтобы можно было делать изображения шире, чем ширина сайта
    //overflow: hidden;       // Некоторые изображения вылазят на 1 точку


    //-------------------------------------------------
    // Additional classes
    //-------------------------------------------------
    .yellow-blank {
        display: inline-block;
        background-color: @yellow;
        .paddingByArray(24px 24px 24px 24px 18px, 0, 1, 0, 1);
        .paddingByArray(20px 20px 20px 20px 15px, 1, 0, 1, 0);
        cursor: pointer;
        white-space: nowrap;

        h4 {
            .font(Roboto, bold);
        }
        & > * {
            &:after {
                content: '';
                display: inline-block;
                width: 18px;
                height: 13px;
                .marginByArray(24px 24px 24px 24px 18px, 0, 0, 0, 1);
                background-image: url(../../img/arrow.png);
                background-position: right center;
                background-repeat: no-repeat;
            }
        }
    }

    td.yellow-square {
        width: unit(60/@siteW*100, %);
    }
    div.yellow-square {
        width: 100%;
        background-color: @yellow;
        overflow: hidden; /* clearfix */
        
        &:before {
            content: "";
            padding-top: 100%;
            float: left;
        }
    }

    section {
        min-height: 1px;
        .varByArray(~"padding-bottom", 70px 70px 70px 35px 35px);
    }


    //-------------------------------------------------
    // Main classes
    //-------------------------------------------------
    .info-table {
        .col2 {
            padding-left: unit(30/980*100, %);
            padding-top: 1%;

            img {
                width: 100%;
                max-width: 435px;
                margin-top: -40px;
                z-index: -1;
                position: relative;

                @media (max-width: @screen-sm-max) {
                    margin-top: 0;
                }
            }
        }

        .text {
            .paddingMiddle(0,0,1,0);
            ul {
                .paddingMiddle(1, 0, 1, 0);
                li {
                    list-style-position: inside;
                    &:before {
                        content: '– ';
                    }
                }
            }
        }
    }


    //-------------------------------------------------
    // Подвал
    //-------------------------------------------------
    .footer {
        border-top: 1px solid @colorSeparatorLine;
        
        .paddingByArray(40px 40px 40px 30px 20px, 1,0,1,0);
        .paddingByArray(@innerIndents, 0,1,0,1);
        //min-height: 230px;

        & > div {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }
        .phone {
            .font-size-responsive-ex(@h3-size);
            text-align: center;
        }
        .social-buttons {
            .paddingByArray(60px 60px 60px 40px 15px, 0,0,1,0);
            text-align: center;

            .facebook,
            .instagram {
                width: 48px;
                height: 48px;
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left top;
            }
            .facebook {
                background-image: url(../../img/facebook.png);
            }
            .instagram {
                background-image: url(../../img/instagram.png);
            }
        }
        .copyright {
            .font-size(11);
            text-align: center;
        }
    }
}