@import (reference) '../../../../../../../protected/views/less/custom.less';

.feedback-widget {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    .marginBig(0,0,1,0, 2);
    text-align: center;
    .paddingByArray(0 0 @bigPadding-sm @bigPadding-xs, 0, 1, 0 1);

    @import '../../../../../../../protected/views/less_include/form.less';

    @media (max-width: @screen-sm-min) {
        .submit-btn {
            display: block;
            margin: 0 auto;
        }
    }


    h1 {
        .marginBig(1,0,0,0);
    }

    .politic {
        .font-size(11);
    }
}