{% extends 'layouts/index.twig' %}

{% block js %}
    <script src="https://unpkg.com/vue"></script>
{% endblock %}


{% block content %}
    {{ widget('modules.remont.widgets.RoomConstructorWidget') }}
{% endblock %}