.article-widget ul.submenu {
  display: inline-block;
  margin-top: 0px;
  margin-left: 12px;
}
.article-widget ul.submenu > li {
  padding-bottom: 3.75px;
}
@media (min-width: 480px) {
  .article-widget ul.submenu > li {
    padding-bottom: 3.75px;
  }
}
@media (min-width: 768px) {
  .article-widget ul.submenu > li {
    padding-bottom: 6px;
  }
}
@media (min-width: 992px) {
  .article-widget ul.submenu > li {
    padding-bottom: 8.25px;
  }
}
@media (min-width: 1200px) {
  .article-widget ul.submenu > li {
    padding-bottom: 8.25px;
  }
}
.article-widget ul.submenu > li > a {
  font-size: 16px;
  line-height: inherit;
  color: #fff;
  word-break: break-word;
  text-decoration: none !important;
  border-bottom: 1px dashed;
}
.article-widget ul.submenu > li > a.active {
  border-bottom: 0px none;
  padding-left: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.article-widget ul.submenu > li > a.active:before {
  content: "\2013";
  width: 1em ;
  display: inline-block;
  margin-left: -1em;
  float: left;
}
@media (min-width: 480px) {
  .article-widget ul.submenu > li > a.active:before {
    width: 1em ;
  }
}
@media (min-width: 768px) {
  .article-widget ul.submenu > li > a.active:before {
    width: 1em ;
  }
}
@media (min-width: 992px) {
  .article-widget ul.submenu > li > a.active:before {
    width: 1em ;
  }
}
@media (min-width: 1200px) {
  .article-widget ul.submenu > li > a.active:before {
    width: 1em ;
  }
}
@media (min-width: 480px) {
  .article-widget ul.submenu > li > a.active:before {
    margin-left: -1em;
  }
}
@media (min-width: 768px) {
  .article-widget ul.submenu > li > a.active:before {
    margin-left: -1em;
  }
}
@media (min-width: 992px) {
  .article-widget ul.submenu > li > a.active:before {
    margin-left: -1em;
  }
}
@media (min-width: 1200px) {
  .article-widget ul.submenu > li > a.active:before {
    margin-left: -1em;
  }
}
.article-widget ul.submenu > li:hover > a:not(.active) {
  color: #e6e6e6;
}
.article-widget ul.submenu > li:hover > a.active {
  pointer-events: none;
}
.article-widget ul.submenu > li.disable a {
  color: #e3e3e3;
  cursor: default;
  pointer-events: none;
  text-decoration: none !important;
}
