{{ import('css', 'faq.css', 'modules.faq.widgets.css') }}

<div class='faq-widget {{_uniqId}}'>
    <h1>{{ _t('app', 'Часто-задаваемые вопросы')}}</h1>

    {% for item in faq %}
        {% set itemName = 'faqCollapse'~loop.index %}
        {% set headingName = 'faqHeading'~loop.index %}

        <div class='faq-item'>
            <div role="tab" id="{{headingName}}" class='question'>
                <a role="button" data-toggle="collapse" href="#{{itemName}}" aria-expanded="true" aria-controls="{{itemName}}" class='collapsed'>
                    <h4>{{ item.question|raw }}</h4>
                </a>
            </div>
            <div id="{{itemName}}" class="panel-collapse  collapse  answer" role="tabpanel" aria-labelledby="{{headingName}}">
                {{ item.answer|raw }}
            </div>
        </div>
    {% endfor %}
</div>
