.feedback-widget {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* disabled checkbox */
}
@media (min-width: 480px) {
  .feedback-widget {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .feedback-widget {
    margin-bottom: 44px;
  }
}
@media (min-width: 992px) {
  .feedback-widget {
    margin-bottom: 66px;
  }
}
@media (min-width: 1200px) {
  .feedback-widget {
    margin-bottom: 66px;
  }
}
@media (min-width: 480px) {
  .feedback-widget {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .feedback-widget {
    padding-right: 22px;
    padding-left: 22px;
  }
}
@media (min-width: 992px) {
  .feedback-widget {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .feedback-widget {
    padding-right: 0;
    padding-left: 0;
  }
}
.feedback-widget input[type="checkbox"]:not(:checked),
.feedback-widget input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.feedback-widget input[type="checkbox"]:not(:checked) + label,
.feedback-widget input[type="checkbox"]:checked + label {
  position: relative;
  margin-left: 16px ;
  height: auto;
  padding-bottom: 5px;
  padding-left: 10px;
  cursor: pointer;
  vertical-align: middle;
  line-height: 16px ;
}
@media (min-width: 480px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    margin-left: 21px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    margin-left: 29px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    margin-left: 29px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    margin-left: 29px ;
  }
}
@media (min-width: 480px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    padding-bottom: 5px;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    padding-bottom: 8px;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    padding-bottom: 11px;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    padding-bottom: 11px;
  }
}
@media (min-width: 480px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    padding-left: 14px;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    padding-left: 22px;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    padding-left: 22px;
  }
}
@media (min-width: 480px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    line-height: 21px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    line-height: 29px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    line-height: 29px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label,
  .feedback-widget input[type="checkbox"]:checked + label {
    line-height: 29px ;
  }
}
.feedback-widget input[type="checkbox"]:not(:checked) + label:before,
.feedback-widget input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: -15px ;
  width: 16px ;
  height: 16px ;
  border: 1px solid #b8b8b8;
  background: #f2f2f2;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
}
@media (min-width: 480px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:before,
  .feedback-widget input[type="checkbox"]:checked + label:before {
    margin-left: -20px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:before,
  .feedback-widget input[type="checkbox"]:checked + label:before {
    margin-left: -29px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:before,
  .feedback-widget input[type="checkbox"]:checked + label:before {
    margin-left: -29px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:before,
  .feedback-widget input[type="checkbox"]:checked + label:before {
    margin-left: -29px ;
  }
}
@media (min-width: 480px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:before,
  .feedback-widget input[type="checkbox"]:checked + label:before {
    width: 21px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:before,
  .feedback-widget input[type="checkbox"]:checked + label:before {
    width: 29px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:before,
  .feedback-widget input[type="checkbox"]:checked + label:before {
    width: 29px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:before,
  .feedback-widget input[type="checkbox"]:checked + label:before {
    width: 29px ;
  }
}
@media (min-width: 480px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:before,
  .feedback-widget input[type="checkbox"]:checked + label:before {
    height: 21px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:before,
  .feedback-widget input[type="checkbox"]:checked + label:before {
    height: 29px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:before,
  .feedback-widget input[type="checkbox"]:checked + label:before {
    height: 29px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:before,
  .feedback-widget input[type="checkbox"]:checked + label:before {
    height: 29px ;
  }
}
.feedback-widget input[type="checkbox"]:not(:checked) + label:after,
.feedback-widget input[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0px;
  left: 2px ;
  margin-left: -15px ;
  font-size: 14px ;
  color: #f8ce00;
  -webkit-transition: all .2s;
  transition: all .2s;
}
@media (min-width: 480px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:after,
  .feedback-widget input[type="checkbox"]:checked + label:after {
    left: 4px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:after,
  .feedback-widget input[type="checkbox"]:checked + label:after {
    left: 5px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:after,
  .feedback-widget input[type="checkbox"]:checked + label:after {
    left: 5px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:after,
  .feedback-widget input[type="checkbox"]:checked + label:after {
    left: 5px ;
  }
}
@media (min-width: 480px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:after,
  .feedback-widget input[type="checkbox"]:checked + label:after {
    margin-left: -20px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:after,
  .feedback-widget input[type="checkbox"]:checked + label:after {
    margin-left: -29px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:after,
  .feedback-widget input[type="checkbox"]:checked + label:after {
    margin-left: -29px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:after,
  .feedback-widget input[type="checkbox"]:checked + label:after {
    margin-left: -29px ;
  }
}
@media (min-width: 480px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:after,
  .feedback-widget input[type="checkbox"]:checked + label:after {
    font-size: 17px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:after,
  .feedback-widget input[type="checkbox"]:checked + label:after {
    font-size: 24px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:after,
  .feedback-widget input[type="checkbox"]:checked + label:after {
    font-size: 24px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type="checkbox"]:not(:checked) + label:after,
  .feedback-widget input[type="checkbox"]:checked + label:after {
    font-size: 24px ;
  }
}
.feedback-widget input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.feedback-widget input[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.feedback-widget input[type="checkbox"]:disabled:not(:checked) + label:before,
.feedback-widget input[type="checkbox"]:disabled:checked + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #b8b8b8;
  background-color: #e3e3e3;
}
.feedback-widget input[type="checkbox"]:disabled:checked + label:after {
  color: #606060;
}
.feedback-widget label {
  font-weight: normal;
}
.feedback-widget input[type=radio] {
  display: none;
}
.feedback-widget input[type=radio] + label {
  border: 0px none;
  height: 38px ;
  min-width: 38px ;
  padding-left: 10px ;
  padding-right: 10px ;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px ;
  line-height: 1 ;
  line-height: 38px ;
  cursor: pointer;
  background-color: #e3e3e3;
  margin-bottom: 0px;
  text-align: center;
  margin-right: 2px;
}
@media (min-width: 480px) {
  .feedback-widget input[type=radio] + label {
    height: 45px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type=radio] + label {
    height: 50px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type=radio] + label {
    height: 50px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type=radio] + label {
    height: 50px ;
  }
}
@media (min-width: 480px) {
  .feedback-widget input[type=radio] + label {
    min-width: 45px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type=radio] + label {
    min-width: 50px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type=radio] + label {
    min-width: 50px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type=radio] + label {
    min-width: 50px ;
  }
}
@media (min-width: 480px) {
  .feedback-widget input[type=radio] + label {
    padding-left: 14px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type=radio] + label {
    padding-left: 18px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type=radio] + label {
    padding-left: 18px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type=radio] + label {
    padding-left: 18px ;
  }
}
@media (min-width: 480px) {
  .feedback-widget input[type=radio] + label {
    padding-right: 14px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type=radio] + label {
    padding-right: 18px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type=radio] + label {
    padding-right: 18px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type=radio] + label {
    padding-right: 18px ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .feedback-widget input[type=radio] + label {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .feedback-widget input[type=radio] + label {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feedback-widget input[type=radio] + label {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type=radio] + label {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) {
  .feedback-widget input[type=radio] + label {
    line-height: 45px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type=radio] + label {
    line-height: 50px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type=radio] + label {
    line-height: 50px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type=radio] + label {
    line-height: 50px ;
  }
}
.feedback-widget input[type=radio] + label:not(.light) {
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
}
.feedback-widget input[type=radio] + label.light {
  height: 32px ;
  padding-right: 5px;
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 13px ;
  line-height: 1 ;
  line-height: 26px ;
  border: 3px solid #e3e3e3;
  background: transparent;
  margin-bottom: 5px;
  background-color: #fff;
}
@media (min-width: 480px) {
  .feedback-widget input[type=radio] + label.light {
    height: 36px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type=radio] + label.light {
    height: 40px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type=radio] + label.light {
    height: 40px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type=radio] + label.light {
    height: 40px ;
  }
}
@media (min-width: 480px) {
  .feedback-widget input[type=radio] + label.light {
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type=radio] + label.light {
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type=radio] + label.light {
    padding-right: 11px;
    padding-left: 11px;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type=radio] + label.light {
    padding-right: 11px;
    padding-left: 11px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .feedback-widget input[type=radio] + label.light {
    font-size: 15px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .feedback-widget input[type=radio] + label.light {
    font-size: 15px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feedback-widget input[type=radio] + label.light {
    font-size: 15px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type=radio] + label.light {
    font-size: 15px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) {
  .feedback-widget input[type=radio] + label.light {
    line-height: 32px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type=radio] + label.light {
    line-height: 36px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type=radio] + label.light {
    line-height: 36px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type=radio] + label.light {
    line-height: 36px ;
  }
}
.feedback-widget input[type=radio] + label.light:after {
  content: ' ';
  display: inline-block;
  margin-left: 5px;
  font-size: 1.2em;
  line-height: 1;
  min-width: 1em;
}
@media (min-width: 480px) {
  .feedback-widget input[type=radio] + label.light:after {
    margin-left: 5px;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type=radio] + label.light:after {
    margin-left: 8px;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type=radio] + label.light:after {
    margin-left: 11px;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type=radio] + label.light:after {
    margin-left: 11px;
  }
}
.feedback-widget input[type=radio]:checked + label {
  background: #f8ce00;
}
.feedback-widget input[type=radio]:checked + label.light {
  border-color: #f8ce00;
  background: #fff;
}
.feedback-widget input[type=radio]:checked + label.light:after {
  content: '✔';
  color: #f8ce00;
}
.feedback-widget input[type='text'],
.feedback-widget textarea {
  width: 100%;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 20px -7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 20px -7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 0px 20px -7px rgba(0, 0, 0, 0.3);
  border: 2px solid #b8b8b8;
}
.feedback-widget input[type='text']:focus,
.feedback-widget textarea:focus {
  border-color: #f8ce00;
}
.feedback-widget input[type='text'] {
  height: 50px ;
  font-size: 12px ;
  line-height: 1 ;
  line-height: 16px ;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
}
@media (min-width: 480px) {
  .feedback-widget input[type='text'] {
    height: 60px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type='text'] {
    height: 50px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type='text'] {
    height: 50px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type='text'] {
    height: 50px ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .feedback-widget input[type='text'] {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .feedback-widget input[type='text'] {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feedback-widget input[type='text'] {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type='text'] {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .feedback-widget input[type='text'] {
    line-height: 22px ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .feedback-widget input[type='text'] {
    line-height: 32px ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feedback-widget input[type='text'] {
    line-height: 32px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type='text'] {
    line-height: 32px ;
  }
}
@media (min-width: 480px) {
  .feedback-widget input[type='text'] {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type='text'] {
    padding-right: 14px;
    padding-left: 14px;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type='text'] {
    padding-right: 22px;
    padding-left: 22px;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type='text'] {
    padding-right: 22px;
    padding-left: 22px;
  }
}
.feedback-widget input[type='text'].small {
  text-align: center;
  height: 33px ;
  font-size: 12px ;
  line-height: 1 ;
  line-height: 16px ;
}
@media (min-width: 480px) {
  .feedback-widget input[type='text'].small {
    height: 43px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget input[type='text'].small {
    height: 50px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget input[type='text'].small {
    height: 50px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type='text'].small {
    height: 50px ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .feedback-widget input[type='text'].small {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .feedback-widget input[type='text'].small {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feedback-widget input[type='text'].small {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type='text'].small {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .feedback-widget input[type='text'].small {
    line-height: 22px ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .feedback-widget input[type='text'].small {
    line-height: 32px ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feedback-widget input[type='text'].small {
    line-height: 32px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget input[type='text'].small {
    line-height: 32px ;
  }
}
.feedback-widget textarea {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px ;
  line-height: 1 ;
  line-height: 16px ;
  height: 5em;
}
@media (min-width: 480px) {
  .feedback-widget textarea {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .feedback-widget textarea {
    padding-right: 14px;
    padding-left: 14px;
  }
}
@media (min-width: 992px) {
  .feedback-widget textarea {
    padding-right: 22px;
    padding-left: 22px;
  }
}
@media (min-width: 1200px) {
  .feedback-widget textarea {
    padding-right: 22px;
    padding-left: 22px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .feedback-widget textarea {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .feedback-widget textarea {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feedback-widget textarea {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget textarea {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .feedback-widget textarea {
    line-height: 22px ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .feedback-widget textarea {
    line-height: 32px ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feedback-widget textarea {
    line-height: 32px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget textarea {
    line-height: 32px ;
  }
}
.feedback-widget button.submit,
.feedback-widget input[type='submit'] {
  background-color: #f8ce00;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  border: 0px none;
}
.feedback-widget button.submit:not(.small):not(.send-order),
.feedback-widget input[type='submit']:not(.small):not(.send-order) {
  height: 39px ;
  padding-right: 39px;
  padding-left: 39px;
  font-size: 12px ;
  line-height: 1 ;
  line-height: 16px ;
}
@media (min-width: 480px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    height: 51px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    height: 60px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    height: 60px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    height: 60px ;
  }
}
@media (min-width: 480px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    padding-right: 51px;
    padding-left: 51px;
  }
}
@media (min-width: 768px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (min-width: 992px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (min-width: 1200px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    line-height: 22px ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    line-height: 32px ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    line-height: 32px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget button.submit:not(.small):not(.send-order),
  .feedback-widget input[type='submit']:not(.small):not(.send-order) {
    line-height: 32px ;
  }
}
.feedback-widget button.submit.small,
.feedback-widget input[type='submit'].small {
  height: 30px ;
  padding-right: 17px;
  padding-left: 17px;
  font-size: 12px ;
  line-height: 1 ;
  line-height: 16px ;
}
@media (min-width: 480px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    height: 39px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    height: 45px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    height: 45px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    height: 45px ;
  }
}
@media (min-width: 480px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    padding-right: 22px;
    padding-left: 22px;
  }
}
@media (min-width: 768px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media (min-width: 992px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media (min-width: 1200px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    line-height: 22px ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    line-height: 32px ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    line-height: 32px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget button.submit.small,
  .feedback-widget input[type='submit'].small {
    line-height: 32px ;
  }
}
.feedback-widget button.submit.send-order,
.feedback-widget input[type='submit'].send-order {
  height: 39px ;
  padding-right: 18px;
  padding-left: 18px;
  font-size: 16px ;
  line-height: 1 ;
}
@media (min-width: 480px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    height: 39px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    height: 30px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    height: 30px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    height: 30px ;
  }
}
@media (min-width: 480px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    padding-right: 18px;
    padding-left: 18px;
  }
}
@media (min-width: 768px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    font-size: 18px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    font-size: 18px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    font-size: 18px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    line-height: 1 ;
  }
}
@media (min-width: 768px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    line-height: 1 ;
  }
}
@media (min-width: 992px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget button.submit.send-order,
  .feedback-widget input[type='submit'].send-order {
    line-height: 1 ;
  }
}
.feedback-widget select {
  background: transparent;
  width: 100%;
  height: 37.5px ;
  padding-right: 5px;
  padding-left: 5px;
}
@media (min-width: 480px) {
  .feedback-widget select {
    height: 50px ;
  }
}
@media (min-width: 768px) {
  .feedback-widget select {
    height: 50px ;
  }
}
@media (min-width: 992px) {
  .feedback-widget select {
    height: 50px ;
  }
}
@media (min-width: 1200px) {
  .feedback-widget select {
    height: 50px ;
  }
}
@media (min-width: 480px) {
  .feedback-widget select {
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (min-width: 768px) {
  .feedback-widget select {
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (min-width: 992px) {
  .feedback-widget select {
    padding-right: 11px;
    padding-left: 11px;
  }
}
@media (min-width: 1200px) {
  .feedback-widget select {
    padding-right: 11px;
    padding-left: 11px;
  }
}
@media (max-width: 768px) {
  .feedback-widget .submit-btn {
    display: block;
    margin: 0 auto;
  }
}
.feedback-widget h1 {
  margin-top: 15px;
}
@media (min-width: 480px) {
  .feedback-widget h1 {
    margin-top: 15px;
  }
}
@media (min-width: 768px) {
  .feedback-widget h1 {
    margin-top: 22px;
  }
}
@media (min-width: 992px) {
  .feedback-widget h1 {
    margin-top: 33px;
  }
}
@media (min-width: 1200px) {
  .feedback-widget h1 {
    margin-top: 33px;
  }
}
.feedback-widget .politic {
  font-size: 11px;
  line-height: 1;
  line-height: 15px;
}
