@import (reference) '../../../../views/less/custom.less';

.faq-widget {
    width: 100%;
    
    h1 {
        .marginBig(1,0,1,0);
    }

    .faq-item {
        .paddingMiddle(0,0,1,0);
    }
    .question {
        a {
            color: @colorText;
            &.collapsed {
                color: @colorTextDark;
                &:before {
                    content: '+';
                }
            }

            &:before {
                content: "\2013";           // en dash
                color: @colorText;
                .varByArray(~'width', 30px 30px 30px 27px 18px);        // fix this
                .varByArray(~'height', 30px 30px 30px 27px 18px);       // fix this
                background-color: @colorTextLight;
                display: inline-block;
                text-align: center;
                .marginSmall(0,1,0,0);
            }

            & > * {
                display: inline;
            }
        }
    }
    .answer {
        @dashWidth: 24px 24px 24px 18px 15px;       // fix this

        .marginSmall(1,0,0,0);
        .marginMiddle(0,0,1,0);
        
        @c: 3;
        @arr: @middlePadding-lg*@c, @middlePadding-md*@c, @middlePadding-sm*@c, @middlePadding-xs*@c, 0;
        .marginByArray(@arr, 0,0,0,1);

        .paddingByArray(@dashWidth, 0,0,0,1);
        &:before {
            content: '\2013';       // en dash
            .varByArray(~'width', @dashWidth);      // fix this
            display: inline-block;
            text-align: center;
            .marginByArray(@dashWidth, 0,0,0,1, -1);
            float: left;
        }
    }
}