@import (reference) '../../../views/less/custom.less';

.gallery-widget {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;

    .images-cont {
        position: relative;
        z-index: 1;

        .image {
            float: left;
            img {
            }
        }        
    }

    .touch-img-cont {
display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }


    @arrowH: 40px;
    @xsCoeff: 0.85;

    .arrow {
        height: 100%;
        width: 50px;
        position: absolute;
        top: 0;
        z-index: 3;
        font-size: @arrowH;

        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }

        .arrow-left,
        .arrow-right {
            position: absolute;
            top: 50%;
            color: #fff;
            margin-top: ceil(-@arrowH/2);

            opacity: 0.5;
            .transform-scale(1);
            .transition(all, 0.05s);

            &:hover {
                opacity: 0.8;
                .transform-scale(1.1);
                .transition(all, 0.05s);
            }
        }
        .arrow-left {
            .varByArray(~'left', @middlePadding-lg @middlePadding-md @middlePadding-sm @middlePadding-xs);
        }
        .arrow-right {
            .varByArray(~'right', @middlePadding-lg @middlePadding-md @middlePadding-sm @middlePadding-xs);
        }
    }

    @media (max-width: @screen-xs-max) {
        .arrow {
            font-size: ceil(@arrowH * @xsCoeff);
        }
        .arrow-left {
            margin-top: ceil(-(@arrowH*@xsCoeff)/2);
            left: @smallPadding;
        }
        .arrow-right {
            margin-top: ceil(-(@arrowH*@xsCoeff)/2);
            right: @smallPadding;
        }
    }

    .gallery {
        .modal {
            &:not(.error) .modal-content {
                background-color: @black;
                color: @colorTextWhite;
            }

            .modal-dialog {
                width: 100%;
                max-width: @siteW;
            }
        }
    }
}