@import (reference) '../../../views/less/custom';

.gallery-widget {

    ul.ace-thumbnails {
        width: 100%;

        & > li {
            border: none;
            margin-bottom: 6px;
            margin-right: 6px;

            &:hover {
                outline: 2px solid @lightGrey;
            }

            .gallery-image {
                height: 120px;
                background-position: center center;
                background-size: cover;
                position: relative;

                width: 205px;
                @media (min-width: @screen-md-min) {
                    width: 196px;
                }
                @media (min-width: @screen-lg-min) {
                    width: 196px;
                }
            }

            @media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
                width: 31%;
                overflow: hidden;
                
                .gallery-image {
                    left: 50%;
                    width: 220px;
                    margin-left: -110px;
                }
            }
        }
    }
}