@import (reference) '../../../views/less/custom';

.language-widget {
    @langH:     30px;

    height: @langH;
    line-height: @langH;
    margin-left: @smallPadding;

    @media (max-width: 767px) {
        margin-top: @smallPadding;
    }

    a {
        text-transform: uppercase;
    }

    .current {
        border-left: 1px solid @grey;
        padding-left: @middlePadding;
        padding-right: @middlePadding;
        cursor: pointer;
        white-space: nowrap;

        color: @colorLink;
        &:hover {
            color: @colorLinkHover;
        }

        .value {
            text-transform: uppercase;
            &:after {
                content: ' ';
            }
        }
        .caret {
            margin-top: -4px;
        }
    }
    .dropdown {
        border: 1px solid @grey;
        text-align: center;
        margin: 0 @smallPadding;
        background: @mainBg;

        // rewrite bootstrap styles
        .border-radius(0);
        min-width: 0px;
        padding: 0 @smallPadding;
        font-size: inherit;
        
        a {
            text-transform: uppercase;
            display: block;
        }
    }
}