@import (reference) '../../../views/less/custom';

// --------------------------------------------------
// Pager pagination
// --------------------------------------------------

ul.linkPager {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    
    &:extend(.clearfix all);
  
    li {
        display: inline;
        > a,
        > span {
            display: inline-block;
        }
    }

    .next,
    .previous,
    .page {
        float: left;
    }

    .selected {
        > a, a.btn-white,
        > span {
            background-color: @lightGrey !important;
        }
    }
    .disabled {
        > a, a.btn-white,
        > a:hover, a.btn-white:hover,
        > a:focus, a.btn-white:focus,
        > span {
            color: @grey !important;
            background-color: transparent !important;
            pointer-events: none;
            opacity: 0.65;
        }
    }
}
