@import (reference) '../../../views/less/custom.less';

.main-menu-widget {
    width:100%;
    // height: inherit;     // Убираем это, чтобы при открытии меню, его высота не плавала

    ul.root {
        padding: 0;
        margin: 0;
        height: inherit;

        & > li {
            height: inherit;

            & > a {
                &:focus {
                }

                &:hover,
                &.active {
                }
            }

            &.has-submenu > a {
                .caret {
                }
            }
        }
    }

    ul.submenu {
    }

    &.menu-bootstrap.hmenu {
        ul.root {
            a.active {
            }
        }

        ul.submenu {
            &.dropdown-menu {
                & > li > a {
                    &:hover,
                    &:focus {
                    }
                    &.active {
                    }
                }
            }
            .btn-group {
            }
        }
    }
}
