.faq-widget {
  width: 100%;
}
.faq-widget h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 480px) {
  .faq-widget h1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .faq-widget h1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}
@media (min-width: 992px) {
  .faq-widget h1 {
    margin-top: 33px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1200px) {
  .faq-widget h1 {
    margin-top: 33px;
    margin-bottom: 33px;
  }
}
.faq-widget .faq-item {
  padding-bottom: 10px;
}
@media (min-width: 480px) {
  .faq-widget .faq-item {
    padding-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .faq-widget .faq-item {
    padding-bottom: 14px;
  }
}
@media (min-width: 992px) {
  .faq-widget .faq-item {
    padding-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .faq-widget .faq-item {
    padding-bottom: 22px;
  }
}
.faq-widget .question a {
  color: #000;
}
.faq-widget .question a.collapsed {
  color: #606060;
}
.faq-widget .question a.collapsed:before {
  content: '+';
}
.faq-widget .question a:before {
  content: "\2013";
  color: #000;
  width: 18px ;
  height: 18px ;
  background-color: #e3e3e3;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
}
@media (min-width: 480px) {
  .faq-widget .question a:before {
    width: 27px ;
  }
}
@media (min-width: 768px) {
  .faq-widget .question a:before {
    width: 30px ;
  }
}
@media (min-width: 992px) {
  .faq-widget .question a:before {
    width: 30px ;
  }
}
@media (min-width: 1200px) {
  .faq-widget .question a:before {
    width: 30px ;
  }
}
@media (min-width: 480px) {
  .faq-widget .question a:before {
    height: 27px ;
  }
}
@media (min-width: 768px) {
  .faq-widget .question a:before {
    height: 30px ;
  }
}
@media (min-width: 992px) {
  .faq-widget .question a:before {
    height: 30px ;
  }
}
@media (min-width: 1200px) {
  .faq-widget .question a:before {
    height: 30px ;
  }
}
@media (min-width: 480px) {
  .faq-widget .question a:before {
    margin-right: 5px;
  }
}
@media (min-width: 768px) {
  .faq-widget .question a:before {
    margin-right: 8px;
  }
}
@media (min-width: 992px) {
  .faq-widget .question a:before {
    margin-right: 11px;
  }
}
@media (min-width: 1200px) {
  .faq-widget .question a:before {
    margin-right: 11px;
  }
}
.faq-widget .question a > * {
  display: inline;
}
.faq-widget .answer {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 15px;
}
@media (min-width: 480px) {
  .faq-widget .answer {
    margin-top: 5px;
  }
}
@media (min-width: 768px) {
  .faq-widget .answer {
    margin-top: 8px;
  }
}
@media (min-width: 992px) {
  .faq-widget .answer {
    margin-top: 11px;
  }
}
@media (min-width: 1200px) {
  .faq-widget .answer {
    margin-top: 11px;
  }
}
@media (min-width: 480px) {
  .faq-widget .answer {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .faq-widget .answer {
    margin-bottom: 14px;
  }
}
@media (min-width: 992px) {
  .faq-widget .answer {
    margin-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .faq-widget .answer {
    margin-bottom: 22px;
  }
}
@media (min-width: 480px) {
  .faq-widget .answer {
    margin-left: 30px;
  }
}
@media (min-width: 768px) {
  .faq-widget .answer {
    margin-left: 42px;
  }
}
@media (min-width: 992px) {
  .faq-widget .answer {
    margin-left: 66px;
  }
}
@media (min-width: 1200px) {
  .faq-widget .answer {
    margin-left: 66px;
  }
}
@media (min-width: 480px) {
  .faq-widget .answer {
    padding-left: 18px;
  }
}
@media (min-width: 768px) {
  .faq-widget .answer {
    padding-left: 24px;
  }
}
@media (min-width: 992px) {
  .faq-widget .answer {
    padding-left: 24px;
  }
}
@media (min-width: 1200px) {
  .faq-widget .answer {
    padding-left: 24px;
  }
}
.faq-widget .answer:before {
  content: '\2013';
  width: 15px ;
  display: inline-block;
  text-align: center;
  margin-left: -15px;
  float: left;
}
@media (min-width: 480px) {
  .faq-widget .answer:before {
    width: 18px ;
  }
}
@media (min-width: 768px) {
  .faq-widget .answer:before {
    width: 24px ;
  }
}
@media (min-width: 992px) {
  .faq-widget .answer:before {
    width: 24px ;
  }
}
@media (min-width: 1200px) {
  .faq-widget .answer:before {
    width: 24px ;
  }
}
@media (min-width: 480px) {
  .faq-widget .answer:before {
    margin-left: -18px;
  }
}
@media (min-width: 768px) {
  .faq-widget .answer:before {
    margin-left: -24px;
  }
}
@media (min-width: 992px) {
  .faq-widget .answer:before {
    margin-left: -24px;
  }
}
@media (min-width: 1200px) {
  .faq-widget .answer:before {
    margin-left: -24px;
  }
}
