@import (reference) '../../../../views/less/custom.less';

.review-widget {
    width: 100%;
    
    h1 {
        .marginBig(1,0,1,0);
    }

    .review-item {
        .paddingMiddle(0,0,1,0);
    }
}