@import (reference) '../../../views/less/custom.less';

.room-data,
.render-picture {
    min-height: 1px;

    .room-image {
        position: relative;

        &:not(.no-shadow) {
            .cont:after,
            .fix-img:after {
                content: '';
                display: block;
                width: 100%;
                height: 18px;
                background: url(../../img/rm_shadow.png) left top no-repeat;
                background-size: contain;
                -webkit-transform: translateZ(0);
            }
        }
        
        .cont {
            position: relative;
        }

        .fix-img {
            position: fixed;
            top: 0;
            //left: 0;
            z-index: 2;
        }

        img {
            position: relative;
            width: 100%;
            max-width: @siteW;
        }

        .main {
            position: relative;
            img {
                background-color: @darkGrey;
            }
        }
        [id^='group_'] {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .room-groups {
        .paddingByArray(@innerIndents, 0,1,0,1);
        .paddingSmall(1,0,0,0);

        .row {
            .paddingByArray(15px 15px 15px 12px 10px, 1,0,0,0);
            .paddingByArray(10px 10px 10px  7px  5px, 0,0,1,0);     // margin-bottom: 5px at forms.less

            border-bottom: 2px solid @colorSeparatorLine;
            @media (max-width: @screen-xs-max) {
                border-bottom: none;
            }
        }
        h4 {
        }
        .desc {
            .font-size-responsive-by-array(15 15 15 12 10);
            color: fade(@colorText, 70%);
            .paddingSmall(1,0,0,0);
        }
        .params-list {
        }
    }
}