.room-constructor-header input[type=radio] {
  display: none;
}
.room-constructor-header input[type=radio] + label {
  border: 0px none;
  height: 38px ;
  min-width: 38px ;
  padding-left: 10px ;
  padding-right: 10px ;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px ;
  line-height: 1 ;
  line-height: 38px ;
  cursor: pointer;
  background-color: #e3e3e3;
  margin-bottom: 0px;
  text-align: center;
  margin-right: 2px;
}
@media (min-width: 480px) {
  .room-constructor-header input[type=radio] + label {
    height: 45px ;
  }
}
@media (min-width: 768px) {
  .room-constructor-header input[type=radio] + label {
    height: 50px ;
  }
}
@media (min-width: 992px) {
  .room-constructor-header input[type=radio] + label {
    height: 50px ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type=radio] + label {
    height: 50px ;
  }
}
@media (min-width: 480px) {
  .room-constructor-header input[type=radio] + label {
    min-width: 45px ;
  }
}
@media (min-width: 768px) {
  .room-constructor-header input[type=radio] + label {
    min-width: 50px ;
  }
}
@media (min-width: 992px) {
  .room-constructor-header input[type=radio] + label {
    min-width: 50px ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type=radio] + label {
    min-width: 50px ;
  }
}
@media (min-width: 480px) {
  .room-constructor-header input[type=radio] + label {
    padding-left: 14px ;
  }
}
@media (min-width: 768px) {
  .room-constructor-header input[type=radio] + label {
    padding-left: 18px ;
  }
}
@media (min-width: 992px) {
  .room-constructor-header input[type=radio] + label {
    padding-left: 18px ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type=radio] + label {
    padding-left: 18px ;
  }
}
@media (min-width: 480px) {
  .room-constructor-header input[type=radio] + label {
    padding-right: 14px ;
  }
}
@media (min-width: 768px) {
  .room-constructor-header input[type=radio] + label {
    padding-right: 18px ;
  }
}
@media (min-width: 992px) {
  .room-constructor-header input[type=radio] + label {
    padding-right: 18px ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type=radio] + label {
    padding-right: 18px ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .room-constructor-header input[type=radio] + label {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .room-constructor-header input[type=radio] + label {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .room-constructor-header input[type=radio] + label {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type=radio] + label {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) {
  .room-constructor-header input[type=radio] + label {
    line-height: 45px ;
  }
}
@media (min-width: 768px) {
  .room-constructor-header input[type=radio] + label {
    line-height: 50px ;
  }
}
@media (min-width: 992px) {
  .room-constructor-header input[type=radio] + label {
    line-height: 50px ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type=radio] + label {
    line-height: 50px ;
  }
}
.room-constructor-header input[type=radio] + label:not(.light) {
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
}
.room-constructor-header input[type=radio] + label.light {
  height: 32px ;
  padding-right: 5px;
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 13px ;
  line-height: 1 ;
  line-height: 26px ;
  border: 3px solid #e3e3e3;
  background: transparent;
  margin-bottom: 5px;
  background-color: #fff;
}
@media (min-width: 480px) {
  .room-constructor-header input[type=radio] + label.light {
    height: 36px ;
  }
}
@media (min-width: 768px) {
  .room-constructor-header input[type=radio] + label.light {
    height: 40px ;
  }
}
@media (min-width: 992px) {
  .room-constructor-header input[type=radio] + label.light {
    height: 40px ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type=radio] + label.light {
    height: 40px ;
  }
}
@media (min-width: 480px) {
  .room-constructor-header input[type=radio] + label.light {
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (min-width: 768px) {
  .room-constructor-header input[type=radio] + label.light {
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (min-width: 992px) {
  .room-constructor-header input[type=radio] + label.light {
    padding-right: 11px;
    padding-left: 11px;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type=radio] + label.light {
    padding-right: 11px;
    padding-left: 11px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .room-constructor-header input[type=radio] + label.light {
    font-size: 15px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .room-constructor-header input[type=radio] + label.light {
    font-size: 15px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .room-constructor-header input[type=radio] + label.light {
    font-size: 15px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type=radio] + label.light {
    font-size: 15px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) {
  .room-constructor-header input[type=radio] + label.light {
    line-height: 32px ;
  }
}
@media (min-width: 768px) {
  .room-constructor-header input[type=radio] + label.light {
    line-height: 36px ;
  }
}
@media (min-width: 992px) {
  .room-constructor-header input[type=radio] + label.light {
    line-height: 36px ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type=radio] + label.light {
    line-height: 36px ;
  }
}
.room-constructor-header input[type=radio] + label.light:after {
  content: ' ';
  display: inline-block;
  margin-left: 5px;
  font-size: 1.2em;
  line-height: 1;
  min-width: 1em;
}
@media (min-width: 480px) {
  .room-constructor-header input[type=radio] + label.light:after {
    margin-left: 5px;
  }
}
@media (min-width: 768px) {
  .room-constructor-header input[type=radio] + label.light:after {
    margin-left: 8px;
  }
}
@media (min-width: 992px) {
  .room-constructor-header input[type=radio] + label.light:after {
    margin-left: 11px;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type=radio] + label.light:after {
    margin-left: 11px;
  }
}
.room-constructor-header input[type=radio]:checked + label {
  background: #f8ce00;
}
.room-constructor-header input[type=radio]:checked + label.light {
  border-color: #f8ce00;
  background: #fff;
}
.room-constructor-header input[type=radio]:checked + label.light:after {
  content: '✔';
  color: #f8ce00;
}
.room-constructor-header input[type='text'] {
  width: 100%;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 20px -7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 20px -7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 0px 20px -7px rgba(0, 0, 0, 0.3);
  border: 2px solid #b8b8b8;
}
.room-constructor-header input[type='text']:focus {
  border-color: #f8ce00;
}
.room-constructor-header input[type='text'] {
  height: 50px ;
  font-size: 12px ;
  line-height: 1 ;
  line-height: 16px ;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
}
@media (min-width: 480px) {
  .room-constructor-header input[type='text'] {
    height: 60px ;
  }
}
@media (min-width: 768px) {
  .room-constructor-header input[type='text'] {
    height: 50px ;
  }
}
@media (min-width: 992px) {
  .room-constructor-header input[type='text'] {
    height: 50px ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type='text'] {
    height: 50px ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .room-constructor-header input[type='text'] {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .room-constructor-header input[type='text'] {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .room-constructor-header input[type='text'] {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type='text'] {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .room-constructor-header input[type='text'] {
    line-height: 22px ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .room-constructor-header input[type='text'] {
    line-height: 32px ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .room-constructor-header input[type='text'] {
    line-height: 32px ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type='text'] {
    line-height: 32px ;
  }
}
@media (min-width: 480px) {
  .room-constructor-header input[type='text'] {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .room-constructor-header input[type='text'] {
    padding-right: 14px;
    padding-left: 14px;
  }
}
@media (min-width: 992px) {
  .room-constructor-header input[type='text'] {
    padding-right: 22px;
    padding-left: 22px;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type='text'] {
    padding-right: 22px;
    padding-left: 22px;
  }
}
.room-constructor-header input[type='text'].small {
  text-align: center;
  height: 33px ;
  font-size: 12px ;
  line-height: 1 ;
  line-height: 16px ;
}
@media (min-width: 480px) {
  .room-constructor-header input[type='text'].small {
    height: 43px ;
  }
}
@media (min-width: 768px) {
  .room-constructor-header input[type='text'].small {
    height: 50px ;
  }
}
@media (min-width: 992px) {
  .room-constructor-header input[type='text'].small {
    height: 50px ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type='text'].small {
    height: 50px ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .room-constructor-header input[type='text'].small {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .room-constructor-header input[type='text'].small {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .room-constructor-header input[type='text'].small {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type='text'].small {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .room-constructor-header input[type='text'].small {
    line-height: 22px ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .room-constructor-header input[type='text'].small {
    line-height: 32px ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .room-constructor-header input[type='text'].small {
    line-height: 32px ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header input[type='text'].small {
    line-height: 32px ;
  }
}
.room-constructor-header > .row {
  position: relative;
}
.room-constructor-header > .row > [class^='col-'] {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 480px) {
  .room-constructor-header > .row > [class^='col-'] {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .room-constructor-header > .row > [class^='col-'] {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
@media (min-width: 992px) {
  .room-constructor-header > .row > [class^='col-'] {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header > .row > [class^='col-'] {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}
.room-constructor-header h4 {
  font-size: 24px ;
  line-height: 1 ;
  line-height: 32px ;
}
@media (min-width: 480px) and (max-width: 767px) {
  .room-constructor-header h4 {
    font-size: 30px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .room-constructor-header h4 {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .room-constructor-header h4 {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header h4 {
    font-size: 24px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .room-constructor-header h4 {
    line-height: 32px ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .room-constructor-header h4 {
    line-height: 32px ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header h4 {
    line-height: 32px ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .room-constructor-header h4 {
    line-height: 40px ;
  }
}
.room-constructor-header h5 {
  color: #606060;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (min-width: 480px) {
  .room-constructor-header h5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (min-width: 768px) {
  .room-constructor-header h5 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media (min-width: 992px) {
  .room-constructor-header h5 {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header h5 {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}
.room-constructor-header .no-padding-left {
  padding-left: 0;
}
.room-constructor-header .no-padding-right {
  padding-right: 0;
}
.room-constructor-header .info .text {
  font-size: 16px ;
  line-height: 1 ;
  line-height: 22px ;
  padding-top: 10px;
}
@media (min-width: 480px) and (max-width: 767px) {
  .room-constructor-header .info .text {
    font-size: 20px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .room-constructor-header .info .text {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .room-constructor-header .info .text {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header .info .text {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .room-constructor-header .info .text {
    line-height: 22px ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .room-constructor-header .info .text {
    line-height: 22px ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header .info .text {
    line-height: 22px ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .room-constructor-header .info .text {
    line-height: 26px ;
  }
}
@media (min-width: 480px) {
  .room-constructor-header .info .text {
    padding-top: 10px;
  }
}
@media (min-width: 768px) {
  .room-constructor-header .info .text {
    padding-top: 14px;
  }
}
@media (min-width: 992px) {
  .room-constructor-header .info .text {
    padding-top: 22px;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header .info .text {
    padding-top: 22px;
  }
}
.room-constructor-header .rooms-list .values {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.room-constructor-header .rooms-square .values {
  width: auto;
  max-width: 96px ;
}
@media (min-width: 480px) {
  .room-constructor-header .rooms-square .values {
    max-width: 116px ;
  }
}
@media (min-width: 768px) {
  .room-constructor-header .rooms-square .values {
    max-width: 128px ;
  }
}
@media (min-width: 992px) {
  .room-constructor-header .rooms-square .values {
    max-width: 128px ;
  }
}
@media (min-width: 1200px) {
  .room-constructor-header .rooms-square .values {
    max-width: 128px ;
  }
}
