.review-widget {
  width: 100%;
}
.review-widget h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 480px) {
  .review-widget h1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .review-widget h1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}
@media (min-width: 992px) {
  .review-widget h1 {
    margin-top: 33px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1200px) {
  .review-widget h1 {
    margin-top: 33px;
    margin-bottom: 33px;
  }
}
.review-widget .review-item {
  padding-bottom: 10px;
}
@media (min-width: 480px) {
  .review-widget .review-item {
    padding-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .review-widget .review-item {
    padding-bottom: 14px;
  }
}
@media (min-width: 992px) {
  .review-widget .review-item {
    padding-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .review-widget .review-item {
    padding-bottom: 22px;
  }
}
