{{ import('css', 'roomConstructor2.css', 'modules.remont.widgets.css') }}
{#{ import('js', 'jquery.validate.js', 'application.views.js.jquery-validation') }#}
{#{ import('js', 'additional-methods.js', 'application.views.js.jquery-validation') }#}
{#{ import('js', 'tether.js', 'ext.tether.dist.js') }#}
{#{ import('js', 'jquery.preloadImages.js') }#}
{#{ import('js', 'jquery.spincrement.min.js') }#}

{#{ registerPackages(['underscore', 'maskedinput', 'html2image']) }#}

{# { import('js', 'roomConstructor2.js', 'modules.remont.widgets.js') } #}
{# <script type="text/javascript">
$(function() {
    constructor2.init({
        roomDataLink:       "{{ link({0:'/roomData'}) }}",
        sendFormLink:       "{{ link({0:'/remont/rooms/sendForm'}) }}",
        savePictureLink:    "{{ link({0:'/remont/rooms/savePicture'}) }}",
        recalcLink:         "{{ link({0:'/remont/rooms/recalc'}) }}",
        city:               "{{ static('SypexGeoHelper', 'getCityName') }}"
    });
});
</script> #}

<div id='room-constructor'></div>
