{{ import('css', 'roomConstructor.css', 'modules.remont.widgets.css') }}
{{ import('js', 'jquery.validate.js', 'application.views.js.jquery-validation') }}
{{ import('js', 'additional-methods.js', 'application.views.js.jquery-validation') }}
{{ import('js', 'tether.js', 'ext.tether.dist.js') }}
{{ import('js', 'jquery.preloadImages.js') }}
{#{ import('js', 'jquery.spincrement.min.js') }#}

{{ registerPackages(['underscore', 'maskedinput', 'html2image']) }}

{{ import('js', 'roomConstructor.js', 'modules.remont.widgets.js') }}
<script type="text/javascript">
$(function() {
    constructor.init({
        roomDataLink:       "{{ link({0:'/roomData'}) }}",
        sendFormLink:       "{{ link({0:'/remont/rooms/sendForm'}) }}",
        savePictureLink:    "{{ link({0:'/remont/rooms/savePicture'}) }}",
        recalcLink:         "{{ link({0:'/remont/rooms/recalc'}) }}",
        city:               "{{ static('SypexGeoHelper', 'getCityName') }}"
    });
});
</script>

<div class='room-constructor-widget'>

<form method='post' action="" id='js-form'>

    <div class='room-block'>
        <div class='row'>
            <div class='col-xs-12  calc-header'>
                {{ _t('app', 'Конструктор квартиры') }}
            </div>
        </div>


        {# Количество комнат и площадь #}
        <div class='rooms-list-cont' id='js-rooms-list'>
            <div class='rooms-list'>
                <div class='title'>
                    {{ _t('app', 'Количество комнат') }}
                </div>
                <div class='values'>
                    {% for roomId,roomData in rooms %}
                        {% set id='roomType'~loop.index %}
                        {% for roomNumber,square in roomData %}
                            <input class="form-check-input" type="radio" name="roomType" id="{{id}}" value="{{ roomId }}" data-square="{{square['square']}}" data-square-min="{{square['squareMin']}}">
                            <label class="form-check-inline" for='{{id}}'>{{ roomNumber }}</label>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class='rooms-square' id='js-rooms-square'>
                <div class='title'>
                    {{ _t('app', 'Площадь,&nbsp;м<sup>2</sup>')|raw }}
                </div>
                <div class='values'>
                    <input class='small' type='text' value='' name='square'>
                </div>
            </div>
        </div>
    </div>


    <div id='js-float-panel-start'></div>


    <div class='room-block  room-content'>
        {# <div class='row'>
            <div class='col-xs-12  calc-header'>
                {{ _t('app', 'Выберите стиль') }}
            </div>
        </div> #}

        <div id='js-loader' class='loader top'></div>
        <div class='not-calc-header'>
            <div id='js-room-content'></div>
        </div>
    </div>


    <div class='room-block'>
        <div class='row'>
            <div class='col-xs-12  calc-header'>
                {{ _t('app', 'Что требуется сделать?') }}
            </div>
        </div>
        {# Чекбоксы #}
        <div class='rooms-additional-service' id='js-rooms-additional-service'>
            <table><tr>
                <td>
                    <input type='hidden' value='0' name='result_styles'>
                    <input type='checkbox' value='' id='styles' name='styles' checked='checked' disabled='disabled' data-cost='0'>
                    <label for='styles'>
                        <h4 class='title'>
                            {{ widget('ext.widgets.ContentBlocksWidget', {'position': const('ContentBlocks', 'POS_TITLE_STYLES')}) }}
                        </h4>
                        <button type="button" class="btn-question"
                            data-html="true"
                            data-toggle="popover"
                            data-placement="bottom"
                            data-trigger="manual"
                            data-content="{{ widget('ext.widgets.ContentBlocksWidget', {
                                    'position': const('ContentBlocks', 'POS_POPOVER_STYLES'),
                                    'raw': true
                                }) }}<br/><br/><a href='#faq'>Подробнее</a>"
                        ><span class='question'>?</span></button>
                        <div class='hint'>
                            {{ widget('ext.widgets.ContentBlocksWidget', {
                                'position': const('ContentBlocks', 'POS_CHECKBOX_STYLES'),
                                'raw': true
                            }) }}
                        </div>
                    </label>                        
                </td>
                <td class='text-right'>
                    {{ _t('app', 'бесплатно') }}
                </td>
            </tr><tr>
                <td>
                    <input type='hidden' value='0' name='result_project'>
                    <input type='checkbox' value='' id='project' name='project' data-cost='0'>
                    <label for='project'>
                        <h4 class='title'>
                            {{ widget('ext.widgets.ContentBlocksWidget', {'position': const('ContentBlocks', 'POS_TITLE_PROJECT')}) }}
                        </h4>
                        <button type="button" class="btn-question"
                            data-html="true"
                            data-toggle="popover"
                            data-placement="bottom"
                            data-trigger="manual"
                            data-content="{{ widget('ext.widgets.ContentBlocksWidget', {
                                    'position': const('ContentBlocks', 'POS_POPOVER_PROJECT'),
                                    'raw': true
                                }) }}<br/><br/><a href='#faq'>Подробнее</a>"
                        ><span class='question'>?</span></button>
                        <div class='hint'>
                            {{ widget('ext.widgets.ContentBlocksWidget', {
                                'position': const('ContentBlocks', 'POS_CHECKBOX_PROJECT'),
                                'raw': true
                            }) }}
                            <a class='pdf' target='_blank' href='{{ link({0:"/mainPage/mainPage/getFile", 'filename': projectFilePdf, 'path':'project'}) }}' onclick="yaCounter44889733.reachGoal('GETFILE'); return true;">
                                {{ _t('app', 'Пример проекта') }}
                            </a>
                            <a class='pdf' target='_blank' href='{{ link({0:"/mainPage/mainPage/getFile", 'filename': smetaFilePdf, 'path':'smeta'}) }}' onclick="yaCounter44889733.reachGoal('GETFILE'); return true;">
                                {{ _t('app', 'Пример сметы') }}
                            </a>
                        </div>
                    </label>                        
                </td>
                <td class='text-right'>
                    <span id='js-project-cost'>
                        0
                    </span>
                    <span class='fa fa-rub'></span>
                </td>
            </tr><tr>
                <td>
                    <input type='hidden' value='0' name='result_complectation'>
                    <input type='checkbox' value='' id='complectation' name='complectation' data-cost='0'>
                    <label for='complectation'>
                        <h4 class='title'>
                            {{ widget('ext.widgets.ContentBlocksWidget', {'position': const('ContentBlocks', 'POS_TITLE_COMPLECTATION')}) }}
                        </h4>
                        <button type="button" class="btn-question"
                            data-html="true"
                            data-toggle="popover"
                            data-placement="bottom"
                            data-trigger="manual"
                            data-content="{{ widget('ext.widgets.ContentBlocksWidget', {
                                    'position': const('ContentBlocks', 'POS_POPOVER_COMPLECTATION'),
                                    'raw': true
                                }) }}<br/><br/><a href='#faq'>Подробнее</a>"
                        ><span class='question'>?</span></button>
                        <div class='hint'>
                            {{ widget('ext.widgets.ContentBlocksWidget', {
                                'position': const('ContentBlocks', 'POS_CHECKBOX_COMPLECTATION'),
                                'raw': true
                            }) }}
                        </div>
                    </label>
                </td>
                <td class='text-right'>
                    <span id='js-complectation-cost-from'>{{ _t('app', 'от') }}&nbsp;</span>
                    <span id='js-complectation-cost'>
                        0
                    </span>
                    <span class='fa fa-rub'></span>
                </td>
            </tr><tr>
                <td>
                    <input type='hidden' value='0' name='result_nadzor'>
                    <input type='checkbox' value='' id='nadzor' name='nadzor' data-cost='0'>
                    <label for='nadzor'>
                        <h4 class='title'>
                            {{ widget('ext.widgets.ContentBlocksWidget', {'position': const('ContentBlocks', 'POS_TITLE_NADZOR')}) }}
                        </h4>
                        <button type="button" class="btn-question"
                            data-html="true"
                            data-toggle="popover"
                            data-placement="bottom"
                            data-trigger="manual"
                            data-content="{{ widget('ext.widgets.ContentBlocksWidget', {
                                    'position': const('ContentBlocks', 'POS_POPOVER_NADZOR'),
                                    'raw': true
                                }) }}<br/><br/><a href='#faq'>Подробнее</a>"
                        ><span class='question'>?</span></button>
                        <div class='hint'>
                            {{ widget('ext.widgets.ContentBlocksWidget', {
                                'position': const('ContentBlocks', 'POS_CHECKBOX_NADZOR'),
                                'raw': true
                            }) }}
                        </div>
                    </label>
                </td>
                <td class='text-right'>
                    <span id='js-nadzor-cost'>
                        0
                    </span>
                    <span class='fa fa-rub'></span>
                </td>
            </tr><tr>
                <td>
                    <input type='hidden' value='0' name='result_fullremont'>
                    <input type='checkbox' value='' id='fullremont' name='fullremont' data-cost='0'>
                    <label for='fullremont'>
                        <h4 class='title'>
                            {{ widget('ext.widgets.ContentBlocksWidget', {'position': const('ContentBlocks', 'POS_TITLE_FULLREMONT')}) }}
                        </h4>
                        <button type="button" class="btn-question"
                            data-html="true"
                            data-toggle="popover"
                            data-placement="bottom"
                            data-trigger="manual"
                            data-content="{{ widget('ext.widgets.ContentBlocksWidget', {
                                    'position': const('ContentBlocks', 'POS_POPOVER_FULLREMONT'),
                                    'raw': true
                                }) }}<br/><br/><a href='#faq'>Подробнее</a>"
                        ><span class='question'>?</span></button>
                        <div class='hint'>
                            {{ widget('ext.widgets.ContentBlocksWidget', {
                                'position': const('ContentBlocks', 'POS_CHECKBOX_FULLREMONT'),
                                'raw': true
                            }) }}
                        </div>
                    </label>
                </td>
                <td class='text-right'>
                    <span id='js-fullremont-cost-from'>{{ _t('app', 'от') }}&nbsp;</span>
                    <span id='js-fullremont-cost'>
                        0
                    </span>
                    <span class='fa fa-rub'></span>
                </td>
            </tr></table>

            {# Скрытое поле для общей стоимости #}
            <input type='hidden' value='0' name='total_price'>

            <div class='subitems' style='display:none'>
                <table valign='middle'>
                {% for subitem in subitems %}
                    <tr>
                        <td>
                            <input type='checkbox' value='' id='resultSubitem_{{subitem.id}}' name='resultSubitem[{{subitem.id}}]'>
                            <label for='resultSubitem_{{subitem.id}}'>{{ subitem.title }}</label>
                        </td>
                        <td class='hide'>
                            {{ App.numberFormatter.format('#,##0', subitem.cost) }} <span class='fa fa-rub'></span>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>

            <div class='space-big'></div>
            <div id='js-float-panel-finish'></div>
            <div class='fixed-panel'>
                <div class='fixed-panel-inner'>
                    <div class='row'>
                        <div class='col-xs-8'>
                            <b>{{ _t('app', 'Ваш ремонт') }}:</b> <span id='js-fixed-panel-info'></span>
                        </div>
                        <div class='col-xs-4  text-right'>
                            <b>{{ _t('app', 'Итого') }}:</b> <span id='js-fixed-panel-cost'>0</span>&nbsp;<span class='fa fa-rub'></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='float-panel'>
                <div class='float-panel-inner'>
                    <div class='text-center  float-panel-cost'>
                        <span class='panel-info' id='js-float-panel-info'>
                            {# Will be remove by JS #}
                            <b>{{ _t('app', 'Проект ремонта') }}:</b> 0&nbsp;<span class="fa fa-rub"></span>
                        </span>
                        <br class='hidden-sm  hidden-md  hidden-lg'/>
                        <span class='panel-result'>
                            <b>{{ _t('app', 'Ремонт под ключ') }}:</b> <span id='js-float-panel-cost'>0</span>&nbsp;<span class='fa fa-rub'></span>
                        </span>
                    </div>

                    <div class='float-panel-submit'>
                        <button class='submit  send-order' type="button" id='js-float-panel-submit-btn'>
                            <span class='hidden-xxs'>{{ _t('app', 'Получить смету') }}</span>
                            <span class='visible-xxs'>{{ _t('app', 'Заказать') }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='result-panel'>
        <div class='result-panel-inner'>
        </div>
    </div>

    <div class='room-block  room-content'>
        <div class='row'>
            <div class='col-xs-12  header  big'>
                {{ _t('app', 'Отправить заявку') }}
            </div>
        </div>

        <div class='rooms-send-form' id='js-rooms-send-form'>
            <div class='row'>
                <div class='col-xs-12 col-sm-6'>
                    <label for='name'>
                        <h5>{{ _t('app', 'Ваше имя') }}</h5>
                        <input type='text' id='name' name='name' value=''>
                    </label>
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <label for='phone'>
                        <h5>{{ _t('app', 'Ваш телефон') }}</h5>
                        <input type='text' id='phone' name='phone' value=''>
                    </label>
                </div>


                <div id='vue-rooms-send-form'>
                    <div class='col-xs-12 col-sm-8 col-sm-offset-2'>
                        <input type='checkbox' value='' id='pictures_confirm' name='pictures_confirm'  v-model="showEmail">
                        <label for='pictures_confirm'>
                            {{ _t('app', 'Отправить изображения и смету мне на почту') }}
                        </label>                        
                    </div>
                    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                        <label for='email'>
                            <h5>{{ _t('app', 'E-mail') }}</h5>
                            <input type='text' id='email' name='email' value=''  v-bind:disabled='!showEmail'>
                        </label>
                    </div>
                </div>
                
                <div class='space-middle  visible-xxs'></div>
                <div class='col-xs-12  text-center'>
                    <div class='space-big'></div>
                    <button class='submit' type="button" id='js-submit-btn'>{{ _t('app', 'Отправить') }}</button>
                </div>

                <div class='col-xs-12  text-center'>
                    <div class='space-big'></div>
                    <div class='politic'>
                        {{ _t('app', 'Отправляя свои данные через эту форму, я соглашаюсь с') }} <a href='#' class='js-politic-link'>{{ _t('app', '
                        политикой обработки персональных данных') }}</a>
                    </div>
                </div>

                <div class='col-xs-12  text-center'>
                    <div class='space-middle'></div>
                    <div class='space-middle'></div>
                    <div class='info'>{{ _t('app', 'В ближайшее время мы вам перезвоним и обсудим все подробности') }}</div>
                    <div class='space-big'></div>
                </div>
            </div>
        </div>
    </div>

</form>
</div>

<!-- Modal -->
<div class="modal fade" id="js-modal-window" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {{ _t('app', 'Сообщение успешно отправлено') }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade  error" id="js-modal-error-window" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {{ _t('app', 'Произошла ошибка при отправке.<br/>Пожалуйста, обратитесь к администраторам сайта')|raw }}
            </div>
        </div>
    </div>
</div>