<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {# Полностью запрещаем индексировать админский раздел, т.к. robots.txt не может гарантировать запрет индексации, если есть ссылки на страницу #}
    <meta name="robots" content="noindex, nofollow"/>

    <title>{% block title %}{{ this.pageTitle }}{% endblock %}</title>

    {% block css %}
        {{ import('css', 'admin.css', 'ext.mAdmin.assets.css') }}
    {% endblock %}

    {% block js %}
    {% endblock %}
</head>

<body class="no-skin">
{% block body %}
    <div id="navbar" class="navbar navbar-default">
        <div id="navbar-container" class="navbar-container">
            <!-- toggle buttons are here or inside brand container -->
            
            <div class="navbar-header pull-left">
                <a href="{{ link({0:'/admin'}) }}" class="navbar-brand">
                    <small>{{ App.name }}</small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                {% if not App.user.isGuest %}
                <ul class="nav ace-nav">
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            {{ App.user.name }}
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>
                        <ul class="user-menu dropdown-menu dropdown-menu-right dropdown-yellow dropdown-caret dropdown-close">
                            <!--li><a href="#"><i class="ace-icon fa fa-cog"></i> Настройки</a></li>
                            <li class="divider"></li-->
                            <li><a href="{{ link({0:'/site/logout'}) }}"><i class="ace-icon fa fa-power-off"></i> Выйти</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div>

            <nav role="navigation" class="navbar-menu collapse navbar-collapse">
            </nav>
        </div>
    </div>

 
    <div class="main-container" id="main-container">

        <div class="sidebar responsive" id="sidebar">
                {% block mainMenu %}
                    {{ widget('ext.mAdmin.widgets.AdminMenuWidget',{
                        'vertical': true,
                        'activateParents': true,
                        'items' : [
                            {
                                'label':    'Меню',
                                'icon':     'th-list',
                                'url':      ['/sitemenu/adminSitemenu'],
                                'active':   this.uniqueId == 'sitemenu/adminSitemenu',
                                'visible':  false,
                            },
                            {
                                'label':    'Комнаты',
                                'icon':     'home',
                                'action':   false,
                                'items': [
                                    {
                                        'label':    'Типы квартир',
                                        'url':      ['/remont/adminRoomType'],
                                        'active':   this.uniqueId == 'remont/adminRoomType',
                                        'visible':  App.user.checkAccess('moderator')
                                    },
                                    {
                                        'label':    'Помещения',
                                        'url':      ['/remont/adminRoomCompartment'],
                                        'active':   this.uniqueId == 'remont/adminRoomCompartment',
                                        'visible':  App.user.checkAccess('moderator')
                                    },
                                    {
                                        'label':    'Комнатные блоки',
                                        'url':      ['/remont/adminRoomBlock'],
                                        'active':   this.uniqueId == 'remont/adminRoomBlock',
                                        'visible':  App.user.checkAccess('moderator')
                                    },
                                    {
                                        'label':    'Группы параметров',
                                        'url':      ['/remont/adminRoomParamGroup'],
                                        'active':   this.uniqueId == 'remont/adminRoomParamGroup',
                                        'visible':  App.user.checkAccess('moderator')
                                    },
                                    {
                                        'label':    'Параметры комнат',
                                        'url':      ['/remont/adminRoomParam'],
                                        'active':   this.uniqueId == 'remont/adminRoomParam',
                                        'visible':  App.user.checkAccess('admin')
                                    },
                                    {
                                        'label':    'Стили',
                                        'url':      ['/remont/adminRoomStyles'],
                                        'active':   this.uniqueId == 'remont/adminRoomStyles',
                                        'visible':  App.user.checkAccess('admin')
                                    }

                                ]
                            },
                            {
                                'label':    'Загрузка PDF',
                                'icon':     'download',
                                'action':   false,
                                'items': [
                                    {
                                        'label':    'Проект',
                                        'url':      ['/admin/adminUploadProjectFile'],
                                        'active':   this.uniqueId == 'admin/adminUploadProjectFile',
                                        'visible':  App.user.checkAccess('moderator')
                                    },
                                    {
                                        'label':    'Смета ремонта',
                                        'url':      ['/admin/adminUploadSmetaFile'],
                                        'active':   this.uniqueId == 'admin/adminUploadSmetaFile',
                                        'visible':  App.user.checkAccess('moderator')
                                    }
                                ]
                            },
                            {
                                'label':    'Подпункты "полный ремонт"',
                                'icon':     'list',
                                'url':      ['/remont/adminSubparagraphs'],
                                'active':   this.uniqueId == 'remont/adminSubparagraphs',
                                'visible':  App.user.checkAccess('moderator')
                            },
                            {
                                'label':    'Вопросы-ответы',
                                'icon':     'question-circle',
                                'url':      ['/faq/adminFaq'],
                                'active':   this.uniqueId == 'faq/adminFaq',
                                'visible':  App.user.checkAccess('moderator')
                            },
                            {
                                'label':    'Отзывы',
                                'icon':     'commenting-o',
                                'url':      ['/reviews/adminReviews'],
                                'active':   this.uniqueId == 'reviews/adminReviews',
                                'visible':  App.user.checkAccess('moderator')
                            },
                            {
                                'label':    'Контентные блоки', 
                                'icon':     'file-text-o',
                                'url':      ['/contentBlocks/adminContentBlocks'],
                                'active':   this.uniqueId == 'contentBlocks/adminContentBlocks',
                                'visible':  App.user.checkAccess('moderator')
                            },
                            {
                                'label':    'Разделы сайта',
                                'action':   false,
                                'icon':     'file-o',
                                'items': [
                                    {
                                        'label':'Статьи',
                                        'url':['/articles/adminArticles'],
                                        'active':this.uniqueId == 'articles/adminArticles',
                                        'visible':false,
                                        '_visible':App.user.checkAccess('moderator')
                                    },
                                    {
                                        'label':'Документы',
                                        'url':['/documentsList/adminDocumentsList'],
                                        'active':this.uniqueId == 'documentsList/adminDocumentsList',
                                        'visible':false,
                                        '_visible':App.user.checkAccess('moderator')
                                    },
                                    {
                                        'label':'Галереи',
                                        'url':['/gallery/adminGallery'],
                                        'active':this.uniqueId == 'gallery/adminGallery',
                                        'visible':App.user.checkAccess('moderator')
                                    },
                                ]
                            },
                            {
                                'label':    'Рубрики обратной связи',
                                'icon':     'comments-o',
                                'url':      ['/feedback/adminFeedbackSections'],
                                'active':   this.uniqueId == 'feedback/adminFeedbackSections',
                                'visible':  App.user.checkAccess('admin'),
                                '__visible':  App.user.checkAccess('moderator')
                            },
                            {
                                'label':    'Пользователи',
                                'icon':     'users',
                                'url':      ['/admin/adminUsers'],
                                'active':   this.uniqueId == 'admin/adminUsers',
                                'visible':  App.user.checkAccess('admin')
                            },
                            {
                                'label':    'Настройки',
                                'icon':     'gears',
                                'url':      ['/admin/adminLocalConfig'],
                                'active':   this.uniqueId == 'admin/adminLocalConfig',
                                'visible':  App.user.checkAccess('manager')
                            },
                        ]
                    }) }}
                {% endblock %} 

            {#
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse" style="z-index: 1;">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
            #}
        </div>
  
        <div class="main-content">
            <div class="breadcrumbs">
                <!-- breadcrumbs goes here -->
            </div>
   
            <div class="page-content">
                <!-- setting box goes here if needed -->

                <div class="row">
                    <div class="col-xs-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>

            </div>
        </div>
     
        <!-- footer area -->

    </div>
{% endblock %}
</body>
</html>
