@import (reference) '../../../../../../../protected/views/less/custom.less';

.review-widget {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    .marginBig(0,0,1,0, 2);
    
    h1 {
        .marginBig(1,0,1,0);
        text-align: center;
    }

    table {
        margin: @smallPadding-xs;

        td {
            .varByArray(~"padding", @innerIndents);
            &:not(:first-child) {
                padding-left: 0px;
            }
        }
        tr.review-item {
            &:not(:first-child) td {
                border-top: 2px solid @colorSeparatorLine;
            }

            img {

            }
            .text {
                .paddingSmall(0,0,1,0);
            }
            .info {

            }

            .overflow-block {
                overflow: hidden;
            }

            .readmore-show {

            }
            .readmore-hide {

            }
        }
    }
}