.header-widget .container,
.header-widget .container-fluid {
  padding: 0;
}
.header-widget .container > .row,
.header-widget .container-fluid > .row {
  padding: 0 !important;
}
.header-widget .container {
  max-width: 950px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 480px) {
  .header-widget .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 768px) {
  .header-widget .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  .header-widget .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 1200px) {
  .header-widget .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.header-widget .logo-container {
  background: #fff;
}
.header-widget .logo-row {
  font-size: 10px ;
  line-height: 1 ;
}
@media (min-width: 480px) and (max-width: 767px) {
  .header-widget .logo-row {
    font-size: 18px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-widget .logo-row {
    font-size: 23px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-widget .logo-row {
    font-size: 14px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .header-widget .logo-row {
    font-size: 14px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) {
  .header-widget .logo-row {
    line-height: 1 ;
  }
}
@media (min-width: 768px) {
  .header-widget .logo-row {
    line-height: 1 ;
  }
}
@media (min-width: 992px) {
  .header-widget .logo-row {
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .header-widget .logo-row {
    line-height: 1 ;
  }
}
.header-widget .logo-row a:hover {
  color: #b02500;
  text-decoration: underline;
}
.header-widget .logo-row .city-col,
.header-widget .logo-row .answ-col {
  line-height: 80px;
}
.header-widget .logo-row .city-col-inside,
.header-widget .logo-row .answ-col-inside {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}
.header-widget .logo-row .city-col-inside > div,
.header-widget .logo-row .answ-col-inside > div {
  display: inline-block;
  white-space: nowrap;
}
.header-widget .logo-row .answ-col {
  white-space: nowrap;
}
@media (max-width: 991px) {
  .header-widget .logo-row [class^='col-'] {
    text-align: center !important;
  }
}
@media (max-width: 767px) {
  .header-widget .logo-row [class^='col-'] {
    line-height: initial !important;
    padding-bottom: 15px;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  .header-widget .logo-row [class^='col-'] {
    padding-bottom: 15px;
  }
}
@media (max-width: 767px) and (min-width: 768px) {
  .header-widget .logo-row [class^='col-'] {
    padding-bottom: 22px;
  }
}
@media (max-width: 767px) and (min-width: 992px) {
  .header-widget .logo-row [class^='col-'] {
    padding-bottom: 33px;
  }
}
@media (max-width: 767px) and (min-width: 1200px) {
  .header-widget .logo-row [class^='col-'] {
    padding-bottom: 33px;
  }
}
@media (max-width: 480px) {
  .header-widget .logo-row .city-col {
    padding-right: 5px;
  }
  .header-widget .logo-row .answ-col {
    padding-left: 5px;
  }
}
@media (max-width: 480px) and (min-width: 480px) {
  .header-widget .logo-row .city-col {
    padding-right: 5px;
  }
}
@media (max-width: 480px) and (min-width: 768px) {
  .header-widget .logo-row .city-col {
    padding-right: 8px;
  }
}
@media (max-width: 480px) and (min-width: 992px) {
  .header-widget .logo-row .city-col {
    padding-right: 11px;
  }
}
@media (max-width: 480px) and (min-width: 1200px) {
  .header-widget .logo-row .city-col {
    padding-right: 11px;
  }
}
@media (max-width: 480px) and (min-width: 480px) {
  .header-widget .logo-row .answ-col {
    padding-left: 5px;
  }
}
@media (max-width: 480px) and (min-width: 768px) {
  .header-widget .logo-row .answ-col {
    padding-left: 8px;
  }
}
@media (max-width: 480px) and (min-width: 992px) {
  .header-widget .logo-row .answ-col {
    padding-left: 11px;
  }
}
@media (max-width: 480px) and (min-width: 1200px) {
  .header-widget .logo-row .answ-col {
    padding-left: 11px;
  }
}
.header-widget .logo-row .logo {
  height: 80px;
  width: 100%;
  background: url(../../img/logo_d.png) center center no-repeat;
}
@media (max-width: 480px) {
  .header-widget .logo-row .logo {
    height: 52px;
    background-image: url(../../img/logo.png);
    -webkit-background-size: auto 65%;
            background-size: auto 65%;
  }
}
.header-widget .wide-image {
  position: relative;
  background: url(../../img/img5.jpg) center 100% no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position-y: top;
  background-attachment: fixed;
}
.header-widget .slogan-container {
  background: #fff;
}
.header-widget .slogan-inner-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 950px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 480px) {
  .header-widget .slogan-inner-container {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .header-widget .slogan-inner-container {
    padding-top: 14px;
    padding-right: 14px;
    padding-left: 14px;
  }
}
@media (min-width: 992px) {
  .header-widget .slogan-inner-container {
    padding-top: 22px;
    padding-right: 22px;
    padding-left: 22px;
  }
}
@media (min-width: 1200px) {
  .header-widget .slogan-inner-container {
    padding-top: 22px;
    padding-right: 22px;
    padding-left: 22px;
  }
}
.header-widget .slogan-inner-container .slogan-info-block {
  display: inline-block;
  float: left;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .header-widget .slogan-inner-container .slogan-info-block {
    width: 100%;
    z-index: initial;
  }
}
.header-widget .slogan-inner-container .slogan-info-block .slogan-block,
.header-widget .slogan-inner-container .slogan-info-block .info-block {
  padding-right: 30px;
}
@media (min-width: 480px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block,
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    padding-right: 30px;
  }
}
@media (min-width: 768px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block,
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    padding-right: 44px;
  }
}
@media (min-width: 992px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block,
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    padding-right: 66px;
  }
}
@media (min-width: 1200px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block,
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    padding-right: 66px;
  }
}
.header-widget .slogan-inner-container .slogan-info-block .slogan-block {
  text-align: center;
}
@media (min-width: 768px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block {
    text-align: left;
    max-width: 400px;
  }
}
.header-widget .slogan-inner-container .slogan-info-block .slogan-block .title {
  font-size: 30px ;
  line-height: 1 ;
  line-height: 1.1 ;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
@media (min-width: 480px) and (max-width: 767px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block .title {
    font-size: 38px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block .title {
    font-size: 30px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block .title {
    font-size: 30px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block .title {
    font-size: 30px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block .title {
    line-height: 1.1 ;
  }
}
@media (min-width: 768px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block .title {
    line-height: 1.1 ;
  }
}
@media (min-width: 992px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block .title {
    line-height: 1.1 ;
  }
}
@media (min-width: 1200px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block .title {
    line-height: 1.1 ;
  }
}
.header-widget .slogan-inner-container .slogan-info-block .slogan-block .text {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
@media (min-width: 480px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block .text {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block .text {
    padding-top: 14px;
    padding-right: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
  }
}
@media (min-width: 992px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block .text {
    padding-top: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
  }
}
@media (min-width: 1200px) {
  .header-widget .slogan-inner-container .slogan-info-block .slogan-block .text {
    padding-top: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
  }
}
.header-widget .slogan-inner-container .slogan-info-block .info-block {
  margin-bottom: 10px;
  background-color: #f8ce00;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 50px;
}
@media (min-width: 480px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    margin-bottom: 14px;
  }
}
@media (min-width: 992px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    margin-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    margin-bottom: 22px;
  }
}
@media (min-width: 480px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    padding-top: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    padding-top: 14px;
    padding-left: 14px;
  }
}
@media (min-width: 992px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    padding-top: 22px;
    padding-left: 22px;
  }
}
@media (min-width: 1200px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    padding-top: 22px;
    padding-left: 22px;
  }
}
@media (min-width: 480px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    padding-bottom: 14px;
  }
}
@media (min-width: 992px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    padding-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block {
    padding-bottom: 22px;
  }
}
.header-widget .slogan-inner-container .slogan-info-block .info-block h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 28px ;
  line-height: 1 ;
  line-height: 37px ;
  padding-bottom: 5px;
}
@media (min-width: 480px) and (max-width: 767px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block h3 {
    font-size: 38px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block h3 {
    font-size: 30px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block h3 {
    font-size: 30px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block h3 {
    font-size: 30px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block h3 {
    line-height: 40px ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block h3 {
    line-height: 40px ;
  }
}
@media (min-width: 1200px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block h3 {
    line-height: 40px ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block h3 {
    line-height: 50px ;
  }
}
@media (min-width: 480px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block h3 {
    padding-bottom: 5px;
  }
}
@media (min-width: 768px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block h3 {
    padding-bottom: 8px;
  }
}
@media (min-width: 992px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block h3 {
    padding-bottom: 11px;
  }
}
@media (min-width: 1200px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block h3 {
    padding-bottom: 11px;
  }
}
.header-widget .slogan-inner-container .slogan-info-block .info-block .info,
.header-widget .slogan-inner-container .slogan-info-block .info-block a.pdf {
  font-size: 16px ;
  line-height: 1 ;
  line-height: 1.5 ;
}
@media (min-width: 480px) and (max-width: 767px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block .info,
  .header-widget .slogan-inner-container .slogan-info-block .info-block a.pdf {
    font-size: 20px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block .info,
  .header-widget .slogan-inner-container .slogan-info-block .info-block a.pdf {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block .info,
  .header-widget .slogan-inner-container .slogan-info-block .info-block a.pdf {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block .info,
  .header-widget .slogan-inner-container .slogan-info-block .info-block a.pdf {
    font-size: 16px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block .info,
  .header-widget .slogan-inner-container .slogan-info-block .info-block a.pdf {
    line-height: 1.5 ;
  }
}
@media (min-width: 768px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block .info,
  .header-widget .slogan-inner-container .slogan-info-block .info-block a.pdf {
    line-height: 1.5 ;
  }
}
@media (min-width: 992px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block .info,
  .header-widget .slogan-inner-container .slogan-info-block .info-block a.pdf {
    line-height: 1.5 ;
  }
}
@media (min-width: 1200px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block .info,
  .header-widget .slogan-inner-container .slogan-info-block .info-block a.pdf {
    line-height: 1.5 ;
  }
}
.header-widget .slogan-inner-container .slogan-info-block .info-block .info {
  margin-left: 1.5em;
  display: list-item;
}
.header-widget .slogan-inner-container .slogan-info-block .info-block a.pdf {
  color: #b02500;
  text-decoration: underline;
  display: inline-block;
}
.header-widget .slogan-inner-container .slogan-info-block .info-block a.pdf:before {
  content: '';
  width: 18px;
  height: 18px;
  background: url(../../img/pdf.png) left top no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.25px;
}
@media (min-width: 480px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block a.pdf:before {
    margin-right: 1.25px;
  }
}
@media (min-width: 768px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block a.pdf:before {
    margin-right: 2px;
  }
}
@media (min-width: 992px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block a.pdf:before {
    margin-right: 2.75px;
  }
}
@media (min-width: 1200px) {
  .header-widget .slogan-inner-container .slogan-info-block .info-block a.pdf:before {
    margin-right: 2.75px;
  }
}
.header-widget .slogan-inner-container .gallery-block {
  position: relative;
  left: -50px;
  margin-right: -50px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-widget .slogan-inner-container .gallery-block {
    position: absolute;
    right: 14px;
    top: 14px;
    left: initial;
    margin-right: initial;
    width: 430px;
  }
}
@media (max-width: 767px) {
  .header-widget .slogan-inner-container .gallery-block {
    left: initial;
    margin-right: initial;
    clear: both;
    top: -40px;
    margin-bottom: -40px;
    padding-right: 22.5px;
    padding-left: 22.5px;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  .header-widget .slogan-inner-container .gallery-block {
    padding-right: 22.5px;
    padding-left: 22.5px;
  }
}
@media (max-width: 767px) and (min-width: 768px) {
  .header-widget .slogan-inner-container .gallery-block {
    padding-right: 33px;
    padding-left: 33px;
  }
}
@media (max-width: 767px) and (min-width: 992px) {
  .header-widget .slogan-inner-container .gallery-block {
    padding-right: 49.5px;
    padding-left: 49.5px;
  }
}
@media (max-width: 767px) and (min-width: 1200px) {
  .header-widget .slogan-inner-container .gallery-block {
    padding-right: 49.5px;
    padding-left: 49.5px;
  }
}
.header-widget .step-info-container {
  background: #fff;
  position: relative;
}
.header-widget .step-info-container .no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.header-widget .step-info-container .step-info-container-inner {
  position: relative;
  padding-bottom: 30px ;
}
@media (min-width: 480px) {
  .header-widget .step-info-container .step-info-container-inner {
    padding-bottom: 40px ;
  }
}
@media (min-width: 768px) {
  .header-widget .step-info-container .step-info-container-inner {
    padding-bottom: 30px ;
  }
}
@media (min-width: 992px) {
  .header-widget .step-info-container .step-info-container-inner {
    padding-bottom: 30px ;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .step-info-container-inner {
    padding-bottom: 30px ;
  }
}
.header-widget .step-info-container .step-info-container-inner > .row {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 950px;
}
.header-widget .step-info-container .step-info-container-inner > .row > [class^='col-'] {
  padding-top: 60px ;
}
@media (min-width: 480px) {
  .header-widget .step-info-container .step-info-container-inner > .row > [class^='col-'] {
    padding-top: 60px ;
  }
}
@media (min-width: 768px) {
  .header-widget .step-info-container .step-info-container-inner > .row > [class^='col-'] {
    padding-top: 40px ;
  }
}
@media (min-width: 992px) {
  .header-widget .step-info-container .step-info-container-inner > .row > [class^='col-'] {
    padding-top: 40px ;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .step-info-container-inner > .row > [class^='col-'] {
    padding-top: 40px ;
  }
}
.header-widget .step-info-container .step-info-container-inner:before,
.header-widget .step-info-container .step-info-container-inner > .row > [class^='col-']:before {
  content: '';
  background: #e3e3e3;
  min-height: 1px;
  width: 100%;
  position: absolute;
  display: block;
  margin-left: -15px;
  left: 15px;
  top: 88px ;
}
@media (min-width: 480px) {
  .header-widget .step-info-container .step-info-container-inner:before,
  .header-widget .step-info-container .step-info-container-inner > .row > [class^='col-']:before {
    top: 88px ;
  }
}
@media (min-width: 768px) {
  .header-widget .step-info-container .step-info-container-inner:before,
  .header-widget .step-info-container .step-info-container-inner > .row > [class^='col-']:before {
    top: 59px ;
  }
}
@media (min-width: 992px) {
  .header-widget .step-info-container .step-info-container-inner:before,
  .header-widget .step-info-container .step-info-container-inner > .row > [class^='col-']:before {
    top: 59px ;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .step-info-container-inner:before,
  .header-widget .step-info-container .step-info-container-inner > .row > [class^='col-']:before {
    top: 59px ;
  }
}
.header-widget .step-info-container .step-info-container-inner .step {
  position: relative;
}
.header-widget .step-info-container .step-info-container-inner .step .square {
  border: 0px none;
  height: 60px ;
  width: 60px ;
  padding-left: 22px ;
  padding-right: 22px ;
  font-size: 25px ;
  line-height: 1 ;
  line-height: 60px ;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  cursor: pointer;
  background-color: #f8ce00;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    height: 60px ;
  }
}
@media (min-width: 768px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    height: 40px ;
  }
}
@media (min-width: 992px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    height: 40px ;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    height: 40px ;
  }
}
@media (min-width: 480px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    width: 60px ;
  }
}
@media (min-width: 768px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    width: 40px ;
  }
}
@media (min-width: 992px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    width: 40px ;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    width: 40px ;
  }
}
@media (min-width: 480px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    padding-left: 22px ;
  }
}
@media (min-width: 768px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    padding-left: 15px ;
  }
}
@media (min-width: 992px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    padding-left: 15px ;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    padding-left: 15px ;
  }
}
@media (min-width: 480px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    padding-right: 22px ;
  }
}
@media (min-width: 768px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    padding-right: 15px ;
  }
}
@media (min-width: 992px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    padding-right: 15px ;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    padding-right: 15px ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    font-size: 25px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    font-size: 17px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    font-size: 17px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    font-size: 17px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    line-height: 60px ;
  }
}
@media (min-width: 768px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    line-height: 40px ;
  }
}
@media (min-width: 992px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    line-height: 40px ;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .step-info-container-inner .step .square {
    line-height: 40px ;
  }
}
.header-widget .step-info-container .step-info-container-inner .step .info {
  padding-top: 5px;
  font-size: 17px ;
  line-height: 1 ;
  line-height: 23px ;
  text-align: center;
}
@media (min-width: 480px) {
  .header-widget .step-info-container .step-info-container-inner .step .info {
    padding-top: 5px;
  }
}
@media (min-width: 768px) {
  .header-widget .step-info-container .step-info-container-inner .step .info {
    padding-top: 8px;
  }
}
@media (min-width: 992px) {
  .header-widget .step-info-container .step-info-container-inner .step .info {
    padding-top: 11px;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .step-info-container-inner .step .info {
    padding-top: 11px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .header-widget .step-info-container .step-info-container-inner .step .info {
    font-size: 25px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-widget .step-info-container .step-info-container-inner .step .info {
    font-size: 17px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-widget .step-info-container .step-info-container-inner .step .info {
    font-size: 17px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .step-info-container-inner .step .info {
    font-size: 17px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-widget .step-info-container .step-info-container-inner .step .info {
    line-height: 23px ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-widget .step-info-container .step-info-container-inner .step .info {
    line-height: 23px ;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .step-info-container-inner .step .info {
    line-height: 23px ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .header-widget .step-info-container .step-info-container-inner .step .info {
    line-height: 33px ;
  }
}
.header-widget .step-info-container .info-block > .row {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 950px;
}
.header-widget .step-info-container .info-block > .row > [class^='col-'] {
  border-top: 1px solid #e3e3e3;
}
.header-widget .step-info-container .info-block .info {
  font-size: 20px ;
  line-height: 1 ;
  line-height: 26px ;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 30px ;
  margin-bottom: 30px ;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 480px) and (max-width: 767px) {
  .header-widget .step-info-container .info-block .info {
    font-size: 30px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-widget .step-info-container .info-block .info {
    font-size: 20px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-widget .step-info-container .info-block .info {
    font-size: 20px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .info-block .info {
    font-size: 20px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-widget .step-info-container .info-block .info {
    line-height: 26px ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-widget .step-info-container .info-block .info {
    line-height: 26px ;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .info-block .info {
    line-height: 26px ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .header-widget .step-info-container .info-block .info {
    line-height: 40px ;
  }
}
@media (min-width: 480px) {
  .header-widget .step-info-container .info-block .info {
    margin-top: 40px ;
  }
}
@media (min-width: 768px) {
  .header-widget .step-info-container .info-block .info {
    margin-top: 30px ;
  }
}
@media (min-width: 992px) {
  .header-widget .step-info-container .info-block .info {
    margin-top: 30px ;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .info-block .info {
    margin-top: 30px ;
  }
}
@media (min-width: 480px) {
  .header-widget .step-info-container .info-block .info {
    margin-bottom: 40px ;
  }
}
@media (min-width: 768px) {
  .header-widget .step-info-container .info-block .info {
    margin-bottom: 30px ;
  }
}
@media (min-width: 992px) {
  .header-widget .step-info-container .info-block .info {
    margin-bottom: 30px ;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .info-block .info {
    margin-bottom: 30px ;
  }
}
@media (min-width: 480px) {
  .header-widget .step-info-container .info-block .info {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .header-widget .step-info-container .info-block .info {
    padding-right: 22px;
    padding-left: 22px;
  }
}
@media (min-width: 992px) {
  .header-widget .step-info-container .info-block .info {
    padding-right: 33px;
    padding-left: 33px;
  }
}
@media (min-width: 1200px) {
  .header-widget .step-info-container .info-block .info {
    padding-right: 33px;
    padding-left: 33px;
  }
}
.header-widget .yellow {
  background-color: #f8ce00;
}
