{{ import('css', 'reviews.css', 'modules.reviews.widgets.css') }}

{% if review|length %}
<div class='review-widget {{_uniqId}}'>
    <h1>{{ _t('app', 'Спросите наших клиентов')}}:</h1>

    <table>
    {% for item in review %}
        <tr class='review-item'>
            <td>
                <img src='{{ item.getImageUrl() }}'>
            </td>
            <td>
                <div class='text'>
                    {{ item.text|raw }}
                </div>
                <div class='info'>
                    <b>{{ item.info }}</b>
                </div>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}