/* for editRaw */
body {
    background-color: #fff;
}

/* right menu */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
.submenu-right .submenu-right {
    left: 100%;
    top: 0px;
}
.dropdown-menu.submenu-right  .dropdown-menu.submenu-right.dropdown-caret:before {
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    -moz-border-right-colors: rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    content: "";
    display: inline-block;
    left: -14px;
    position: absolute;
    top: 9px;
}
.dropdown-menu.submenu-right  .dropdown-menu.submenu-right.dropdown-caret:after {
    border-right: 6px solid #FFF;
    -moz-border-right-colors: #FFF;
    
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: "";
    display: inline-block;
    left: -12px;
    position: absolute;
    top: 10px;
}

.language-row {
    background:#f8f8f8;
    border-right: 1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left: 1px solid #eee;
    border-top:1px solid #eee;
    margin-bottom: 22px;
    padding: 22px 0px 0px 0px;
}
.filter-container input[type='text'] {
    padding: 0;
    width: 100%;
}
.tags {
    width: 100%;
}