{% set activeId = static('CHtml', 'activeId', [model, innerChildField]) %}
{% set activeName = static('CHtml', 'activeName', [model, innerChildField]) %}

<script type="text/javascript">
$(function() {
    (function() {
        let childList = {
            idx: 1,
            $cont: $('table#js-child-list-cont-{{_uniqId}} > tbody'),
            $dropdownMenu: $('#js-child-list-dropdown-menu-{{_uniqId}}'),


            init: function()
            {
                this.initGlobalMessages();
                this.initDropDownMenu();
            },


            initGlobalMessages: function()
            {
                var self = this;
                $(window).on("message", function(e) {
                    var data = e.originalEvent.data;
                    if (e.originalEvent.origin === '{{ App.request.hostInfo|raw }}') {
                        if (data.type == 'closePopupWindow') {
                            $('.admin-child-list-widget.{{_uniqId}} #myModal').modal('hide')
                            if (data.subtype == "{{ const('MAdminController', 'IFRAME_SUBTYPE_EDIT') }}")
                                document.location.reload();
                        }
                    }
                });
            },

            initDropDownMenu: function()
            {
                var self = this;

                // Создаем первоначальный список
                const arr = [
                {% for obj in data %}
                    {% spaceless %}
                    {# Исправление ошибки, когда сохранились пустые значения #}
                    {% if obj[valueField] != '' %}
                        {
                            'value': {{obj[valueField]}},
                            'data': {

                            {% for field in dataFields %}
                                '{{childModel.getAttributeLabel(field)}}': "{{obj[field]|text}}"{% if not loop.last %},{% endif %}

                            {% endfor %}
                            },
                            'visible': "{{obj[visibleField]|text}}"
                        }{% if not loop.last %},{% endif %}
                    {% endif %}
                    {% endspaceless %}

                {% endfor %}
                ];
                if (arr.length == 0) {
                    self.createEmptyItem();
                } else {
                    for (let i = 0; i < arr.length; i++) {
                        self.createChildItem(arr[i].value, arr[i].data, arr[i].visible);
                    }
                }

                // Отслеживаем нажатие вне элемента
                $(document).mouseup(function (e) {
                    if ($('.admin-child-list-widget').hasClass('open')) {
                        if (self.$dropdownMenu.has(e.target).length === 0)
                            $('.admin-child-list-widget').removeClass('open');
                    }
                });

                self.$dropdownMenu.find('a').click(function() {
                    // Делаем отдельный массив, чтобы ключом могла служить переменная
                    let textArr = {};
                    textArr[$(this).data('text-field')] = $(this).text();
                    let visible = $(this).data('visible');

                    self.removeEmptyItem();
                    self.createChildItem($(this).data('id'), textArr, visible);
                    $('.admin-child-list-widget').removeClass('open');
                    return false;
                });

                // Edit button
                {% if editUrl and useEditRaw %}
                    $('.admin-child-list-widget.{{_uniqId}}').delegate('.js-child-list-icon-edit', ace.click_event, function() {
                        var $btn = $(this);
                        var itemId = $btn.data('id');
                        var editUrl = "{{ App.createAbsoluteUrl(editUrl~'/editRaw') }}";
                        editUrl += '?id='+itemId;
                        $('.admin-child-list-widget.{{_uniqId}} #myModal .modal-body').html(`<iframe src='${editUrl}' frameborder=0 width='100%' height='${window.innerHeight}'></iframe>`);
                        $('.admin-child-list-widget.{{_uniqId}} #myModal').modal()
                        return false;
                    });
                {% endif %}

                // Remove button
                $('.admin-child-list-widget.{{_uniqId}}').delegate('.js-child-list-icon-trash', ace.click_event, function() {
                    var $btn = $(this);
                    bootbox.confirm("Вы уверены?", function(result) {
                        if (result) {
                            $btn.closest('tr').remove();
                            self.createEmptyItem();
                        }
                    });
                    return false;
                });

                // Sortable
                self.$cont.sortable().disableSelection();
            },

            createChildItem: function(value, dataArr, visible)
            {
                var self = this;
                visible = parseInt(visible);

                {# Подключаем заголовок, только когда он нужен #}
                {% if useTitle %}
                    // Make table head
                    if (self.$cont.children().length == 0) {
                        var headHtml = '<thead><tr>';            
                        $.each(dataArr, function(index, value) {
                            headHtml += `<th>${index}</th>`;
                        });
                        headHtml += '</tr></thead>';
                        self.$cont.parent().prepend($(headHtml));
                    }
                {% endif %}

                var textHtml = '';
                var i = 0;
                $.each(dataArr, function(index, value) {
                    if (i !== 0)
                        textHtml += '<td>';
                    textHtml += (!visible && i == 0)
                        ? `<span style="color:#888"><i class="ace-icon fa fa-eye-slash"></i> ${value}</span>`
                        : value;
                    if (i !== dataArr.length-1)
                        textHtml += '</td>';
                    i++;
                });
                var html = `
                    <tr><td>
                        <input id="{{activeId}}_${self.idx}" type="hidden" value="${value}" name="{{activeName}}[${self.idx}]">
                        <a href="#" class="js-child-list-icon-trash  btn btn btn-danger btn-minier no-border">
                            <i class="ace-icon fa fa-times"></i>
                        </a>
    {% if editUrl %}
        {% if useEditRaw %}
                        <a href="#" class="js-child-list-icon-edit  btn btn btn-info btn-minier no-border" data-id="${value}" title="Редактировать во всплывающем окне">
                            <i class="ace-icon fa fa-pencil"></i>
                        </a>
        {% else %}
                        <a href="{{ App.createAbsoluteUrl(editUrl~"/edit") }}?id=${value}" target="_self" class="js-child-list-icon-edit  btn btn btn-info btn-minier no-border" data-id="${value}" title="Редактировать в новом окне">
                            <i class="ace-icon fa fa-arrow-right"></i>
                        </a>
        {% endif %}
    {% endif %}
                        &nbsp;${textHtml}
                    </td></tr>`;
                self.$cont.append(html);
                self.idx++;
            },

            createEmptyItem: function()
            {
                var self = this;
                if (self.$cont.find('tr').length == 0) {
                    const html = `<tr><td>Ничего не выбрано...<input id="{{activeId}}_${self.idx}" type="hidden" value="" name="{{activeName}}[${self.idx}]"></td></tr>`;
                    self.$cont.append(html);
                    self.$cont.parent().find('thead').remove();
                    self.idx++;
                }
            },

            removeEmptyItem: function()
            {
                var self = this;
                self.$cont.find('input[type=hidden][value=""]').closest('tr').remove();
            }
        };

        childList.init();
    })();
});
</script>

<div class='admin-child-list-widget {{_uniqId}}'>
    <div class='row'>
        <div class='col-sm-8 col-xs-12'>
            <table id='js-child-list-cont-{{_uniqId}}' class='table-condensed table-bordered table-striped' style='min-height:44px; width:100%;'>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class='space-4'></div>

    <a data-toggle="dropdown" class="dropdown-toggle" id='js-child-list-add-{{_uniqId}}' href="#">
        <div class='btn btn-mini no-border btn-primary'>
            <i class='fa fa-plus'></i>
        </div>
    </a>
    <ul class="dropdown-menu dropdown-info" id='js-child-list-dropdown-menu-{{_uniqId}}'>
    {% for value, data in selectData %}
        <li><a href='#' data-id={{value}} data-text-field="{{ childModel.getAttributeLabel(textField) }}" data-visible="{{data.visible}}">
            {% if data.visible %}
                {{ data.text }}
            {% else %}
                <span style="color:#888"><i class="ace-icon fa fa-eye-slash"></i> {{ data.text }}</span>
            {% endif %}
        </a></li>
    {% endfor %}
    </ul>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>
