{% set activeId = static('CHtml', 'activeId', [model, innerChildField]) %}
{% set activeName = static('CHtml', 'activeName', [model, innerChildField]) %}

<script type="text/javascript">
$(function() {
    var idx = 1;
    var $cont = $('table#js-child-list-cont-{{_uniqId}} > tbody');
    var $addBtn = $('#js-child-list-add-{{_uniqId}}');

    $(window).on("message", function(e) {
        var data = e.originalEvent.data;
        if (e.originalEvent.origin === '{{ App.request.hostInfo|raw }}') {
            if (data.type == 'closePopupWindow') {
                $('.admin-child-obj-list-widget.{{_uniqId}} #myModal').modal('hide')

                if (data.subtype == "{{ const('MAdminController', 'IFRAME_SUBTYPE_EDIT') }}")
                    document.location.reload();

                if (data.subtype == "{{ const('MAdminController', 'IFRAME_SUBTYPE_NEW') }}") {
                    createChildItem($cont, data.{{valueField}}, data.{{textField}}, data.{{visibleField}});
                    $(document).trigger('adminSave');
                }
            }
        }
    });

    function createChildItem($cont, value, text, visible)
    {
        // Удаляем пустое значение
        $('.admin-child-obj-list-widget.{{_uniqId}} #js-empty-value').remove();
        
        visible = parseInt(visible);

        var textHtml = visible
            ? text
            : '<span style="color:#888"><i class="ace-icon fa fa-eye-slash"></i> ' + text + '</span>';

        var html = '' +
'                <tr><td>' +
'                    <input id="{{activeId}}_' + idx + '" type="hidden" value="' + value + '" name="{{activeName}}[' + idx + ']">' +
'                    <a href="#" class="js-child-list-icon-trash  btn btn btn-danger btn-minier no-border">' +
'                        <i class="ace-icon fa fa-times"></i>' +
'                    </a>' +
{% if editUrl %}
'                    <a href="#" class="js-child-list-icon-edit  btn btn btn-info btn-minier no-border" data-id="' + value + '" title="Редактировать во всплывающем окне">' +
'                        <i class="ace-icon fa fa-pencil"></i>' +
'                    </a>' +
{% endif %}
'                    &nbsp;' + textHtml +
'                </td></tr>';
        $cont.append(html);
        idx++;
    }

    function createEmptyItem($cont)
    {
        if ($cont.find('tr').length == 0) {
            var html = '<tr id="js-empty-value"><td>Ничего не выбрано...<input id="{{activeId}}_' + idx + '" type="hidden" value="" name="{{activeName}}[' + idx + ']"></td></tr>';
            $cont.append(html);
            idx++;
        }
    }

    // Создаем первоначальный список
    var arr = [
    {% for obj in data %}
        {% spaceless %}
        {# Исправление ошибки, когда сохранились пустые значения #}
        {% if obj[valueField] != '' %}
            {'value':{{obj[valueField]}}, 'text':"{{obj[textField]|text}}", 'visible':"{{obj[visibleField]|text}}"}{% if not loop.last %},{% endif %}
        {% endif %}
        {% endspaceless %}

    {% endfor %}
    ];
    if (arr.length == 0) {
        createEmptyItem($cont);
    } else {
        for (var i = 0; i < arr.length; i++)
            createChildItem($cont, arr[i].value, arr[i].text, arr[i].visible);
    }

    // Add button
    $addBtn.click(function() {
        var editUrl = "{{ App.createAbsoluteUrl(editUrl~'/addRaw') }}";

        var queryStr = 'p[0]={{valueField}}&p[1]={{textField}}&p[2]={{visibleField}}';
        editUrl += '?'+queryStr;

        $('.admin-child-obj-list-widget.{{_uniqId}} #myModal .modal-body').html("<iframe src='"+editUrl+"' frameborder=0 width='100%' height='"+window.innerHeight+"'></iframe>");
        $('.admin-child-obj-list-widget.{{_uniqId}} #myModal').modal()
        return false;
    });

    // Edit button
    {% if editUrl %}
        $('.admin-child-obj-list-widget.{{_uniqId}}').delegate('.js-child-list-icon-edit', ace.click_event, function() {
            var $btn = $(this);
            var itemId = $btn.data('id');
            var editUrl = "{{ App.createAbsoluteUrl(editUrl~'/editRaw') }}";

            var queryStr = 'p[0]={{valueField}}&p[1]={{textField}}&p[2]={{visibleField}}';
            editUrl += '?id='+itemId+'&'+queryStr;

            $('.admin-child-obj-list-widget.{{_uniqId}} #myModal .modal-body').html("<iframe src='"+editUrl+"' frameborder=0 width='100%' height='"+window.innerHeight+"'></iframe>");
            $('.admin-child-obj-list-widget.{{_uniqId}} #myModal').modal()
            return false;
        });
    {% endif %}

    // Remove button
    $('.admin-child-obj-list-widget.{{_uniqId}}').delegate('.js-child-list-icon-trash', ace.click_event, function() {
        var $btn = $(this);
        bootbox.confirm("Вы уверены?", function(result) {
            if (result) {
                $btn.closest('tr').remove();
                createEmptyItem($cont);
            }
        });
        return false;
    });

    // Sortable
    $cont.sortable().disableSelection();
});
</script>

<div class='admin-child-obj-list-widget {{_uniqId}}'>
    <div class='row'>
        <div class='col-sm-8 col-xs-12'>
            <table id='js-child-list-cont-{{_uniqId}}' class='table-bordered table-striped' style='min-height:44px; width:100%;'>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class='space-4'></div>

    <a id='js-child-list-add-{{_uniqId}}' href="#">
        <div class='btn btn-mini no-border btn-primary'>
            <i class='fa fa-plus'></i>
        </div>
    </a>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>
