{% set activeId = static('CHtml', 'activeId', [model, innerDocsField]) %}
{% set activeName = static('CHtml', 'activeName', [model, innerDocsField]) %}

{% set activeRemoveId = static('CHtml', 'activeId', [model, innerRemoveField]) %}
{% set activeRemoveName = static('CHtml', 'activeName', [model, innerRemoveField]) %}

<script type="text/javascript">
$(function() {
    $(window).on("message", function(e) {
        var data = e.originalEvent.data;
        if (e.originalEvent.origin === '{{ App.request.hostInfo|raw }}') {
            if (data.type == 'closePopupWindow') {
                $('.admin-doc-list-widget.{{_uniqId}} #myModal').modal('hide')
            }
        }
    });

    var idx = 1;
    var $cont = $('#js-doc-list-cont-{{_uniqId}}');
    var $addBtn = $('#js-doc-list-add-btn-{{_uniqId}}');

    $addBtn.click(function() {
        var activeName = '{{activeName}}['+idx+']';
        var activeId = '{{activeId}}_'+idx;
        $cont.find('.js-inner-cont').append('\
            <div class="clearfix">\
                <div class="js-delete-btn  btn btn-mini no-border btn-danger pull-left" style="margin-right:10px">\
                    <i class="fa fa-trash"></i>\
                </div>\
                <div class="pull-left" style="width:-moz-calc(100% - 40px); width:-webkit-calc(100% - 40px); width:calc(100% - 40px);">\
                    <input id="'+activeId+'" type="hidden" value="" name="'+activeName+'">\
                    <input type="file" name="'+activeName+'" id="'+activeId+'"/>\
                </div>\
            </div>\
        ');
        $('input[type="file"][name="'+activeName+'"]').ace_file_input();
        idx++;
    });
    $cont.delegate('.js-delete-btn', 'click', function() {
        $(this).parent().remove();
    });

    // Edit button
    $('.admin-doc-list-widget.{{_uniqId}} .js-doc-list-icon-edit').on(ace.click_event, function() {
        var $btn = $(this);
        var itemId = $btn.data('id');
        var editUrl = "{{ App.createAbsoluteUrl('/documentsList/adminDocumentsItem/editRaw') }}";
        editUrl += '?id='+itemId;
        $('.admin-doc-list-widget.{{_uniqId}} #myModal .modal-body').html("<iframe src='"+editUrl+"' frameborder=0 width='100%' height='500px'></iframe>");
        $('.admin-doc-list-widget.{{_uniqId}} #myModal').modal()
        return false;
    });    

    // Remove button
    $('.admin-doc-list-widget.{{_uniqId}} .js-doc-list-icon-trash').on(ace.click_event, function() {
        var $btn = $(this);
        bootbox.confirm("Вы уверены?", function(result) {
            if (result) {
                var fileName = $btn.data('file');
                var activeRemoveName = '{{activeRemoveName}}[]';
                $btn.closest('#js-doc-list-files-cont').after('<input id="{{activeRemoveId}}" type="hidden" value="'+fileName+'" name="'+activeRemoveName+'">')
                $btn.closest('.row').remove();
            }
        });
        return false;
    });
});
</script>

<div class='admin-doc-list-widget {{_uniqId}}'>
    <div class='row'>
        <div id='js-doc-list-cont-{{_uniqId}}' class='col-xs-8  table-bordered' style='min-height:44px'>
            <div class='js-inner-cont'></div>
        </div>
        <div class='col-xs-4'>
            <div id='js-doc-list-add-btn-{{_uniqId}}' class='btn btn-mini no-border btn-primary'>
                <i class='fa fa-plus'></i>
            </div>
        </div>
    </div>
    <div class='space-4'></div>

    <div id='js-doc-list-files-cont'>
        {% for filename in model[attribute] %}
            {% set docItem = model.getDocumentsItemByFileName(filename) %}
            {% set origFileName = model.getDocumentOriginalFileName(filename) %}
            <div class='row'>
                <div class='col-sm-6  col-lg-5'>
                    <a href="#" class='js-doc-list-icon-edit  btn btn btn-minier no-border' data-id="{{ docItem.id }}">
                        <i class="ace-icon fa fa-pencil"></i>
                    </a>
                    <a href="#" class='js-doc-list-icon-trash  btn btn btn-danger btn-minier no-border' data-file="{{ filename }}">
                        <i class="ace-icon fa fa-times"></i>
                    </a>
                    &nbsp;
                    {{ origFileName|raw }}
                </div>
                <div class='col-sm-6  col-lg-7'>
                    {{ docItem.title }}
                </div>
            </div>
            <div class='hr hr-2 hr-dotted'></div>
        {% endfor %}

    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>
