{% set activeId = static('CHtml', 'activeId', [model, innerChildField]) %}
{% set activeName = static('CHtml', 'activeName', [model, innerChildField]) %}

<style type="text/css">
    .admin-path-points-widget.{{_uniqId}} #js-path-points-cont-{{_uniqId}} input[type='text'] {
        width: 150px;
        padding-top: 0;
        padding-bottom: 0;
    }
</style>

<script type="text/javascript">
    var pathPoint = {
        $cont: null,
        $addBtn: null,
        idx: 1,

        map: null,
        poly: null,
        collection: null,
        pointsArr: [],

        init: function()
        {
            var self = this;

            self.$cont = $('.admin-path-points-widget.{{_uniqId}} #js-path-points-cont-{{_uniqId}} > tbody');
            self.$addBtn = $('.admin-path-points-widget.{{_uniqId}} #js-path-points-add-btn-{{_uniqId}}');

            self.initMap();
            self.initPopupMap();

            // Sortable
            self.$cont.sortable({
                update: function(event, ui) {
                    self.reinitPointsFromList();
                }
            }).disableSelection();
        },

        initMap: function()
        {
            var self = this;

            YMaps.ready(function() {
                self.map = new YMaps.Map('js-path-points-small-map-{{_uniqId}}', {
                    center:     [{{defaultLatitude}}, {{defaultLongitude}}],
                    zoom:       {{defaultZoom}},
                    type:       "yandex#map",
                    behaviors:  ["default"]
                });

                self.map.controls.add('zoomControl', { top: 5, left: 5 });

                self.poly = new YMaps.Polyline([], {}, {
                    strokeWidth: 6,
                    strokeColor: '#0000FF'
                });
                self.map.geoObjects.add(self.poly);

                self.collection = new YMaps.GeoObjectCollection(null, {preset: 'islands#nightCircleIcon'});
                self.map.geoObjects.add(self.collection);

                self.reinitPointsFromList();
            });
        },

        initPopupMap: function()
        {
            var self = this;

            $(window).on("message", function(e) {
                var data = e.originalEvent.data;
                if (e.originalEvent.origin === '{{ App.request.hostInfo|raw }}') {
                    if (data.type == 'closePopupWindow') {
                        $('.admin-path-points-widget.{{_uniqId}} #myModal').modal('hide');
                    }
                }
            });

            self.$addBtn.click(function() {
                $('.admin-path-points-widget.{{_uniqId}} #popupMap').modal();
            });
            self.$cont.delegate('.js-delete-btn', 'click', function() {
                var lng = $(this).data('lng');
                var lat = $(this).data('lat');
                $(this).parent().remove();
                self.reinitPointsFromList();
            });

            // Edit button
            $('.admin-path-points-widget.{{_uniqId}} .js-edit-btn').on(ace.click_event, function() {
                var $btn = $(this);
                var itemId = $btn.data('id');
                var editUrl = "{{ App.createAbsoluteUrl('/excursions/adminPathPoints/editRaw') }}";
                editUrl += '?id='+itemId;
                $('.admin-path-points-widget.{{_uniqId}} #myModal .modal-body').html("<iframe src='"+editUrl+"' frameborder=0 width='100%' height='500px'></iframe>");
                $('.admin-path-points-widget.{{_uniqId}} #myModal').modal()
                return false;
            });
        },

        onClickMap: function(coords)
        {
            var self = this;
            $(".admin-path-points-widget.{{_uniqId}} #popupMap").modal("hide");

            var activeName = '{{activeName}}['+self.idx+']';
            var activeId = '{{activeId}}_'+self.idx;
            self.$cont.append('\
                <tr><td>\
                    <span class="index" style="margin:0 10px;">'+self.idx+'</span> \
                    <input type="hidden" name="'+activeName+'[id]" id="'+activeId+'_id" value="0"/>\
                    <input readonly="readonly" type="text" name="'+activeName+'[lng]" id="'+activeId+'_lng" value="'+coords[0]+'"/>\
                    <input readonly="readonly" type="text" name="'+activeName+'[lat]" id="'+activeId+'_lat" value="'+coords[1]+'"/>\
                    <div class="js-delete-btn  btn btn-mini no-border btn-danger" style="margin-left:10px"  data-lng="'+coords[0]+'" data-lat="'+coords[1]+'">\
                        <i class="fa fa-trash"></i>\
                    </div>\
                </td></tr>'
            );
            self.addPoint(coords[0], coords[1]);
        },

        addPoint: function(lng, lat)
        {
            this.pointsArr.push([lng, lat]);
            this.poly.geometry.setCoordinates(this.pointsArr);

            var p = new YMaps.Placemark([lng, lat], {
                iconContent: this.idx,
            });
            this.collection.add(p);
            this.idx++;
        },

        reinitPointsFromList: function()
        {
            var self = this;
            self.poly.geometry.setCoordinates([]);
            self.collection.removeAll();
            self.pointsArr = [];
            self.idx = 1;

            self.$cont.find('.js-delete-btn').each(function() {
                var lng = $(this).data('lng');
                var lat = $(this).data('lat');
                self.addPoint(lng, lat);
            });

            // Переписываем индексы
            var idx = 1;
            self.$cont.find('.index').each(function() {
                $(this).text(idx);
                idx++;
            });
        }
    };
    $(function() {
        pathPoint.init();
    });
</script>


<div class='admin-path-points-widget {{_uniqId}}'>

    <div class='row'>
        <div class='col-xs-12'>
            <div id="js-path-points-small-map-{{_uniqId}}" style="width: 100%; height: 350px; float:left; padding: 0px 5px 0px 0px;"></div>
        </div>
    </div>
    <div class='space-4'></div>

    <div class='row'>
        <div class='col-xs-11  col-sm-11  col-md-11  col-lg-10  relative'>
            <table id='js-path-points-cont-{{_uniqId}}' class='table-bordered table-striped  block  relative' style='min-height:44px; width:100%;'>
                <tbody class='relative'>

                    {% for id in model[attribute] %}
                        {% set point = model.getPathPoint(id) %}
                        {% set activeIdTmp = activeId~'_'~loop.index %}
                        {% set activeNameTmp = activeName~'['~loop.index~']' %}
                        <tr><td>
                            <span class="index" style="margin:0 10px;">{{ loop.index }}</span> 
                            <input type="hidden" name="{{ activeNameTmp }}[id]" id="{{ activeIdTmp }}_id" value="{{ id }}"/>
                            <input readonly="readonly" type="text" name="{{ activeNameTmp }}[lng]" id="{{ activeIdTmp }}_lng" value="{{ point.lng }}"/>
                            <input readonly="readonly" type="text" name="{{ activeNameTmp }}[lat]" id="{{ activeIdTmp }}_lat" value="{{ point.lat }}"/>
                            {# Не обновляется <input readonly="readonly" type='text' data-id="{{ id }}" value="{{ point.desc }}"/> #}

                            <div class="js-edit-btn  btn btn-mini no-border" style="margin-left:10px"  data-id="{{ id }}">
                                <i class="fa fa-pencil"></i>
                            </div>

                            <div class="js-delete-btn  btn btn-mini no-border btn-danger" style="margin-left:10px"  data-lng="{{ point.lng }}" data-lat="{{ point.lat }}">
                                <i class="fa fa-trash"></i>
                            </div>
                        </td></tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class='col-xs-1  col-sm-1  col-md-1  col-lg-2'>
            <div id='js-path-points-add-btn-{{_uniqId}}' class='btn btn-mini no-border btn-primary'>
                <i class='fa fa-plus'></i>
            </div>
        </div>
    </div>
    <div class='space-4'></div>


    <!-- Modal map -->
    <div class="modal fade" id="popupMap" tabindex="-1" role="dialog" aria-labelledby="popupMapLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {{ widget('ext.widgets.YandexMapWidget', {'useClick': 'function(c) { pathPoint.onClickMap(c); }' }) }}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>