<script type="text/javascript">
$(function() {
    var $tagInput = $('.admin-tags-widget.{{_uniqId}} #form-field-tags');
    $tagInput.tag({
        placeholder: $tagInput.attr('placeholder'),
        source: {{ tagsArr|raw }},
    });
});
</script>

<div class='admin-tags-widget {{_uniqId}}'>
    {% set currTags = '' %}
    {% for tag in data %}
        {% set currTags = currTags ~ (currTags=='' ? '' : ',') ~ tag.name %}
    {% endfor %}
    {% set activeName = static('CHtml', 'activeName', [model, innerField]) %}
    <input type="text" name="{{ activeName }}" id="form-field-tags" value="{{ currTags }}" placeholder="{{ _t('admin', 'Введите тег...') }}">
</div>
