<script type="text/javascript">
    var yandexMap = {
        o: {
            centerLat: 0,
            centerLng: 0,
            lat: 0,
            lng: 0,
            zoom: 0,
            readonly: 0
        },
        map: null,
        placemarks: {},

        popupMap: null,
        popupPlacemarks: {},

        init: function(options)
        {
            var self = this;
            $.extend(self.o, options);

            self.initMap();
            YMaps.ready(function() {
                self.map = new YMaps.Map('small-map-{{_uniqId}}', {
                    center:     [self.o.centerLat, self.o.centerLng],
                    zoom:       self.o.zoom,
                    type:       "yandex#map",
                    behaviors:  ["default"]
                });
                self.map.behaviors.disable('drag');

                if (self.o.lat || self.o.lng)
                    self.addPlacemark(self.o.lat, self.o.lng);
            });
        },

        initMap: function()
        {
            var self = this;
            $('#show-{{_uniqId}}').click(function()
            {
                var coords          = self.getCoordinates();
                var latitude        = coords[0];
                var longitude       = coords[1];
                var zoom            = !self.getZoom() ? '{{defaultZoom}}' : self.getZoom();
                var centerLatitude  = !coords[0] ? '{{defaultLatitude}}'    : coords[0];
                var centerLongitude = !coords[1] ? '{{defaultLongitude}}'   : coords[1];

                // Создаем контейнер в котором будет лежать карта
                var content = '<div style="width:100%; height:500px"><div id="ymap-{{_uniqId}}" style="width: 100%; height: 100%; z-index: 99999 !important;"></div></div>';

                var modalId = "#map-modal-{{_uniqId}}";
                $(modalId + " .modal-body").html(content);
                $(modalId).modal({
                    "backdrop"  : "static",
                    "keyboard"  : true,
                    "show"      : true
                });

                YMaps.ready(function() {
                    self.initPopupMap(centerLatitude, centerLongitude, zoom);
                    if (!isNaN(latitude) && !isNaN(longitude))
                        self.addPopupPlacemark(latitude, longitude);
                });
                return false;
            });

            $('#del-{{_uniqId}}').click(function()
            {
                bootbox.confirm("Удалить точку?", function(result) {
                    if (result) {
                        self.setCoordinates('', '', '');
                        self.removePopupPlacemark();
                        self.removePlacemark();
                    }
                }); 
                return false;
            });
            self.toogleDeleteButton();
        },

        initPopupMap: function(centerLatitude, centerLongitude, zoom)
        {
            var self = this;
            self.popupMap = new YMaps.Map("ymap-{{_uniqId}}", {
                center:     [centerLatitude, centerLongitude],
                zoom:       zoom,
                type:       "yandex#map",
                behaviors:  ["default", "scrollZoom"]
            });

            self.popupMap.controls
                .add('zoomControl')     // Кнопка изменения масштаба
                .add('typeSelector');   // Список типов карты

            if (!self.o.readonly) {
                // Обработка события, возникающего при щелчке левой кнопкой мыши в любой точке карты.
                // При возникновении такого события поставим метку, если ее еще нет.
                self.popupMap.events.add('click', function(e) {
                    var coords = e.get('coordPosition');

                    self.removePopupPlacemark();
                    self.removePlacemark();

                    self.addPopupPlacemark(coords[0], coords[1]);
                    self.addPlacemark(coords[0], coords[1]);
                });
            }
        },

        createPlacemark: function(lat, lng)
        {
            return new YMaps.Placemark([lat, lng], {});
        },

        addPlacemark: function(lat, lng)
        {
            var self = this;
            var myPlacemark = self.createPlacemark(lat, lng);

            self.map.geoObjects.add(myPlacemark);
            self.map.setCenter([lat, lng], self.o.zoom);
            self.placemarks['{{_uniqId}}'] = myPlacemark;
        },

        removePlacemark: function()
        {
            var self = this;
            if (!self.placemarks['{{_uniqId}}'])
                return;

            self.map.geoObjects.remove(self.placemarks['{{_uniqId}}']);
            delete self.placemarks['{{_uniqId}}'];
        },


        addPopupPlacemark: function(lat, lng)
        {
            var self = this;
            var myPlacemark = self.createPlacemark(lat, lng);
            
            self.popupMap.geoObjects.add(myPlacemark);
            self.popupPlacemarks['{{_uniqId}}'] = myPlacemark;

            // Запоминаем координаты и масштаб
            self.setCoordinates(lat, lng, self.popupMap.getZoom());
        },

        removePopupPlacemark: function()
        {
            var self = this;
            if (!self.popupPlacemarks['{{_uniqId}}'] || !self.popupMap)
                return;
            self.popupMap.geoObjects.remove(self.popupPlacemarks['{{_uniqId}}']);
            delete self.popupPlacemarks['{{_uniqId}}'];
        },

        getCoordinates: function()
        {
            var latitude = parseFloat(this.o.lat);
            var longitude = parseFloat(this.o.lng);
            return new Array(latitude, longitude);
        },

        setCoordinates: function(latitude, longitude, zoom)
        {
            this.o.lat  = latitude;
            this.o.lng  = longitude;
            this.o.zoom = zoom;
            this.toogleDeleteButton();

            var str = '';
            if (latitude || longitude)
                str = latitude+';'+longitude;
            if (zoom)
                str += ';'+zoom;
            $('#textField-{{_uniqId}}').val(str);
        },

        getZoom: function()
        {
            return parseInt(this.o.zoom);
        },

        toogleDeleteButton: function()
        {
            var self = this;
            if (self.o.readonly) {
                $('#del-{{_uniqId}}').hide();
            } else {
                var coords = this.getCoordinates();
                if (!coords[0])
                    $('#del-{{_uniqId}}').hide();
                else
                    $('#del-{{_uniqId}}').show();
            }
        }
    };
    $(function() {
        yandexMap.init({
            'centerLng': {{centerLng}},
            'centerLat': {{centerLat}},
            'lat': {{lat}},
            'lng': {{lng}},
            'zoom': {{zoom}},
            'readonly':{{readonly}}
        });
    });
</script>

{% set hiddenClass = isDebug() ? '' : 'hide' %}
{{ form.textField(model, attribute, {
    'id': 'textField-'~_uniqId,
    'placeholder': model.getAttributeLabel(attribute),
    'class': 'col-xs-10 col-sm-8 '~hiddenClass,
    'readonly': 'readonly'
})|raw }}
<div class='clearfix'></div>

<div id="small-map-{{_uniqId}}" style="width: 300px; height: 150px; float:left; padding: 0px 5px 0px 0px;"></div>
<div>
    <div class="btn-toolbar">
        <div class="btn-group btn-group-vertical">
            <a id="show-{{ _uniqId }}" class="btn no-border" href="#" title="Указать точку"><i class="fa fa-map-marker"></i></a>
            <a id="del-{{ _uniqId }}"  class="btn no-border" href="#" title="Удалить точку"><i class="fa fa-remove"></i></a>
        </div>
    </div>
</div>
<div id="map-modal-{{_uniqId}}" class="modal fade">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
