{{ import('css', 'reviews.css', 'modules.reviews.widgets.css') }}

{{ import('js', 'reviews.js', 'modules.reviews.widgets.js') }}
<script type="text/javascript">
$(function() {
    reviews.init({
        containerSelector: '.review-widget.{{_uniqId}}'
    });
});
</script>

{% if review|length %}
<div class='review-widget {{_uniqId}}'>
    <h1>{{ _t('app', 'Спросите наших клиентов')}}:</h1>

    <table>
    {% for item in review %}
        <tr class='review-item'>
            <td>
                <img src='{{ item.getImageUrl() }}'>
            </td>
            <td>
                <div class='overflow-block'>
                    <div class='text'>
                        {{ item.text|raw }}
                    </div>
                    <div class='info'>
                        <b>{{ item.info }}</b>
                    </div>
                </div>
                <a class='readmore-show  hide' href='#'>{{ _t('app', 'Показать')}}</a>
                <a class='readmore-hide  hide' href='#'>{{ _t('app', 'Скрыть')}}</a>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}