.room-data,
.render-picture {
  min-height: 1px;
}
.room-data .room-image,
.render-picture .room-image {
  position: relative;
}
.room-data .room-image:not(.no-shadow) .cont:after,
.render-picture .room-image:not(.no-shadow) .cont:after,
.room-data .room-image:not(.no-shadow) .fix-img:after,
.render-picture .room-image:not(.no-shadow) .fix-img:after {
  content: '';
  display: block;
  width: 100%;
  height: 18px;
  background: url(../../img/rm_shadow.png) left top no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-transform: translateZ(0);
}
.room-data .room-image .cont,
.render-picture .room-image .cont {
  position: relative;
}
.room-data .room-image .fix-img,
.render-picture .room-image .fix-img {
  position: fixed;
  top: 0;
  z-index: 2;
}
.room-data .room-image img,
.render-picture .room-image img {
  position: relative;
  width: 100%;
  max-width: 950px;
}
.room-data .room-image .main,
.render-picture .room-image .main {
  position: relative;
}
.room-data .room-image .main img,
.render-picture .room-image .main img {
  background-color: #606060;
}
.room-data .room-image [id^='group_'],
.render-picture .room-image [id^='group_'] {
  position: absolute;
  left: 0;
  top: 0;
}
.room-data .room-groups,
.render-picture .room-groups {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
}
@media (min-width: 480px) {
  .room-data .room-groups,
  .render-picture .room-groups {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 768px) {
  .room-data .room-groups,
  .render-picture .room-groups {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  .room-data .room-groups,
  .render-picture .room-groups {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 1200px) {
  .room-data .room-groups,
  .render-picture .room-groups {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 480px) {
  .room-data .room-groups,
  .render-picture .room-groups {
    padding-top: 5px;
  }
}
@media (min-width: 768px) {
  .room-data .room-groups,
  .render-picture .room-groups {
    padding-top: 8px;
  }
}
@media (min-width: 992px) {
  .room-data .room-groups,
  .render-picture .room-groups {
    padding-top: 11px;
  }
}
@media (min-width: 1200px) {
  .room-data .room-groups,
  .render-picture .room-groups {
    padding-top: 11px;
  }
}
.room-data .room-groups .row,
.render-picture .room-groups .row {
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #e3e3e3;
}
@media (min-width: 480px) {
  .room-data .room-groups .row,
  .render-picture .room-groups .row {
    padding-top: 12px;
  }
}
@media (min-width: 768px) {
  .room-data .room-groups .row,
  .render-picture .room-groups .row {
    padding-top: 15px;
  }
}
@media (min-width: 992px) {
  .room-data .room-groups .row,
  .render-picture .room-groups .row {
    padding-top: 15px;
  }
}
@media (min-width: 1200px) {
  .room-data .room-groups .row,
  .render-picture .room-groups .row {
    padding-top: 15px;
  }
}
@media (min-width: 480px) {
  .room-data .room-groups .row,
  .render-picture .room-groups .row {
    padding-bottom: 7px;
  }
}
@media (min-width: 768px) {
  .room-data .room-groups .row,
  .render-picture .room-groups .row {
    padding-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .room-data .room-groups .row,
  .render-picture .room-groups .row {
    padding-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .room-data .room-groups .row,
  .render-picture .room-groups .row {
    padding-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .room-data .room-groups .row,
  .render-picture .room-groups .row {
    border-bottom: none;
  }
}
.room-data .room-groups .desc,
.render-picture .room-groups .desc {
  font-size: 10px ;
  line-height: 1 ;
  line-height: 14px ;
  color: rgba(0, 0, 0, 0.7);
  padding-top: 5px;
}
@media (min-width: 480px) and (max-width: 767px) {
  .room-data .room-groups .desc,
  .render-picture .room-groups .desc {
    font-size: 12px ;
    line-height: 1 ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .room-data .room-groups .desc,
  .render-picture .room-groups .desc {
    font-size: 15px ;
    line-height: 1 ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .room-data .room-groups .desc,
  .render-picture .room-groups .desc {
    font-size: 15px ;
    line-height: 1 ;
  }
}
@media (min-width: 1200px) {
  .room-data .room-groups .desc,
  .render-picture .room-groups .desc {
    font-size: 15px ;
    line-height: 1 ;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .room-data .room-groups .desc,
  .render-picture .room-groups .desc {
    line-height: 16px ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .room-data .room-groups .desc,
  .render-picture .room-groups .desc {
    line-height: 21px ;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .room-data .room-groups .desc,
  .render-picture .room-groups .desc {
    line-height: 21px ;
  }
}
@media (min-width: 1200px) {
  .room-data .room-groups .desc,
  .render-picture .room-groups .desc {
    line-height: 21px ;
  }
}
@media (min-width: 480px) {
  .room-data .room-groups .desc,
  .render-picture .room-groups .desc {
    padding-top: 5px;
  }
}
@media (min-width: 768px) {
  .room-data .room-groups .desc,
  .render-picture .room-groups .desc {
    padding-top: 8px;
  }
}
@media (min-width: 992px) {
  .room-data .room-groups .desc,
  .render-picture .room-groups .desc {
    padding-top: 11px;
  }
}
@media (min-width: 1200px) {
  .room-data .room-groups .desc,
  .render-picture .room-groups .desc {
    padding-top: 11px;
  }
}
