/**
 http://www.fontsquirrel.com/tools/webfont-generator

 Character type: lowercase, uppercase, numbers, punctuation, currency, math symbols;
 Language: Cyrillic, English;
 Unicode Tables: Basic latin, Currency symbols, punctuation;
 */

@import url(/fonts/font-awesome-4.7.0/css/font-awesome.css);
