.hmenu {
  display: inline-block;
}
.hmenu ul > li.hover:hover > .submenu {
  display: block;
}
.hmenu ul.root {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.hmenu ul.root:after {
  content: '';
  float: none;
  display: inline-block;
}
.hmenu ul.root > li {
  float: left;
  list-style-type: none;
}
.hmenu ul.root > li:nth-child(1) {
  padding-left: 0px;
}
.hmenu ul.root > li:nth-last-child(1) {
  padding-right: 0px;
}
.hmenu ul.root > li.disable a {
  color: #e3e3e3;
  cursor: default;
  pointer-events: none;
  text-decoration: none !important;
}
.hmenu ul.root > li .caret {
  display: none;
}
.hmenu ul.submenu {
  display: none;
}
.vmenu {
  display: inline-block;
}
.vmenu ul.root {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.vmenu ul.root > li {
  list-style-type: none;
}
.vmenu ul.root > li:nth-child(1) {
  padding-top: 0px;
}
.vmenu ul.root > li:nth-last-child(1) {
  padding-bottom: 0px;
}
.vmenu ul.root > li.disable a {
  color: #e3e3e3;
  cursor: default;
  pointer-events: none;
  text-decoration: none !important;
}
.vmenu ul.root > li .caret {
  display: none;
}
.vmenu ul.submenu {
  display: none;
}
.menu-bootstrap.hmenu ul.root > li > a .caret {
  display: inline-block;
  color: #000;
}
.menu-bootstrap.hmenu ul.submenu.dropdown-menu {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.menu-bootstrap.hmenu ul.submenu.dropdown-menu > li > a {
  color: #b02500;
}
.menu-bootstrap.hmenu ul.submenu.dropdown-menu > li.disable a {
  color: #e3e3e3;
  cursor: default;
  pointer-events: none;
  text-decoration: none !important;
}
.menu-bootstrap.hmenu ul.submenu .btn-group {
  margin-left: 0;
  display: block;
}
