{% extends 'views/layouts/main.twig' %}

{% block css %}
    {{ parent() }}
    {{ import('css','mainPage.css', 'application.modules.mainPage.css') }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class='main-page'>
</div>
{% endblock %}
